
  
  /*
    Web-Barcelona.com
  */
  .inputpetit{
    max-width: 60px !important;
  }



  #eucookielaw { display:none }

  .panel-heading {
    color: #ffffff !important;
  }

  .panel-green {
    border-color: #5cb85c;
  }

  .panel-green .panel-heading {
      border-color: #5cb85c;
      color: #fff;
      background-color: #5cb85c;
  }

  .panel-green a {
      color: #5cb85c;
  }

  .panel-green a:hover {
      color: #3d8b3d;
  }

  .panel-red {
      border-color: #d9534f;
  }

  .panel-red .panel-heading {
      border-color: #d9534f;
      color: #fff;
      background-color: #d9534f;
  }

  .panel-red a {
      color: #d9534f;
  }

  .panel-red a:hover {
      color: #b52b27;
  }

  .panel-yellow {
      border-color: #f0ad4e;
  }

  .panel-yellow .panel-heading {
      border-color: #f0ad4e;
      color: #fff;
      background-color: #f0ad4e;
  }

  .panel-yellow a {
      color: #f0ad4e;
  }

  .panel-yellow a:hover {
      color: #df8a13;
  }

  .huge {
    font-size: 40px;
    line-height: normal;
  }
  .navbar-brand {
  padding: 0px 15px !important;
}
.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.navbar-default {
  background-color: #000000;
  border-color: #000000;
}

.navbar-default .fa {
  font-size: 20px !important;
}

.dropdown-menu > li > a {
    font-size: 12px !important;
}
.errorform{
  background-color: #f3a5a3;
}