.chart {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 150px;
  z-index: 2;
  left:-20px;
  font-size: 17px;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular .chart {
  margin-top: 0;
}
.mini-card{padding:16px;max-height:85px;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:-ms-flex;display:flex;-webkit-flex-flow:row nowrap;-moz-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap}.mini-card:before{content:'';position:absolute;display:block;width:4px;left:-1px;top:0;bottom:0;background-color:#dfe1e1;border-bottom-left-radius:2px;border-top-left-radius:2px}.mini-card .mini-card-left{-webkit-flex:1 1 auto;-moz-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}.mini-card .mini-card-left span{font-size:100%}.mini-card .mini-card-left h2{margin:0 !important;font-weight:500}.mini-card .mini-card-right{-webkit-flex:0 1 auto;-moz-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:-ms-flex;display:flex;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center}.mini-card.mini-card-primary:before{background-color:#009688}.mini-card.mini-card-success:before{background-color:#4caf50}.mini-card.mini-card-info:before{background-color:#03a9f4}.mini-card.mini-card-warning:before{background-color:#ff9800}.mini-card.mini-card-danger:before{background-color:#f44336}
.panel2{position:relative;margin-bottom:16px;background-color:#fff;color:#313534;border:0;-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.33);box-shadow:0 1px 3px 0 rgba(0,0,0,0.33);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.panel2:before,.panel2:after{content:" ";display:table}.panel2:after{clear:both}.panel2.no-shadow{-webkit-box-shadow:none;box-shadow:none}.panel2.panel2-collapsed{overflow:hidden}.panel2.panel2-divider>.panel2-heading{border-bottom:1px solid rgba(0,0,0,0.12)}.panel2.panel2-heading-offset{margin-top:-64px}.panel2>.panel2-heading{position:relative;line-height:60px;min-height:64px;vertical-align:middle;padding:0;border:0;border-top-right-radius:2px;border-top-left-radius:2px;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:-ms-flex;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;align-items:center;-webkit-justify-content:flex-start;-moz-justify-content:flex-start;-ms-justify-content:flex-start;justify-content:flex-start}.panel2>.panel2-heading:before,.panel2>.panel2-heading:after{content:" ";display:table}.panel2>.panel2-heading:after{clear:both}.panel2>.panel2-heading.panel2-heading-xs{line-height:44px;min-height:48px}.panel2>.panel2-heading.panel2-heading-xs header{font-size:15px;padding:8px 16px}.panel2>.panel2-heading.panel2-heading-sm{line-height:52px;min-height:56px}.panel2>.panel2-heading.panel2-heading-sm header{font-size:15px}.panel2>.panel2-heading.panel2-heading-lg{line-height:76px;min-height:80px}.panel2>.panel2-heading.panel2-heading-lg header{font-size:24px}.panel2>.panel2-heading header{padding:11px 16px;vertical-align:middle;line-height:17px;font-size:20px;letter-spacing:-0.1px;-webkit-flex:1 1 auto;-moz-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}.panel2>.panel2-heading header>h1,.panel2>.panel2-heading header>h2,.panel2>.panel2-heading header>h3,.panel2>.panel2-heading header>h4,.panel2>.panel2-heading header>h5,.panel2>.panel2-heading header>h6{vertical-align:middle;margin:0;line-height:1}.panel2>.panel2-heading header small{color:inherit;opacity:.6;font-size:75%}.panel2>.panel2-heading>div{display:inline-block}.panel2>.panel2-heading>.panel2-heading-ico{position:absolute;top:0;left:0;width:40px;height:40px;line-height:40px;text-align:center}.panel2>.panel2-heading>.panel2-heading-tools{min-width:43px;right:0;top:0;cursor:pointer;padding:0 16px}.panel2>.panel2-heading>.panel2-heading-tools .btn-floating-action{margin-left:8px}.panel2>.panel2-heading>.panel2-heading-tools>.btn-group{margin-right:4px}.panel2>.panel2-heading>.panel2-heading-tools>.btn-group-xs{margin-right:10px}.panel2>.panel2-heading>.panel2-heading-tools>.btn-group-sm{margin-right:4px}.panel2>.panel2-heading>.panel2-heading-tools>.btn-group-lg{margin-right:0}.panel2>.panel2-heading>.panel2-heading-tools.pull-left>.btn-group{margin-left:4px}.panel2>.panel2-heading>.panel2-heading-tools.pull-left>.btn-group-xs{margin-left:10px}.panel2>.panel2-heading>.panel2-heading-tools.pull-left>.btn-group-sm{margin-left:4px}.panel2>.panel2-heading>.panel2-heading-tools.pull-left>.btn-group-lg{margin-left:0}.panel2>.panel2-heading>.panel2-heading-tools .panel2-tools-loading{-webkit-opacity:0;-moz-opacity:0;opacity:0;-moz-transition:all .5s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .5s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .5s cubic-bezier(0.25,0.8,0.25,1);-webkit-transition:all .5s cubic-bezier(0.25,0.8,0.25,1);transition:all .5s cubic-bezier(0.25,0.8,0.25,1)}.panel2>.panel2-heading>.panel2-heading-tools .panel2-tools-loading.loading{-webkit-opacity:1;-moz-opacity:1;opacity:1}.panel2>.panel2-heading>.panel2-heading-tools .panel2-tools-collapse>i{-moz-transition:all .3s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .3s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .3s cubic-bezier(0.25,0.8,0.25,1);-webkit-transition:all .3s cubic-bezier(0.25,0.8,0.25,1);transition:all .3s cubic-bezier(0.25,0.8,0.25,1)}.panel2>.panel2-heading>.panel2-heading-tools .panel2-tools-collapse.collapsed i{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.panel2 .panel2-body{padding:24px 16px}.panel2 .panel2-body>.panel2-table-inner-offset{margin:-24px -16px}.panel2 .panel2-body.panel2-body-footer{padding:24px 16px 16px 16px}.panel2 .panel2-footer{overflow:hidden;background-color:#fff;border-top:0;padding:8px}.panel2 .panel2-footer.inner-offset{margin-left:-16px;margin-right:-16px;margin-bottom:-24px;margin-top:15px}.panel2 .panel2-footer .btn{margin:0}.panel2 .panel2-footer .btn+.btn{margin-left:8px}.panel2-group .panel2{border-radius:2px}.panel2-default-bright{border-color:#7e8685}.panel2-default-bright>.panel2-heading{color:#313534;background-color:#fff;border-color:#7e8685}.panel2-default-bright>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#313534}.panel2-default-bright>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#7e8685}.panel2-default-bright>.panel2-heading .badge{color:#fff;background-color:#dfe1e1}.panel2-default-bright>.panel2-heading a{font-weight:400}.panel2-default-bright>.panel2-heading a:hover,.panel2-default-bright>.panel2-heading a:focus{color:#c5c9c8}.panel2-default-bright>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#7e8685}.panel2-default-light{border-color:#7e8685}.panel2-default-light>.panel2-heading{color:#313534;background-color:#f4f5f5;border-color:#7e8685}.panel2-default-light>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#313534}.panel2-default-light>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#7e8685}.panel2-default-light>.panel2-heading .badge{color:#f4f5f5;background-color:#b5bab9}.panel2-default-light>.panel2-heading a{font-weight:400}.panel2-default-light>.panel2-heading a:hover,.panel2-default-light>.panel2-heading a:focus{color:#9ba1a0}.panel2-default-light>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#7e8685}.panel2-default-dark{border-color:#7e8685}.panel2-default-dark>.panel2-heading{color:#fff;background-color:#31373f;border-color:#7e8685}.panel2-default-dark>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-default-dark>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#7e8685}.panel2-default-dark>.panel2-heading .badge{color:#31373f;background-color:#31373f}.panel2-default-dark>.panel2-heading a{font-weight:400}.panel2-default-dark>.panel2-heading a:hover,.panel2-default-dark>.panel2-heading a:focus{color:#1b1e22}.panel2-default-dark>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#7e8685}.panel2-primary-bright{border-color:#c8eeeb}.panel2-primary-bright>.panel2-heading{color:#313534;background-color:#c8eeeb;border-color:#c8eeeb}.panel2-primary-bright>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#313534}.panel2-primary-bright>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#c8eeeb}.panel2-primary-bright>.panel2-heading .badge{color:#c8eeeb;background-color:#c8eeeb}.panel2-primary-bright>.panel2-heading a{font-weight:400}.panel2-primary-bright>.panel2-heading a:hover,.panel2-primary-bright>.panel2-heading a:focus{color:#a1e2dc}.panel2-primary-bright>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#c8eeeb}.panel2-primary-light{border-color:#7ad3cb}.panel2-primary-light>.panel2-heading{color:#fff;background-color:#7ad3cb;border-color:#7ad3cb}.panel2-primary-light>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-primary-light>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#7ad3cb}.panel2-primary-light>.panel2-heading .badge{color:#7ad3cb;background-color:#7ad3cb}.panel2-primary-light>.panel2-heading a{font-weight:400}.panel2-primary-light>.panel2-heading a:hover,.panel2-primary-light>.panel2-heading a:focus{color:#54c6bc}.panel2-primary-light>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#7ad3cb}.panel2-primary-dark{border-color:#004a4b}.panel2-primary-dark>.panel2-heading{color:#fff;background-color:#004a4b;border-color:#004a4b}.panel2-primary-dark>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-primary-dark>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#004a4b}.panel2-primary-dark>.panel2-heading .badge{color:#004a4b;background-color:#004a4b}.panel2-primary-dark>.panel2-heading a{font-weight:400}.panel2-primary-dark>.panel2-heading a:hover,.panel2-primary-dark>.panel2-heading a:focus{color:#001718}.panel2-primary-dark>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#004a4b}.panel2-accent-bright{border-color:#ecf3cc}.panel2-accent-bright>.panel2-heading{color:#313534;background-color:#ecf3cc;border-color:#ecf3cc}.panel2-accent-bright>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#313534}.panel2-accent-bright>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#ecf3cc}.panel2-accent-bright>.panel2-heading .badge{color:#ecf3cc;background-color:#ecf3cc}.panel2-accent-bright>.panel2-heading a{font-weight:400}.panel2-accent-bright>.panel2-heading a:hover,.panel2-accent-bright>.panel2-heading a:focus{color:#ddeaa3}.panel2-accent-bright>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#ecf3cc}.panel2-accent-light{border-color:#cfe082}.panel2-accent-light>.panel2-heading{color:#fff;background-color:#cfe082;border-color:#cfe082}.panel2-accent-light>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-accent-light>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#cfe082}.panel2-accent-light>.panel2-heading .badge{color:#cfe082;background-color:#cfe082}.panel2-accent-light>.panel2-heading a{font-weight:400}.panel2-accent-light>.panel2-heading a:hover,.panel2-accent-light>.panel2-heading a:focus{color:#bfd659}.panel2-accent-light>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#cfe082}.panel2-accent{border-color:#b6cf48}.panel2-accent>.panel2-heading{color:#fff;background-color:#b6cf48;border-color:#b6cf48}.panel2-accent>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-accent>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#b6cf48}.panel2-accent>.panel2-heading .badge{color:#b6cf48;background-color:#b6cf48}.panel2-accent>.panel2-heading a{font-weight:400}.panel2-accent>.panel2-heading a:hover,.panel2-accent>.panel2-heading a:focus{color:#9cb52f}.panel2-accent>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#b6cf48}.panel2-accent-dark{border-color:#90a930}.panel2-accent-dark>.panel2-heading{color:#fff;background-color:#90a930;border-color:#90a930}.panel2-accent-dark>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-accent-dark>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#90a930}.panel2-accent-dark>.panel2-heading .badge{color:#90a930;background-color:#90a930}.panel2-accent-dark>.panel2-heading a{font-weight:400}.panel2-accent-dark>.panel2-heading a:hover,.panel2-accent-dark>.panel2-heading a:focus{color:#6e8125}.panel2-accent-dark>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#90a930}.panel2-default{border-color:#7e8685}.panel2-default>.panel2-heading{color:#313534;background-color:#fff;border-color:#7e8685}.panel2-default>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#313534}.panel2-default>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#7e8685}.panel2-default>.panel2-heading .badge{color:#fff;background-color:#dfe1e1}.panel2-default>.panel2-heading a{font-weight:400}.panel2-default>.panel2-heading a:hover,.panel2-default>.panel2-heading a:focus{color:#c5c9c8}.panel2-default>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#7e8685}.panel2-primary{border-color:#007d71}.panel2-primary>.panel2-heading{color:#fff;background-color:#009688;border-color:#007d71}.panel2-primary>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-primary>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#007d71}.panel2-primary>.panel2-heading .badge{color:#009688;background-color:#009688}.panel2-primary>.panel2-heading a{font-weight:400}.panel2-primary>.panel2-heading a:hover,.panel2-primary>.panel2-heading a:focus{color:#00635a}.panel2-primary>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#007d71}.panel2-success{border-color:#449d48}.panel2-success>.panel2-heading{color:#fff;background-color:#4caf50;border-color:#449d48}.panel2-success>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-success>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#449d48}.panel2-success>.panel2-heading .badge{color:#4caf50;background-color:#4caf50}.panel2-success>.panel2-heading a{font-weight:400}.panel2-success>.panel2-heading a:hover,.panel2-success>.panel2-heading a:focus{color:#3d8b40}.panel2-success>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#449d48}.panel2-info{border-color:#0398db}.panel2-info>.panel2-heading{color:#fff;background-color:#03a9f4;border-color:#0398db}.panel2-info>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-info>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#0398db}.panel2-info>.panel2-heading .badge{color:#03a9f4;background-color:#03a9f4}.panel2-info>.panel2-heading a{font-weight:400}.panel2-info>.panel2-heading a:hover,.panel2-info>.panel2-heading a:focus{color:#0286c2}.panel2-info>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#0398db}.panel2-warning{border-color:#e68900}.panel2-warning>.panel2-heading{color:#fff;background-color:#ff9800;border-color:#e68900}.panel2-warning>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-warning>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#e68900}.panel2-warning>.panel2-heading .badge{color:#ff9800;background-color:#ff9800}.panel2-warning>.panel2-heading a{font-weight:400}.panel2-warning>.panel2-heading a:hover,.panel2-warning>.panel2-heading a:focus{color:#cc7a00}.panel2-warning>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#e68900}.panel2-danger{border-color:#f32c1e}.panel2-danger>.panel2-heading{color:#fff;background-color:#f44336;border-color:#f32c1e}.panel2-danger>.panel2-heading>.panel2-heading-tools>.btn-group>a{color:#fff}.panel2-danger>.panel2-heading+.panel2-collapse>.panel2-body{border-top-color:#f32c1e}.panel2-danger>.panel2-heading .badge{color:#f44336;background-color:#f44336}.panel2-danger>.panel2-heading a{font-weight:400}.panel2-danger>.panel2-heading a:hover,.panel2-danger>.panel2-heading a:focus{color:#ea1c0d}.panel2-danger>.panel2-footer+.panel2-collapse>.panel2-body{border-bottom-color:#f32c1e}

.containergeneral {
    width: 100%;
    padding: 20;
    /*background: #F5F5F5;*/
    background: #FFFFFF;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px){
  .col-md-6 {
      width: 50%;
  }
}
@media (min-width: 992px){
  .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
      float: left;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }
}
.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    margin-bottom: 30px;

}
.card .header {
    padding: 0px;
    color: #333333;
    font-weight: 300;
    font-size: 12px;
}
.card .category, .card .form-group > label {
    font-size: 14px;
    font-weight: 400;
    color: #888888;
    margin-bottom: 0px;
}
.card .content {
    padding: 15px;
}
.card .ct-chart {
    margin: 30px 0 30px;
    height: 245px;
}
.breadcrumb{
  background: #FFFFFF;
}
.progress {
  margin-bottom: 0px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}