{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}

	<link href="{{ app.request.basepath }}/css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">

{% endblock %}

{% block js %}

  <script src="{{ app.request.basepath }}/js/plugins/dataTables/jquery.dataTables.min.js"></script>

  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>
  <script type="text/javascript">
      $(document).ready(function($) {

        {{ js|raw }}

      });
  </script>

  {#<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>#}
  <script src="{{ app.request.basepath }}/js/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAveCJBu7A_jXf0-EHbdBKzv8dU14oGHMU&libraries=places" async defer></script>

  <style>
      .tree {
          min-height:20px;
          padding:19px;
          margin-bottom:20px;
          background-color:#fbfbfb;
          border:1px solid #999;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius:4px;
          -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
          -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
      }
      .tree li {
          list-style-type:none;
          margin:0;
          padding:10px 5px 0 5px;
          position:relative
      }
      .tree li::before, .tree li::after {
          content:'';
          left:-20px;
          position:absolute;
          right:auto
      }
      .tree li::before {
          border-left:1px solid #999;
          bottom:50px;
          height:100%;
          top:0;
          width:1px
      }
      .tree li::after {
          border-top:1px solid #999;
          height:20px;
          top:25px;
          width:25px
      }
      .tree li span {
          -moz-border-radius:5px;
          -webkit-border-radius:5px;
          border:1px solid #999;
          border-radius:5px;
          display:inline-block;
          padding:3px 8px;
          text-decoration:none
      }
      .tree li.parent_li>span {
          cursor:pointer
      }
      .tree>ul>li::before, .tree>ul>li::after {
          border:0
      }
      .tree li:last-child::before {
          height:30px
      }
      .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
          background:#eee;
          border:1px solid #94a0b4;
          color:#000
      }
  </style>
 
   
{% endblock %}


{% block nus %}


    <div class="row">
          <div class="col-lg-12">
            <h1> <small>{{ Pagines.titol | raw }}</small></h1>
            {#<ol class="breadcrumb">
              <li><a href="{{ app.request.basepath }}/index.html"><i class="fa fa-dashboard"></i> {{ "Inici" | trans }}</a></li>
          	  <li class="active"><i class="fa fa-edit"></i> {{ Pagines.titol | raw }}</li>
            </ol>
            #}
          </div>
    </div><!-- /.row -->


{% endblock %}


{% block content %}
  
  {% if ( arraypermisos.2.nou == true )  %}
  	<div class="row">
  		<div class="col-lg-12">
  			<p>
  				<button class="btn btn-success nou" type="submit">{{ "Nova fase" | trans }}</button>
  			</p>
  		</div>
  	</div>
  {% endif %}

    <div class="row">
      <div class="col-lg-12">

           <div id="resultactuacions" class="amagamissatges"></div>

      </div>
    </div>
  
  <hr>

    <div class="row panelldades panelldadesactuacions" style="display:none;">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body" id="divcamps">

                    {% include "actuacionsform.html" %}

                </div>
            </div>

        </div>
    </div>

    

	<div class="row">
    
    <div class="col-lg-12">
      <div class="llistat_2"></div>
    </div>

  </div>


{% endblock %}