    
    <form role="form" action="actuacions" method="post" name="frmactuacions" id="frmactuacions">

        <div style="display: none;">
            <input name="idp" value="7" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
            <input name="verif" value="" type="hidden" />
            <input name="id" id="idactuacio" value="{% if RegistreActuacio.1.id is defined %}{{ RegistreActuacio.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreActuacio.1.idx is defined %}{{ RegistreActuacio.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{%set idpx=constant('General::tockenid') ~ 7%}{{idpx|md5}}" type="hidden" />
        </div>
        
        {#
        <div class="form-group">

            {% if RegistreActuacio.1.id is defined %}
                <label>{{ "Codi de la fase" | trans }}<span style="color:red;"> *</span></label>
                <input class="form-control required" name="codi" id="codi" value="{% if RegistreActuacio.1.titol is defined %}{{ RegistreActuacio.1.codi | raw }}{% endif %}">
            {% else %}
                <label>{{ "Codi de la fase" | trans }}</label>
                <p id="spancodi">{% if RegistreActuacio.1.codi is defined %}{{ RegistreActuacio.1.codi | raw }}{% else %}{{"Serà assignat al crear la proposta"|trans}}{% endif %}</p>
            {% endif %}

        </div>
        #}

        <div>
            
            {% if RegistreActuacio.1.id is defined %}
                <a href="{{ app.request.basepath }}/8/accions.html?n&idp={{ RegistreActuacio.1.clau_projecte | raw }}&ida={{ RegistreActuacio.1.id | raw }}">
                    <button type="button" class="btn btn-success btn-xs">{{ "+ Nova acció" | trans}}</button>
                </a>
            {% endif %}
            <hr>
        </div>

        <div class="form-group">
            <label>{{ "Projecte vinculat" | trans }}<span style="color:red;"> *</span></label>
            <select class="form-control required clau_projecte" name="clau_projecte" >
              <option value="" {% if RegistreActuacio.1.clau_projecte is defined %}{% if RegistreActuacio.1.clau_projecte == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                
                {% for d in Projectes %}
                    <option value="{{ d.id }}" {% if RegistreActuacio.1.clau_projecte is defined %}{% if RegistreActuacio.1.clau_projecte == d.id %}selected{% endif %}{% endif %}>({{ d.codi | raw }}) {{ d.titol | raw }}</option>
                {% endfor %}
              
            </select>
        </div>

        <div class="form-group">
            <label>{{ "Nom de la fase" | trans }}<span style="color:red;"> *</span></label>
            <input class="form-control required" name="titol_ca" id="titol_ca" value="{% if RegistreActuacio.1.titol is defined %}{{ RegistreActuacio.1.titol | raw }}{% endif %}">
        </div>    


        {% if RegistreActuacio.1.id is defined %}

            <div class="2npas">
                
                {#
                <div class="form-group">
                    <label>{{ "Vinculació indirecta a un altre projecte" | trans }}</label>
                    <select class="form-control" name="vinculacio" >
                      <option value="" {% if RegistreActuacio.1.vinculacio is defined %}{% if RegistreActuacio.1.vinculacio == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                        
                        {% for d in Projectes %}
                            <option value="{{ d.id }}" {% if RegistreActuacio.1.vinculacio is defined %}{% if RegistreActuacio.1.vinculacio == d.id %}selected{% endif %}{% endif %}>({{ d.codi | raw }}) {{ d.titol | raw }}</option>
                        {% endfor %}
                      
                    </select>
                </div>
                #}

                <style>
                .nav-tabs{
                    display: flex;
                }
                .nav-tabs li {
                    display: flex;
                    flex: 1;
                }

                .nav-tabs li  a {
                    flex: 1;
                }
                </style>
                
                <ul class="nav nav-tabs nav-justified myTab">
                    <li class="active"><a href="#section1"><h5 style="color:#1f1e17;"><i class="fa fa-bars"></i> {{"Fase"|trans}}</h5></a></li>
                    <li class=""><a href="#section1b"><h5 style="color:#1f1e17;"><i class="fa fa-group"></i> {{"Equip de treball"|trans}}</h5></a></li>
                    <li class=""><a href="#section2"><h5 style="color:#1f1e17;"><i class="fa fa-calendar"></i> {{"Calendari"|trans}}</h5></a></li>
                    <li class=""><a href="#section4"><h5 style="color:#1f1e17;"><i class="fa fa-bar-chart"></i> {{"Situació global"|trans}}</h5></a></li>
                </ul>

                <div class="tab-content">

                    <div id="section1" class="tab-pane fade in active">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="form-group">
                                    <label>{{ "Breu descripció de la fase" | trans }}</label>
                                    <textarea class="form-control textarea_act1" rows="6" name="descripcio_ca" id="descripcio_ca" >{% if RegistreActuacio.1.descripcio_ca is defined %}{{ RegistreActuacio.1.descripcio_ca | raw }}{% endif %}</textarea>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div id="section1b" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-12">        
                                        
                                        <div class="panel panel-primary">

                                            <div class="panel-heading">{{ "Equip de treball" | trans }} 
                                            </div>
                                            <div class="panel-body">
                                                
                                                <div class="form-group equipdetreball">

                                                    

                                                </div>

                                            </div>
                                        </div>
                                       
                                    </div>

                                    
                                </div>

                            </div>

                        </div>

                    </div>


                    <div id="section2" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-12">        
                                        
                                        <div class="panel panel-primary">

                                            <div class="panel-heading">{{ "Calendari d'execució" }}<span style="color:red;"> *</span>
                                              
                                            </div>
                                            <div class="panel-body">
                                                
                                                <div class="form-group">

                                                    <div class="col-lg-2" style="z-index: 1 !important;">
                                                        <div class="form-group">
                                                            <label>{{ "Inici" }}</label><br>
                                                            <input class="form-control datepicker " name="inici" id="inici" placeholder="dd/mm/aaaa" value="{% if RegistreActuacio.1.inici is defined %}{% if RegistreActuacio.1.inici != "0000-00-00" %}{{ RegistreActuacio.1.inici | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-2" style="z-index: 1 !important;">
                                                        <div class="form-group">
                                                            <label>{{ "Final" }}</label><br>
                                                            <input class="form-control datepicker " name="final" id="final" placeholder="dd/mm/aaaa" value="{% if RegistreActuacio.1.final is defined %}{% if RegistreActuacio.1.final != "0000-00-00" %}{{ RegistreActuacio.1.final | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        </div>
                                                    </div>
                                                    
                                                    {#
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>&nbsp;</label><br>
                                                            <button type="button" class="btn btn-default calcdadesanys amagabotons" data-id="{% if RegistreActuacio.1.id is defined %}{{ RegistreActuacio.1.id }}{% else %}0{% endif %}">{{ "Mostrar dades dels anys" | trans}}</button>
                                                        </div>
                                                    </div>
                                                    #}

                                                    <div class="row">
                                                        <div class="col-lg-12 avisdates">
                                                            
                                                        </div>
                                                    </div>

                                                </div> 
                                                
                                                {#
                                                <div class="row">
                                                    <div class="col-lg-12">       

                                                        <div id="dadesanys">
                                                            
                                                        </div>

                                                    </div>
                                                </div>
                                                #}

                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>




                    <div id="section4" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body"> 
                                

                                <div class="form-group">
                                    <label>{{ "Estat de la fase" | trans }} <span style="color:red;"> *</span> <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Es troba en execució si almenys una de les accions que la constitueixen es troba en execució."></i> </label>
                                    <select class="form-control required" name="estat" >
                                      <option value="" {% if RegistreActuacio.1.estat is defined %}{% if RegistreActuacio.1.estat == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                                        
                                        {% for d in Paraules %}
                                            {% if (d.codi == 'estatactuacio') and (d.idioma == 'ca')%}
                                                <option value="{{ d.clau }}" {% if RegistreActuacio.1.estat is defined %}{% if RegistreActuacio.1.estat == d.clau %}selected{% endif %}{% endif %}>{{ d.text | raw }}</option>
                                            {% endif %}
                                        {% endfor %}
                                      
                                    </select>
                                </div>


                            </div>

                        </div>

                    </div>

                </div>



            {% if RegistreActuacio.1.id is defined %}
                {% set parent_id = 2 %}
                {% set clau = RegistreActuacio.1.id %}
                {% include "canvis.html" %}
            {% endif %}

            </div>

        {% endif %}

        



        <div class="form-group">
            <div class="erroractuacions"><span></span></div>
        </div>

        {% set mostrarboto = true %}
        
        {% if (arraypermisos.1.projectes is defined)  %}
            {% if RegistreActuacio.1.id is defined %}
                {% if arraypermisos.1.projectes[RegistreActuacio.1.clau_projecte] is defined %}
                    {% set mostrarboto = true %}
                {% else %}
                    {% set mostrarboto = false %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if ( mostrarboto == true )   %}
            <button class="btn btn-primary amagabotons btnguardar" type="submit">{% if RegistreActuacio.1.id is defined %}{{ "Guardar" | trans }}{% else %}{{ "Continuar" | trans }}{% endif %}</button>
        {% endif %}
        <!--<button type="button" class="btn btn-default cancelar">{{ "Cancelar" | trans }}</button>-->
        
    </form>
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idactuacio").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmactuacions').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmactuacions').removeAttr('checked').removeAttr('selected');
                $("div.erroractuacions span").html("");
                $(".panelldadesactuacions").toggle();

            });

            {#
            $(document).off('click',".calcdadesanys").on("click",".calcdadesanys",function(event){

                var id = $(this).data( "id" );
                var d1 = $("#inici").val();
                var d2 = $("#final").val();
                var t = 2;

                if (d1 != "" && d2 != "")
                {
                    $("#dadesanys").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                    $("#dadesanys").load("{{ app.request.basepath }}/load",{o:9, id:id, t: t, c:{d1:d1, d2:d2  } });   
                }
                else
                {
                    $("#dadesanys").html("Seleccioni la data d'inici i de final.");
                }
                  
                  


            });
            #}

            $(document).off('click',".btnguardarflotant").on("click",".btnguardarflotant",function(event){
                $(".btnguardar").click();
            });



            {% if RegistreActuacio.1.id is defined %}

                $(document).off('click',".myTab a").on("click",".myTab a",function(e){
                  e.preventDefault();
                  $(this).tab('show');
                  if ( $( this ).hasClass( "iniciamapa" ) ) {

                    setTimeout(function () {
                      //initMap();
                    }, 500);

                  }
                }); 




                // Prevenir abandonament de pàgina.
                {#
                 var displayMessage = true;
                 var message =  'Segur que vols abandonar la pàgina? \nHas guardat tots els canvis?';
                  
                 $(window).bind('beforeunload', function(){
                  //the custom message for page unload doesn't work on Firefox
                  if(displayMessage){
                   
                   return message;
                  } 
                 });
                  
                 $('*').hover(
                  function(){displayMessage = false;},
                  function(){displayMessage = true;} 
                );  
            
                $(document).off('click',"a").on('click',"a",function(event){
                    event.preventDefault();
                    var r = confirm(message);
                    if (r == true) {
                        
                        window.location.href = $(this).attr('href');
                    }
                    return(false);
                });#}
                // Final prevenir abadonament pàgina.

                {% if Projectetriat.1 is defined %}

                    $( "#inici, #final" ).datepicker({ 
                        dateFormat: "dd/mm/yy", 
                        minDate: new Date({{ Projectetriat.1.inici | date("Y") }}, {{ Projectetriat.1.inici | date("m") }} - 1, {{ Projectetriat.1.inici | date("d") }}), 
                        maxDate: new Date({{ Projectetriat.1.final | date("Y") }}, {{ Projectetriat.1.final | date("m") }} - 1, {{ Projectetriat.1.final | date("d") }}),

                        onSelect: function(dateText) { 

                            var d1 = $("#inici").val();
                            var d2 = $("#final").val();

                            $(".avisdates").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                            $(".avisdates").load("{{ app.request.basepath }}/load",{o:52, id:'{{RegistreActuacio.1.id}}' ,c:{d1:d1, d2:d2} });   


                        }

                    });

                {% endif %}

                function carregarequip(projecte){

                    $(".equipdetreball").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                    $(".equipdetreball").load("{{ app.request.basepath }}/load",{o:43, id:'{{RegistreActuacio.1.id}}' ,c:{p:projecte} });   

                }

                carregarequip('{{RegistreActuacio.1.clau_projecte}}');


                $(document).off('change',".clau_projecte").on("change",".clau_projecte",function(event){

                    {# Per esborrar les dades de les dates si canvien de projecte. TODO: recarregar aquest formulari. #}
                    $("#inici").val("");
                    $("#final").val("");
                   // $(".calcdadesanys").click();

                   carregarequip($(this).val());
                    
                   
                });


            {% endif %}


            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmactuacions").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmactuacions.verif.value = "ok";
                    var table = $('.dataTables').DataTable();
                    var dadestaules = table.$('input, select').serialize();
                    var stringdades = $("#frmactuacions").serialize();
                    stringdades = stringdades + "&" +dadestaules;
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultactuacions").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultactuacions").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.erroractuacions span").html("");
                                    $("#resultactuacions").fadeIn('slow');
                                    $("#resultactuacions").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idactuacio").val(dades[1]);
                                    //$(".panelldadesactuacions").toggle();
                                    $("#divcamps").html('<div  style="text-align: center;"><img src="{{ app.request.basepath }}/images/loading.gif" /></div>');
                                    $("#divcamps").load("{{ app.request.basepath }}/load", {id: dades[1], o: 3, t: 2});
                                    $(".tancaract").click();
                                    $(".modaltancat").click();
                                    $(".llistat_2").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "2"}, function(){
                    
                                    });
                                    setTimeout( function(){ 
                                        $("#resultactuacions").fadeOut('slow');
                                    } ,3000 );
                                }else{
                                    $("#resultactuacions").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.erroractuacions span").html(cuadre);
                        $("div.erroractuacions").show();
                    } else {
                        $("div.erroractuacions").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


            $(function($){
                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant',
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.regional['ca'] = {
                    closeText: 'Tancar',
                    prevText: '<Ant',
                    nextText: 'Seg>',
                    currentText: 'avui',
                    monthNames: ["Gener", "Febrer", "Març", "Abril", "Maig", "Juny", "Juliol", "Agost", "Setembre", "Octubre", "Novembre", "Desembre"],
                    monthNamesShort: ["Gen", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Des"],
                    dayNames: ["Diumenge", "Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres", "Dissabte"],
                    dayNamesShort: ["Diu",  "Dil", "Dmt", "Dmc", "Dij", "Div", "Dis"],
                    dayNamesMin: ["dg", "dl", "dt", "dc", "dj", "dv", "ds"],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['ca']);
            });

            $('.tree li > span').on('click', function (e) {
                
                var children = $(this).parent('li').find(' > ul');
                if (children.is(":visible")) {
                    children.hide('fast');
                } else {
                    children.show('fast');
                }
                e.stopPropagation();
            });

            $('.tree li > span').parent('li').find(' > ul').hide('fast');

            $('.textarea_act1').wysihtml5();

            setTimeout(function () {
                $('html, body').animate({ scrollTop: 0 }, 0);
            }, 10);
      });

    {% if RegistreActuacio.1.id is defined %}

      
        var $scrollingDiv = $(".nussup");
        var $scrollingDivtext = $(".linus");

        {% if Projectetriat.1 is defined %}
         var projecte = "{{Projectetriat.1.titol|raw}}";
         var idprojecte = "{{Projectetriat.1.id|raw}}";
        {% endif %}

        $scrollingDivtext.html("<a href='{{ app.request.basepath }}/6/projectes.html?id=" + idprojecte + "' >" + projecte + "</a> " + " > " + "<b>{{RegistreActuacio.1.titol|raw}}</b> {% if ( mostrarboto == true )   %}<button class=\"btn btn-primary btn-sm btnguardarflotant\" type=\"button\">{% if RegistreActuacio.1.id is defined %}{{ "Guardar" | trans }}{% else %}{{ "Continuar" | trans }}{% endif %}</button>{% endif %}");

         $scrollingDiv
                    .fadeIn()
                    .css("position",'fixed' )  
                    .css("top",'65px' )  
        /*
        $(window).scroll(function(){     
            if ($(window).scrollTop()>50)       {

                $scrollingDiv
                    .fadeIn()
                    .css("position",'fixed' )  
                    .css("top",'65px' )           
            } else {
                $scrollingDiv
                    .css("position",'' )    
                    .css("top",'' )   
                    .hide()  //.fadeOut()          
            }
        });
        */


    {% endif %}

    </script>

    <style type="text/css">
        .nussup{
            left:14px;
        }
    </style>


    
    {% if RegistreActuacio.1.id is defined %}
        {% set titol = "Detalls Fase" | trans | raw %}
        {% set codi = "modalprojectes" %}
        {% include "formmodal.html" %}
    {% endif %} 