    
    <form role="form" action="actuacions" method="post" name="frmactuacions" id="frmactuacions">

        <div class="form-group">
            <label>{{ "Projecte vinculat" | trans }}<span style="color:red;"> *</span></label>
           
                
                {% for d in Projectes %}
                    {% if RegistreActuacio.1.clau_projecte is defined %}{% if RegistreActuacio.1.clau_projecte == d.id %}({{ d.codi | raw }}) {{ d.titol | raw }}{% endif %}{% endif %}
                {% endfor %}
              
        </div>

        <div class="form-group">
            <label>{{ "Nom de la fase" | trans }}<span style="color:red;"> *</span></label>
            <p>{% if RegistreActuacio.1.titol is defined %}{{ RegistreActuacio.1.titol | raw }}{% endif %}</p>
        </div>    


        {% if RegistreActuacio.1.id is defined %}

            <div class="2npas">
                
                <style>
                .nav-tabs{
                    display: flex;
                }
                .nav-tabs li {
                    display: flex;
                    flex: 1;
                }

                .nav-tabs li  a {
                    flex: 1;
                }
                </style>
                
                <ul class="nav nav-tabs nav-justified myTab">
                    <li class="active"><a href="#section1"><h5 style="color:#1f1e17;"><i class="fa fa-bars"></i> {{"Fase"|trans}}</h5></a></li>
                    <li class=""><a href="#section1b"><h5 style="color:#1f1e17;"><i class="fa fa-group"></i> {{"Equip de treball"|trans}}</h5></a></li>
                    <li class=""><a href="#section2"><h5 style="color:#1f1e17;"><i class="fa fa-calendar"></i> {{"Calendari"|trans}}</h5></a></li>
                    <li class=""><a href="#section4"><h5 style="color:#1f1e17;"><i class="fa fa-bar-chart"></i> {{"Situació global"|trans}}</h5></a></li>
                </ul>

                <div class="tab-content">

                    <div id="section1" class="tab-pane fade in active">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="form-group">
                                    <label>{{ "Breu descripció de la fase" | trans }}</label>
                                    <p>{% if RegistreActuacio.1.descripcio_ca is defined %}{{ RegistreActuacio.1.descripcio_ca | raw }}{% endif %}</p>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div id="section1b" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-12">        
                                        
                                        <div class="panel panel-primary">

                                            <div class="panel-heading">{{ "Equip de treball" | trans }} 
                                            </div>
                                            <div class="panel-body">
                                                
                                                <div class="form-group equipdetreball">

                                                    

                                                </div>

                                            </div>
                                        </div>
                                       
                                    </div>

                                    
                                </div>

                            </div>

                        </div>

                    </div>


                    <div id="section2" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-12">        
                                        
                                        <div class="panel panel-primary">

                                            <div class="panel-heading">{{ "Calendari d'execució" }}<span style="color:red;"> *</span>
                                              
                                            </div>
                                            <div class="panel-body">
                                                
                                                <div class="form-group">

                                                    <div class="col-lg-2" style="z-index: 1 !important;">
                                                        <div class="form-group">
                                                            <label>{{ "Inici" }}</label><br>
                                                            <p>{% if RegistreActuacio.1.inici is defined %}{% if RegistreActuacio.1.inici != "0000-00-00" %}{{ RegistreActuacio.1.inici | date("d/m/Y") }}{% endif %}{% endif %}</p>
                                                            <input type="hidden" class="form-control datepicker " name="inici" id="inici" placeholder="dd/mm/aaaa" value="{% if RegistreActuacio.1.inici is defined %}{% if RegistreActuacio.1.inici != "0000-00-00" %}{{ RegistreActuacio.1.inici | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-2" style="z-index: 1 !important;">
                                                        <div class="form-group">
                                                            <label>{{ "Final" }}</label><br>
                                                            <p>{% if RegistreActuacio.1.final is defined %}{% if RegistreActuacio.1.final != "0000-00-00" %}{{ RegistreActuacio.1.final | date("d/m/Y") }}{% endif %}{% endif %}</p>
                                                            <input type="hidden" class="form-control datepicker " name="final" id="final" placeholder="dd/mm/aaaa" value="{% if RegistreActuacio.1.final is defined %}{% if RegistreActuacio.1.final != "0000-00-00" %}{{ RegistreActuacio.1.final | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        </div>
                                                    </div>
                                                    
                                                    

                                                </div> 
                                          

                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>




                    <div id="section4" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body"> 
                                

                                <div class="form-group">
                                    <label>{{ "Estat de la fase" | trans }} <span style="color:red;"> *</span> <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Es troba en execució si almenys una de les accions que la constitueixen es troba en execució."></i> </label>
                                        
                                        {% for d in Paraules %}
                                            {% if (d.codi == 'estatactuacio') and (d.idioma == 'ca')%}
                                                {% if RegistreActuacio.1.estat is defined %}{% if RegistreActuacio.1.estat == d.clau %}{{ d.text | raw }}{% endif %}{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                      
                                </div>


                            </div>

                        </div>

                    </div>

                </div>


           

            </div>

        {% endif %}

        



        <div class="form-group">
            <div class="erroractuacions"><span></span></div>
        </div>

        
    </form>
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idactuacio").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmactuacions').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmactuacions').removeAttr('checked').removeAttr('selected');
                $("div.erroractuacions span").html("");
                $(".panelldadesactuacions").toggle();

            });

         

            {% if RegistreActuacio.1.id is defined %}

                $(document).off('click',".myTab a").on("click",".myTab a",function(e){
                  e.preventDefault();
                  $(this).tab('show');
                  if ( $( this ).hasClass( "iniciamapa" ) ) {

                    setTimeout(function () {
                      //initMap();
                    }, 500);

                  }
                }); 


                function carregarequip(projecte){

                    $(".equipdetreball").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                    $(".equipdetreball").load("{{ app.request.basepath }}/load",{o:43, id:'{{RegistreActuacio.1.id}}' ,c:{p:projecte} });   

                }

                carregarequip('{{RegistreActuacio.1.clau_projecte}}');

            {% endif %}



            $('.tree li > span').on('click', function (e) {
                
                var children = $(this).parent('li').find(' > ul');
                if (children.is(":visible")) {
                    children.hide('fast');
                } else {
                    children.show('fast');
                }
                e.stopPropagation();
            });

            $('.tree li > span').parent('li').find(' > ul').hide('fast');

            $('.textarea_act1').wysihtml5();

            setTimeout(function () {
                $('html, body').animate({ scrollTop: 0 }, 0);
            }, 10);
      }); 

    </script>