<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
            <title>{% block title %}{{ headerTitle }}{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="title" content="{{ headerTitle }}" />
            <meta name="description" content="{{ headerDescription }}">
            <meta name="keywords" content="{{ headerKeywords }}">
            <meta name="author" content="{{ headerAuthor }}">
            <meta name="owner" content="{{ headerOwner }}">
            <meta name="robots" content="{{ headerRobots }}">
            <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
            <meta http-equiv="PRAGMA" content="NO-CACHE">
            <meta http-equiv="Cache-Control" content="no-cache" />
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}


		<link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet">
	    <link href="{{ app.request.basepath }}/css/web-barcelona-com-admin.css" rel="stylesheet">
	    <link rel="stylesheet" href="{{ app.request.basepath }}/css/font-awesome/css/font-awesome.min.css">

	    <link rel="shortcut icon" type="images/png" href="{{ app.request.basepath }}/favicon.ico"/>


		{% block styles %}
	
        {% endblock %}

        <script src="{{ app.request.basepath }}/js/jquery-1.10.2.js"></script>
	

		<style type="text/css">
		<!--
		#eucookielaw { display:none; position: fixed; bottom: 0px;   }
		-->
		</style>
		{{ cookieheader | raw }}

	</head>
	
	<body>


	      	<!-- Sidebar -->
		    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

		    	<div class="container">

			        <!-- Brand and toggle get grouped for better mobile display -->
			        <div class="navbar-header">
	        	 	  
	        	 	  <a class="navbar-brand" href="{{ app.request.basepath }}/inici.html" ><img src="{{ app.request.basepath }}/images/client_int.png" style="margin-top:8px;" /></a>
			          
			          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>
			         
			        </div>


			        {# Versió horitzontal.
			        <div class="collapse navbar-collapse navbar-ex1-collapse">
			          <ul class="nav navbar-nav side-nav">
			            <li {% if pagina == 999 %}class="active"{% endif %}><a href="{{ app.request.basepath }}/inici.html"><i class="fa fa-home"></i> {{ "El meu PDA" | trans }}</a></li>

			            {% for nivell1 in Menu %}

			                {% if (nivell1.titol is defined) and (nivell1.subcats is not empty) %}

			                	<li class="dropdown {% for nivell2 in nivell1.subcats %}{% if nivell2.titol is defined %}{% if pagina == nivell2.id %}active{% endif %}{% endif %}{% endfor %}">
			              			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa {% if nivell1.ico != "" %}{{nivell1.ico}}{% else %}fa-caret-square-o-down{% endif %}" style="{% if nivell1.id == "40" %}color:#5cb85c;{%endif%}{% if nivell1.id == "5" %}color:#f0ad4e;{%endif%}"></i> {{ nivell1.titol|raw }} <b class="caret"></b></a>

			              			<ul class="dropdown-menu">
				              			{% for nivell2 in nivell1.subcats %}
					                        {% if nivell2.titol is defined %}

					                        	{% if (nivell2.id != 8) or (ConfigPla.1.tipus_pla == 1) %}

					                            	<li {% if pagina == nivell2.id %}class="active"{% else %}{% endif %}><a href="{{ app.request.basepath }}/{{ nivell2.urlfile|escape }}">{{ nivell2.titol|raw }} </a></li>

					                            {% endif %}
					                        	
					                        {% endif %}
					                    {% endfor %}
				                    </ul>

				                </li>
			                
			                {% else %}

			                	<li {% if pagina == nivell1.id %}class="active"{% endif %}><a href="{{ app.request.basepath }}/{{ nivell1.urlfile|escape }}"><i class="fa {% if nivell1.ico != "" %}{{nivell1.ico}}{% else %}fa-dashboard{% endif %}" style="{% if nivell1.id == "48" %}color:#d9534f;{%endif%}{% if nivell1.id == "58" %}color:#325d88;{%endif%}"></i>  {{ nivell1.titol|raw }}  </a></li>

			                {% endif %}

			               

				        {% endfor %}


			          </ul>

			        </div><!-- /.navbar-collapse -->
			        #}

			        <div class="collapse navbar-collapse navbar-ex1-collapse">
	                    <ul class="nav navbar-nav side-nav">
	                        <li>
	                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars" aria-hidden="true" style="font-size: initial;"></i></a>

	                            <ul class="dropdown-menu">
	                            	<li {% if pagina == 6 %}class="active"{% endif %}><a href="{{ app.request.basepath }}/5/els-meus-projectes.html"><i class="fa fa-tasks"></i> {{ "Els meus projectes" | trans }}</a></li>
	                                <li {% if pagina == 999 %}class="active"{% endif %}><a href="{{ app.request.basepath }}/inici.html"><i class="fa fa-home"></i> {{ "El meu PDA" | trans }}</a></li>
	                                <li><a href="{{ app.request.basepath }}/inici.html?t=c"><i class="fa fa-calendar"></i> {{ "El meu Calendari: Fites" | trans }}</a></li>
	                                <li><a href="{{ app.request.basepath }}/inici.html?t=m"><i class="fa fa-map-marker"></i> {{ "Arxiu Municipal: Mapa de centres" | trans }}</a></li>
	                                <li class="divider"></li>
									
									{% for nivell1 in Menu %}

						                {% if (nivell1.titol is defined) and (nivell1.subcats is not empty) %}

			                                <li class="{% for nivell2 in nivell1.subcats %}{% if nivell2.titol is defined %}{% if pagina == nivell2.id %}active{% endif %}{% endif %}{% endfor %}">
			                                   
			                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa {% if nivell1.ico != "" %}{{nivell1.ico}}{% else %}fa-caret-square-o-down{% endif %}" style="{% if nivell1.id == "40" %}color:#5cb85c;{%endif%}{% if nivell1.id == "5" %}color:#f0ad4e;{%endif%}"></i> {{ nivell1.titol|raw }} <b class="caret"></b></a>

			                                    <ul class="dropdown-menu">
			                                        {% for nivell2 in nivell1.subcats %}
								                        {% if nivell2.titol is defined %}

								                        	{% if (nivell2.id != 8) or (ConfigPla.1.tipus_pla == 1) %}

								                            	<li {% if pagina == nivell2.id %}class="active"{% else %}{% endif %}><a href="{{ app.request.basepath }}/{{ nivell2.urlfile|escape }}">{{ nivell2.titol|raw }} </a></li>

								                            {% endif %}
								                        	
								                        {% endif %}
								                    {% endfor %}
			                                    </ul>
			                                </li>
			                            {% else %}
											
											{% if nivell1.id != 19 %}

												{% if nivell1.id != 5 %}

						                			<li {% if pagina == nivell1.id %}class="active"{% endif %}><a href="{{ app.request.basepath }}/{{ nivell1.urlfile|escape }}"><i class="fa {% if nivell1.ico != "" %}{{nivell1.ico}}{% else %}fa-dashboard{% endif %}" style="{% if nivell1.id == "48" %}color:#d9534f;{%endif%}{% if nivell1.id == "58" %}color:#325d88;{%endif%}"></i>  {{ nivell1.titol|raw }}  </a></li>

						                		{% endif %}

						                	{% else %}

												<li {% if pagina == nivell1.id %}class="active"{% endif %} ><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa {% if nivell1.ico != "" %}{{nivell1.ico}}{% else %}fa-dashboard{% endif %}" style="{% if nivell1.id == "48" %}color:#d9534f;{%endif%}{% if nivell1.id == "58" %}color:#325d88;{%endif%}"></i>  {{ nivell1.titol|raw }}  <b class="caret"></b></a>  

													<ul class="dropdown-menu">

						                            	<li><a href="{{ app.request.basepath }}/{{ nivell1.urlfile|escape }}#principals">Principals indicadors</a></li>
						                            	<li><a href="{{ app.request.basepath }}/{{ nivell1.urlfile|escape }}#listaproj">Objectius i projectes</a></li>
						                            	<li><a href="{{ app.request.basepath }}/{{ nivell1.urlfile|escape }}#gantt">Planificació i fites</a></li>
						                            	<li><a href="{{ app.request.basepath }}/{{ nivell1.urlfile|escape }}#mapes">Calendari</a></li>
						                            	{#<li><a href="{{ app.request.basepath }}/{{ nivell1.urlfile|escape }}#mapes">Mapa de centres</a></li>
						                            	<li><a href="{{ app.request.basepath }}/{{ nivell1.urlfile|escape }}?f5" class="amagabuscador">Els meus objectius</a></li>#}

				                                    </ul>
				                                </li>

						                	{% endif %}


			                            {% endif %}

				        			{% endfor %}
	                                
	                            </ul>
	                        </li>
	                      
	                    </ul>
	                    <ul class="nav navbar-nav">
	                        <li style="color:#fff; padding-top: 20px;padding-bottom: 20px; text-transform: none;font-size: 16px;">Arxiu Municipal de Barcelona</li>
	                    </ul>
	                    
	                    <ul class="nav navbar-nav navbar-right navbar-user">

				          	{% if subdomain != "pladebarris" %}
					          	<li class="dropdown">
				                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				                    	{% set contaalertes = 0%}
				                    	
				                    	
						                {% if ProjectesFitesMenu is defined %}
					                       	{% for d in ProjectesFitesMenu %}
					                       		{% set contaalertes = contaalertes + 1 %}
					                       	{% endfor %}
						                {% endif %}
						             

				                        <i class="fa fa-bell fa-fw"></i> <span class="badge">{{contaalertes}}</span>  <i class="fa fa-caret-down"></i>
				                    </a>
				                    <ul class="dropdown-menu dropdown-alerts scrollable-menu">
				                       	
				                       		{% set teavisos = false %}
					                       	
						                    {% for d in ProjectesFitesMenu %}
					                       		{% set teavisos = true %}
						                        <li>
						                            <a href="{{ app.request.basepath }}/6/projectes.html?id={{d.id}}">
						                                <div>
						                                    <i class="fa fa-calendar fa-fw" style="color:#f0ad4e;"></i> {{d.descripcio|striptags|raw}}
						                                    <span class="pull-right text-muted small">{{d.datai|raw}}</span><br>
						                                </div>
						                            </a>
						                        </li>
						                        <li class="divider"></li>

						                    {% endfor %}
						                   

						                   {% if teavisos == false %}
												<li>
													<a href="#">
						                                <div>
						                                    <i class="fa fa-tasks fa-fw"></i> Sense avisos.
						                                </div>
						                            </a>
						                        </li>
						                        <li class="divider"></li>
						                   {% endif %}
					                    
				                      
				                    </ul>
				                    <!-- /.dropdown-alerts -->
				                </li>
				          	{% endif %}

				        	{#
				        	<li class="dropdown alerts-dropdown">
				              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-flag"></i> {{ idioma | trans }} <b class="caret"></b></a>
				              <ul class="dropdown-menu">
				              	{% for lang in idiomes %}
				                    {% if not lang is empty %}
				                        <li><a href="{{ app.request.basepath }}/lang/{{lang}}">{{ lang | trans }}</a></li>
				                    {% endif %}
				                {% endfor%}
				              </ul>
				            </li>
							


				        	<li class="dropdown alerts-dropdown">
				              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> {{"Anys"|trans}} <b class="caret"></b></a>
				              <ul class="dropdown-menu">
				              		<li><a href="{{ app.request.basepath }}/any/t">{{"Tots" | trans }}</a></li>
				              	{% for d in AnysPla %}
				              		<li><a href="{{ app.request.basepath }}/any/{{ d.any }}">{{ d.any | raw }}</a></li>
				              	{% endfor %}
				              	
				              </ul>
				            </li>

				        	{% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 1 %}{% endif %}
				            <li class="dropdown alerts-dropdown">
				              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> {{"Plans Disponibles"|trans}} <span class="badge">{{Plans.1.contador}}</span> <b class="caret"></b></a>
				              <ul class="dropdown-menu">
				              	{% for d in Plans %}
				              		<li><a href="{{ app.request.basepath }}/pla/{{ d.id }}"><span class="label label-primary">{{ d.id | raw }}</span>&nbsp;{{ d.titol | raw }}</a></li>
				              	{% endfor %}
				              	
				              </ul>
				            </li>

				            #}
				            
				        
				            <li class="dropdown user-dropdown">
				              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {#{{NomUsuari|raw}}#} <b class="caret"></b></a>
				              <ul class="dropdown-menu">
				              
				                <li><a href="{{ app.request.basepath }}/dadesusuari.html"><i class="fa fa-user"></i> {{"Dades d'usuari"|trans}}</a></li>
				                <li><a href="{{ app.request.basepath }}/logout"><i class="fa fa-power-off"></i> {{"Tancar Sessió" | trans}}</a></li>
				              </ul>
				            </li>
				          </ul>
	                </div><!--/.nav-collapse -->

		        </div>
		    </nav>

		    

	     	<div class="container containergeneral">
	     		<br><br>

      			<div class="page-header" id="banner">

				    <div class="row nussup" style="z-index:999;display:none;width: 100%;">
				    	<div class="col-lg-12" style="padding-left: 0px;padding-right: 0px; ">
				            <ol class="breadcrumb" style="border-radius: 0px; box-shadow: 1px 3px 5px #D1D1D1;">
				              <li class="linus" style="width:100%;"></li>
				            </ol>
			          	</div>
				    </div>

				    {% block nus %}


					{% endblock %}


					{% block content %}


					{% endblock %}

				</div>

			</div>


			{{ cookie | raw }}


	    <!-- JavaScript -->
	    
	    <script src="{{ app.request.basepath }}/js/bootstrap.js"></script>


	    {% block js %}
	    {% endblock %}

	    <div id="divpopup"></div>


	    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/js/wysihtml5/bootstrap3-wysihtml5.css" />
	    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/js/wysihtml5/bootstrap3-wysihtml5-editor.css" />
	    <script src="{{ app.request.basepath }}/js/wysihtml5/wysihtml5x-toolbar.min.js"></script>
	    <script src="{{ app.request.basepath }}/js/wysihtml5/bootstrap3-wysihtml5.js"></script>

		
		<script type="text/javascript">
			$(document).ready(function() {
			    $('.navbar a.dropdown-toggle').on('click', function(e) {
			        var $el = $(this);
			        var $parent = $(this).offsetParent(".dropdown-menu");
			        $(this).parent("li").toggleClass('open');

			        if(!$parent.parent().hasClass('nav')) {
			            $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
			        }

			        $('.nav li.open').not($(this).parents("li")).removeClass("open");

			        return false;
			    });
			});
		</script>

	</body>
</html>