<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
            <title>{% block title %}{{ headerTitle }}{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <meta name="title" content="{{ headerTitle }}" />
            <meta name="description" content="{{ headerDescription }}">
            <meta name="keywords" content="{{ headerKeywords }}">
            <meta name="author" content="{{ headerAuthor }}">
            <meta name="owner" content="{{ headerOwner }}">
            <meta name="robots" content="{{ headerRobots }}">
            <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
            <meta http-equiv="PRAGMA" content="NO-CACHE">
            <meta http-equiv="Cache-Control" content="no-cache" />
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}


		<link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet">
	    <link href="{{ app.request.basepath }}/css/web-barcelona-com-admin.css" rel="stylesheet">
	    <link rel="stylesheet" href="{{ app.request.basepath }}/css/font-awesome/css/font-awesome.min.css">

	    <link rel="shortcut icon" type="image/png" href="{{ app.request.basepath }}/favicon.ico"/>


		{% block styles %}

        {% endblock %}

        <script src="{{ app.request.basepath }}/js/jquery-1.10.2.js"></script>
	

		<style type="text/css">
		<!--
		#eucookielaw { display:none; position: fixed; bottom: 0px;   }
		-->
		</style>
		{{ cookieheader | raw }}

	</head>
	
	<body>


	      	<!-- Sidebar -->
		    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

		    	<div class="container">

			        <!-- Brand and toggle get grouped for better mobile display -->
			        <div class="navbar-header">
	        	 	  
	        	 	  <a class="navbar-brand" href="{{ app.request.basepath }}/consultainteractiva.html" ><img src="{{ app.request.basepath }}/images/client_int.png" style="margin-top:8px;" /></a>
			    
			         
			        </div>



		        </div>
		    </nav>

		    

	     	<div class="container">
	     		<br><br>

      			<div class="page-header" id="banner">

				    <div class="row nussup" style="z-index:999;display:none;">
				    	<div class="col-lg-12">
				            <ol class="breadcrumb">
				              <li class="linus"></li>
				            </ol>
			          	</div>
				    </div>

				    {% block nus %}


					{% endblock %}


					{% block content %}


					{% endblock %}

				</div>

			</div>


			{{ cookie | raw }}


	    <!-- JavaScript -->
	    
	    <script src="{{ app.request.basepath }}/js/bootstrap.js"></script>


	    {% block js %}
	    {% endblock %}

	    <div id="divpopup"></div>


	    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/js/wysihtml5/bootstrap3-wysihtml5.css" />
	    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/js/wysihtml5/bootstrap3-wysihtml5-editor.css" />
	   

	</body>
</html>