<div class="row">
    <div class="col-lg-12">        
        
        <div class="panel panel-default">

            <div class="panel-heading">{{ "Traçabilitat de canvis" | trans }} <i class="fa fa-plus desplegacanvis" style="cursor:pointer;"></i>
            </div>
            <div class="panel-body desplegacanvis2" style="display:none;">
                
                <div class="form-group">

                    <div class="table-responsive"  style="overflow: hidden !important;">
                    <table class="table table-striped table-bordered table-hover dataTablesc dataTables">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Tipus de canvi</th>
                                <th>Usuari</th>
                            </tr>
                        </thead>   
                        <tbody>
                           
                            {% for d in Canvis if (d.parent_id == parent_id) and (d.clau == clau) %}
                                <tr class="odd">
                                    <td>
                                        {{ d.datai | raw }}
                                    </td>
                                    <td>
                                        {{ d.tipus | raw }}<br>{{d.detallcanvi|replace({'"],"':'<br>','"': '','[':'',']':'','{':'','}':''})|raw}}
                                    </td>
                                    <td>
                                        {{ d.cognomsresp | raw }}, {{ d.nomresp | raw }}
                                    </td>
                                </tr> 
                            {% endfor %}

                            {% if Canvis is empty %}
                                <tr class="odd">
                                    <td>
                                        {{ "Sense dades." | trans }}
                                    </td>
                                    <td>
                                        {{ "Sense dades." | trans }}
                                    </td>
                                    <td>
                                        {{ "Sense dades." | trans }}
                                    </td>
                                </tr> 
                            {% endif %}
                              
                        </tbody>
                    </table>
                    </div>

                </div>

            </div>
        </div>
       
    </div>
</div>
<script>
$(".dataTablesc ").dataTable( {
    "language": {
        "url": "{{ app.request.basepath }}/js/plugins/dataTables/dataTables.catala.lang"
    }
} );

$(document).ready(function($) {

    
    $(document).off('click',".desplegacanvis").on("click",".desplegacanvis",function(event){

    
        $(".desplegacanvis2").toggle('fast');
        

    });

});
</script>