{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}

	<link href="{{ app.request.basepath }}/css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">

{% endblock %}

{% block js %}

  <script src="{{ app.request.basepath }}/js/plugins/dataTables/jquery.dataTables.min.js"></script>

  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>

 
   
{% endblock %}


{% block nus %}


    <div class="row">
          <div class="col-lg-12">
            <h1> <small>{{ Pagines.titol | raw }}</small></h1>
            {#
            <ol class="breadcrumb">
              <li><a href="{{ app.request.basepath }}/index.html"><i class="fa fa-dashboard"></i> {{ "Inici" | trans }}</a></li>
          	  <li class="active"><i class="fa fa-edit"></i> {{ Pagines.titol | raw }}</li>
            </ol>
            #}
          </div>
    </div><!-- /.row -->


{% endblock %}


{% block content %}

    <div class="row panelldades">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body" id="divcamps">
                    
                    <form role="form" action="config" method="post" name="frmconfig" id="frmconfig">

                        <div style="display: none;">
                            <input name="idp" value="86" type="hidden" />
                            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
                            <input name="verif" value="" type="hidden" />
                            <input name="id" id="idconfig" value="1" />
                            <input name="idx" id="idx"  value="bcb6a5772cc7a154fb2d3cef33b046b7" type="hidden" />
                            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 86 %}{{idpx|md5}}" type="hidden" />
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                             <h4><div style="width:20px;width:60px; padding: 2px; background:#7bd148; display:inline-block;">&nbsp;</div> <span style="color:#7bd148;"><b> {{"SEMÀFOR VERD"|trans}}</b></span></h4>
                            </div>
                            <div class="form-group col-lg-6" >
                                <label>{{ "Nombre de dies fins la data de finalització més gran o igual a " | trans }}: </label>
                                <input class="form-control number" style="max-width:60px; display:inline-block;" name="c_1_datai" id="c_1_datai" type="text" value="{% if RegistreConfig.1.c_1_datai is defined %}{{ RegistreConfig.1.c_1_datai | raw }}{% endif %}"  />
                            </div>
                        </div>

                        
                        <hr>
                    
                        <div class="row">
                            <div class="col-lg-3">
                             <h4><div style="width:20px;width:60px; padding: 2px; background:#ffb878; display:inline-block;">&nbsp;</div> <span style="color:#ffb878;"><b> {{"SEMÀFOR ÀMBAR"|trans}}</b></span></h4>
                            </div>
                            <div class="form-group col-lg-6" >
                                <label>{{ "Nombre de dies fins la data de finalització entre" | trans }} : </label>
                                <input class="form-control number" style="max-width:60px; display:inline-block;" name="c_2_datai" id="c_2_datai" type="text" value="{% if RegistreConfig.1.c_2_datai is defined %}{{ RegistreConfig.1.c_2_datai | raw }}{% endif %}"  /> i
                                <input class="form-control number" style="max-width:60px; display:inline-block;" name="c_2_dataf" id="c_2_dataf" type="text" value="{% if RegistreConfig.1.c_2_dataf is defined %}{{ RegistreConfig.1.c_2_dataf | raw }}{% endif %}"  />
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3">
                             <h4><div style="width:20px;width:60px; padding: 2px; background:#ff887c; display:inline-block;">&nbsp;</div> <span style="color:#ff887c;"><b> {{"SEMÀFOR VERMELL"|trans}}</b></span></h4>
                            </div>
                            <div class="form-group col-lg-6" >
                                <label>{{ "Nombre de dies fins la data de finalització menor o igual a" | trans }} : </label>
                                <input class="form-control number" style="max-width:60px; display:inline-block;" name="c_3_datai" id="c_3_datai" type="text" value="{% if RegistreConfig.1.c_3_datai is defined %}{{ RegistreConfig.1.c_3_datai | raw }}{% endif %}"  />
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-3">
                             <h4><div style="width:20px;width:60px; padding: 2px; background:#e1e1e1; display:inline-block;">&nbsp;</div> <span style="color:#e1e1e1;"><b> {{"SEMÀFOR GRIS"|trans}}</b></span></h4>
                            </div>
                            <div class="form-group col-lg-6" >
                                <label style="margin-top:10px;">{{ "Per projectes descartats" | trans }} </label>
                            </div>
                        </div>

                        <hr>
                        
                        <div class="row">
                            <div class="col-lg-3">
                             <h4> <i class="fa fa-bell fa-fw"></i><b> {{"CAMPANA D'AVISOS"|trans}}</b></span></h4>
                            </div>
                            <div class="form-group col-lg-6" >
                                <label>{{ "Nombre de dies d'antelació a l'avís igual o menor a" | trans }} : </label>
                                <input class="form-control number" style="max-width:60px; display:inline-block;" name="c_4_datai" id="c_4_datai" type="text" value="{% if RegistreConfig.1.c_4_datai is defined %}{{ RegistreConfig.1.c_4_datai | raw }}{% endif %}"  />
                            </div>
                        </div>

                        <hr>



                        <div class="form-group">
                            <div class="errorconfig"><span></span></div>
                        </div>

                        
                        <button class="btn btn-primary amagabotons" type="submit">{{ "Guardar" | trans }}</button>

                    </form>
                    <hr>

                    <div class="row">
                      <div class="col-lg-12">

                           <div id="resultconfig" class="amagamissatges"></div>

                      </div>
                    </div>

                </div>
            </div>
            <hr>
        </div>
    </div>


     <script type="text/javascript">
      $(document).ready(function($) {

            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmconfig").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmconfig.verif.value = "ok";
                    var table = $('.dataTables').DataTable();
                    var dadestaules = table.$('input, select').serialize();
                    var stringdades = $("#frmconfig").serialize();
                    stringdades = stringdades + "&" +dadestaules;
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultconfig").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultconfig").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.errorconfig span").html("");
                                    $("#resultconfig").fadeIn('slow');
                                    $("#resultconfig").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                
                                    setTimeout( function(){ 
                                        $("#resultconfig").fadeOut('slow');
                                    } ,3000 );
                                }else{
                                    $("#resultconfig").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorconfig span").html(cuadre);
                        $("div.errorconfig").show();
                    } else {
                        $("div.errorconfig").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


      });
     
    </script>


{% endblock %}