{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}
      <link href="{{ app.request.basepath }}/css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block js %}

  <script src="{{ app.request.basepath }}/js/plugins/dataTables/jquery.dataTables.min.js"></script>

  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>
  
  {#<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>#}
  <script src="{{ app.request.basepath }}/js/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
 
{% endblock %}


{% block nus %}

{# 
    <div class="row">
      <div class="col-lg-12">
       {{text1|raw}}
        <ol class="breadcrumb nusconsultes">
          <li><a href="{{ app.request.basepath }}/index.html"><i class="fa fa-home"></i> {{ "Inici" | trans }}</a></li>
          <li><a href="{{ app.request.basepath }}/19/consultes.html"><i class="fa fa-dashboard"></i> {{ "Consultes" | trans }}</a></li>
          {{text2|raw}}
        </ol>
      </div>
    </div><!-- /.row -->
#}
   

{% endblock %}


{% block content %}
    
    {# pagina inicial de consulta #}

    {% if paginaconsulta == 0 %}
        
        <div class="row">
            
            <div class="col-lg-6 col-md-6"> <a href="{{ app.request.basepath }}/19/consultes.html?p=1">
              <div class="panel panel-yellow">
                  <div class="panel-heading" style="background-color:#FF9800;">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-users fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge"></div>
                              <div style="font-size: 16px;">PDA</div>
                          </div>
                      </div>
                  </div>
                 
                      <div class="panel-footer">
                          <span class="pull-left">Accedir</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  
              </div></a>
            </div>

        </div>
        
        {#
        <div class="row">

            {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') != 5 and app.session.get(constant('General::nomsesiouser') ~ '-permisos') != 4 %}
            <div class="col-lg-6 col-md-6"><a href="{{ app.request.basepath }}/19/consultes.html?p=1">
              <div class="panel panel-green">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-university fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge"></div>
                              <div style="font-size: 16px;">Institucional</div>
                          </div>
                      </div>
                  </div>
                  
                      <div class="panel-footer">
                          <span class="pull-left">Accedir</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  
              </div></a>
            </div>
            
            <div class="col-lg-6 col-md-6"><a href="{{ app.request.basepath }}/19/consultes.html?p=3">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div style="font-size: 16px;">KPI FOMENT</div>
                            </div>
                        </div>
                    </div>
                    
                        <div class="panel-footer">
                            <span class="pull-left">Accedir</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                   
                </div> </a>
            </div>
            {% endif %}
            <div class="col-lg-6 col-md-6"> <a href="{{ app.request.basepath }}/19/consultes.html?p=2&t=1">
              <div class="panel panel-yellow">
                  <div class="panel-heading" style="background-color:#FF9800;">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-users fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge"></div>
                              <div style="font-size: 16px;">Plans de Barris</div>
                          </div>
                      </div>
                  </div>
                 
                      <div class="panel-footer">
                          <span class="pull-left">Accedir</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  
              </div></a>
            </div>
            
            {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') != 5 and app.session.get(constant('General::nomsesiouser') ~ '-permisos') != 4 %}
            <div class="col-lg-6 col-md-6"><a href="{{ app.request.basepath }}/19/consultes.html?p=2&t=2">
              <div class="panel panel-yellow">
                  <div class="panel-heading" style="background-color:#FF9800;">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-tasks fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge"></div>
                              <div style="font-size: 16px;">Altres projectes</div>
                          </div>
                      </div>
                  </div>
                  
                      <div class="panel-footer">
                          <span class="pull-left">Accedir</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  
              </div></a>
            </div>

            <div class="col-lg-6 col-md-6"> <a href="{{ app.request.basepath }}/19/consultes.html?p=7" >
              <div class="panel panel-yellow">
                  <div class="panel-heading" style="background-color:#FF9800;">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-cloud-download fa-5x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge"></div>
                              <div style="font-size: 16px;">Recerques i emissió d’informes</div>
                          </div>
                      </div>
                  </div>
                 
                      <div class="panel-footer">
                          <span class="pull-left">Accedir</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  
              </div></a>
            </div>
          
            <div class="col-lg-6 col-md-6"><a href="{{ app.request.basepath }}/19/consultes.html?p=6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-map-marker fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div style="font-size: 16px;">Pla Dintres</div>
                            </div>
                        </div>
                    </div>
                    
                        <div class="panel-footer" style="color: #325d88;">
                            <span class="pull-left">Accedir</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    
                </div></a>
            </div>
            {% endif %}
        </div>
        #}
    
    {%  elseif paginaconsulta == 1  %}
      
      {% include "consultaprojectes.html" %}

    {%  endif %}


   

{% endblock %}