    

{#
<script type="text/javascript" src="../js/consultes/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="../js/consultes/daterangepicker/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="../js/consultes/daterangepicker/daterangepicker.css" />
#}

<script type="text/javascript" src="../js/consultes/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../js/consultes/highcharts/modules/exporting.js"></script>



<link rel="stylesheet" href="../js/consultes/style.css"/>

<style type="text/css">
    
    .dropdown-menu > li > a {
    font-size: 14px !important;
    }
    .card .header {
        padding: 0px;
        color: #000000;
        font-weight: 600 !important;
        font-size: 14px !important;
    }
    .card .category, .card .form-group > label {
        font-size: 15px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 0px;
    }
    
    .col-xs-15,
    .col-sm-15,
    .col-md-15,
    .col-lg-15 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }

    
    .col-xs-15 {
        width: 20%;
        float: left;
    }

    @media (min-width: 768px) {
    .col-sm-15 {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col-md-15 {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-15 {
            width: 20%;
            float: left;
        }
    }

</style>
<a name="principals"></a>

    {% include "formfiltre.html" %}

    
    {{Dades|raw}}

    {% set titol = "Detalls Projecte" | trans | raw %}
    {% set codi = "modalprojectes" %}
    {% include "formmodal.html" %}

