    
<link rel="stylesheet" href="../css/selects/bootstrap-select.css">
<script src="../js/selects/bootstrap-select.js"></script>
<script src="../js/selects/i18n/defaults-ca_CA.js"></script>


<script type="text/javascript" src="../js/consultes/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="../js/consultes/daterangepicker/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="../js/consultes/daterangepicker/daterangepicker.css" />

<link rel="stylesheet" href="../js/consultes/style.css"/>

    <div>

        <div class="row" >

            <div class="col-lg-12 text-right" style="cursor:pointer; margin-bottom:-60px;z-index:100;right:15px;">

                <h4 class="mostrabuscador"><i class="fa fa-filter" aria-hidden="true"></i> Fes la cerca a la teva mida </h4>

             </div>

        </div>

        <form role="form" action="#" method="get" name="frmfiltrar" id="frmfiltrar" >

            <input type="hidden" name="o" value="32">
            <input type="hidden" name="id" value="1">
            <input type="hidden" name="inici" id="inici" value="">
            <input type="hidden" name="final" id="final" value="">

            <div class="row buscador" {% if hihafiltre == true %}style="display:none;"{% endif %}>

                <div class="col-md-12">

                    <div class="card" >

                        <div class="content">
            
                            <div class="row">

                                <div class="col-lg-12" >

                                    <div class="form-group">

                                        <label><h5><b></b></h5></label><br>

                                        <div class="checkbox" style="display:inline-block;margin-top: 0px;" title="PAM">
                                          <label style="padding-left: 0px !important;font-size: 1.5em;">
                                            <input type="checkbox" name="vinculacions[]" value="9" {% if 9 in vinculacionsget %}checked{% endif %}>
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            PAM
                                          </label>
                                        </div>

                                        <div class="checkbox" style="display:inline-block;margin-top: 0px;" title="PAD">
                                          <label style="padding-left: 0px !important;font-size: 1.5em">
                                            <input type="checkbox" name="checkpad" id="checkpad" value="1">
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                            PAD
                                          </label>
                                        </div>
                                        
                                        {% set desplegarpam = 0%}
                                        <select name="vinculacions[]" class="selectpicker selvinculacions" multiple data-actions-box="true" data-live-search="true" data-width="65%" style="display:none;">
                                            {% for d in Vinculacio if d.nivell == 1 and d.id != 9 %}
                                                <option value="{{d.id}}" {% if d.id in vinculacionsget %}selected{% set desplegarpam = 1%}{% endif %}>{{ d.titol | raw }}</option>
                                            {% endfor %}
                                        </select>
                                     
                                    </div>

                                </div>
                                
                            </div>

                            <div class="row">

                                <div class="col-lg-6" >

                                    <div class="form-group">

                                        <label style="color:#000;"><h5><i class="fa fa-sort-alpha-asc" aria-hidden="true" style="color:#cc032f;"></i> Quin <b>eix</b> t'interessa?</h5></label><br>
                                       
                                        <select name="eixos[]"  class="selectpickereixos" multiple data-actions-box="true" data-width="100%">
                                            {% for d in Vinculacio if d.nivell == 2 %}
                                                <option value="{{d.id}}" {% if d.id in eixosget %}selected{% endif %}>{{ d.titol | raw }}</option>
                                            {% endfor %}
                                        </select>
                                     
                                    </div>

                                </div>

                                <div class="col-lg-6" >

                                    <div class="form-group">

                                        <label style="color:#000;"><h5><i class="fa fa-sort-alpha-asc" aria-hidden="true" style="color:#cc032f;"></i> I quina <b>linia estratègica</b>?</h5></label><br>
                                       
                                        <div id="diveix">Tria l'eix que t'interessa.</div>
                                     
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label style="color:#000;"><h5><i class="fa fa-calendar" aria-hidden="true" style="color:#cc032f;"></i> <b>Quan</b> es desenvolupen?</h5></label><br>
                                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 12px 16px; border: 1px solid #dfd7ca; border-radius: 4px; width: 100%;">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                            <span></span> <b class="caret"></b>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6" >

                                    <div class="form-group">

                                        <label style="color:#000;"><h5><i class="fa fa-sliders" aria-hidden="true" style="color:#cc032f;"></i> En quina <b>situació</b> es troben els projectes?</h5></label><br>
                                       
                                        <select name="estats[]"  class="selectpicker" multiple data-actions-box="true" data-width="100%">
                                            {% for d in Paraules %}
                                                {% if (d.codi == 'estatprojecte') and (d.idioma == 'ca')%}
                                                    <option value="{{d.clau}}" {% if d.clau in estatsget %}selected{% endif %}>{{ d.text | raw }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                     
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group">

                                    <div class="col-lg-6">
                                        <div class="form-group" style="display:inline-block;">
                                            <label style="color:#000;"><h5><i class="fa fa-percent" aria-hidden="true" style="color:#cc032f;"></i> Especifica el <b>% d'execució</b> de projectes que cerques? </h5></label><br>
                                            Entre <input class="form-control" name="percent1" id="percent1" value="{{percent1get}}" style="max-width:60px; display:inline-block;"> i 
                                            <input class="form-control" name="percent2" id="percent2" value="{{percent2get}}" style="max-width:60px; display:inline-block;"> %
                                        </div>
                                    </div>

                                    <div class="col-lg-6" >

                                        <div class="form-group">

                                            <label style="color:#000;"><h5><i class="fa fa-map-marker" aria-hidden="true" style="color:#cc032f;"></i> Vols precisar el <b>territori</b> de la ciutat on es treballa?</h5></label><br>
                                              
                                            <select name="districtes[]" class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-width="100%" >
                                                
                                            
                                                {% if Districtes is not empty %}

                                                    {% for d in Districtes if (d.nivell == 1) %}
                                                        
                                                        <option data-divider="true"></option>

                                                        <option value="{{d.id}}" data-icon="glyphicon-home">{{d.titol|raw}}</option>

                                                            {% for b in Districtes if (b.nivell == 2) and (b.parent_id == d.id) %}
                                                                
                                                                <option value="{{b.id}}" {% if b.id in districtesget %}selected{% endif %}>{{b.titol|raw}}</option>
                                                            
                                                            {% endfor %}

                                                        </optgroup>

                                                    {% endfor %}

                                                {% endif %}

                                            </select>
                                         
                                        </div>

                                    </div>
                                

                                </div> 


                            </div>
                            
                            <div class="row">

                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label style="color:#000;"><h5><i class="fa fa-search-plus" aria-hidden="true" style="color:#cc032f;"></i> Vols acotar més la recerca? Especifica la paraula o <b>paraules clau</b> que t’interessen (separar amb ",")</h5></label><br>
                                        <input class="form-control" name="paraules" id="paraules" value="{% if paraulesget is not empty %}{% for p in paraulesget%}{{p}}{% endfor %}{% endif %}">
                                    </div>
                                </div>

                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <label><h5 style="color:#fff;"><b>.</b></h5></label><br>
                                        <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i> Filtrar</button>
                                    </div>
                                </div>
                            
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </form>

    </div>

    
    {{Dades|raw}}

    {% set titol = "Detalls Projecte" | trans | raw %}
    {% set codi = "modalprojectes" %}
    {% include "formmodal.html" %}


    <script type="text/javascript">

        $(document).ready(function($) {

            $(document).off('click',".esborrafiltre").on("click",".esborrafiltre",function(event){

                event.preventDefault();
                window.top.location ="../19/consultes.html?p=1";
                
            });

            $(document).off('click',".mostrabuscador").on("click",".mostrabuscador",function(event){

                $(".buscador").toggle("slow");
                
            });


            $('#checkpad').change(function(){
                
                $(".selvinculacions").toggle();
                
            });

            $('.selectpicker').selectpicker({
              
            });

            $('.selectpickereixos').selectpicker({
              
            }); 

            $('.selectpickereixos').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
                
                var selected = $(e.currentTarget).val();
                {% if liniesgetjson is empty %}
                    liniesgetjson = "";
                {% endif %}
                $("#diveix").html("<img src=\'../images/loading.gif\'/>");
                $("#diveix").load("../load",{o:34, id:1, c:{s:selected, l:'{{liniesgetjson}}'} });   

            });


            $('.selectpickereixos').change();

            

            {% if desplegarpam == 0 %}
                $(".selvinculacions").hide();
            {% else %}
                $('#checkpad').prop('checked', true);
            {% endif %}

            var start = moment().subtract(29, 'days');//"01/05/2015";//
            var end = moment();// "01/05/2019";//

            function cb(start, end) {
                $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
            }

            $('#reportrange').daterangepicker({
                "showDropdowns": true,
                /*
                "ranges": {
                   'Today': [moment(), moment()],
                   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                */
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Triar",
                    "cancelLabel": "Esborrar",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Dg",
                        "Dl",
                        "Dm",
                        "Dc",
                        "Dj",
                        "Dv",
                        "Ds"
                    ],
                    "monthNames": [
                        "Gener",
                        "Febrer",
                        "Març",
                        "Abril",
                        "Maig",
                        "Juny",
                        "Juliol",
                        "Agost",
                        "Setembre",
                        "Octubre",
                        "Novembre",
                        "Decembre"
                    ],
                    "firstDay": 1
                },
                "alwaysShowCalendars": true,
                "startDate": start,
                "endDate": end,
                "opens": "left"
            }, function(start, end, label) {
              //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
              $("#inici").val(start.format('YYYY-MM-DD'));
              $("#final").val(end.format('YYYY-MM-DD'));
              cb(start, end); 
            });   

            cb(start, end); 


            $( "#frmfiltrar" ).submit(function( event ) {
                event.preventDefault();
                var stringdades = $("#frmfiltrar").serialize();
                $.ajax({
                    type: "POST",
                    url: "../load",
                    data: stringdades,
                    beforeSend:function(){
                        //$("#resultinformescal").html("<img src=\'../images/loading.gif\'/>");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        // Error.
                    },
                    success: function(data){
                        window.top.location ="../19/consultes.html?p=1&f="+data;
                    }
                });
                return false;
            });   

            
                
        });

    </script>
