<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="web-barcelona.com">

    <title>Project Monitor Local</title>

    <link href="{{ app.request.basepath }}/css/bootstrap.min.l.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/web-barcelona-com-admin.l.css" rel="stylesheet">

    <link href="{{ app.request.basepath }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="{{ app.request.basepath }}/favicon.ico"/>


</head>

<body>
    
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              
                <a class="navbar-brand topnav" href="index.html" style="padding-top: 3px;"><img src="{{ app.request.basepath }}/images/client_ext.png"  /></a>
            </div>
        </div>
        <!-- /.container -->
    </nav>


   
    <!-- /.content-section-b -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
            
              

                <div class="col-lg-12">
                  <h1>{{ "Cookies" | trans }} <small></small></h1>
                  
                </div>
    
                    

            </div>

            <div class="row">
                <div class="col-lg-12">
                    
                    {% if idioma == "ca" %}


                         Volem informar-te que aquest lloc web utilitza cookies per a analitzar la navegació d'usuaris. 
            <br><br>
            Las cookies són uns arxius que s'instal·len a l'equip des del qual accedeixes a la nostra web amb les finalitats que es descriuen en aquesta pàgina. 
            <br><br>
            L'aplicació que utilitzem per obtenir i analitzar la informació de la navegació és: Google Analytics: www.google.com/analytics/ y http://www.google.com/intl/es/policies/privacy/ 
            <br><br>
            Aquesta aplicació ha estat desenvolupada per Google, que ens presta el servei d'anàlisi de l'audiència de la nostra pàgina. Aquesta empresa pot utilitzar aquestes dades per a millorar els seus propis serveis i per a oferir serveis a altres empreses. Pots conèixer aquests altres usos des dels enllaços indicats. 
            <br><br>
            Aquesta eina no obté dades dels noms o cognoms dels usuaris ni de l'adreça postal des d'on es connecten. La informació que obté està relacionada per exemple amb el nombre de pàgines visitades, l'idioma, xarxa social en que es publiquen les nostres notícies, la ciutat a la qual està assignada l'adreça IP des de la qual accedeixen els usuaris, el nombre d'usuaris que ens visiten, la freqüència i reincidència de les visites, el temps de visita, el navegador que usen, l'operador o tipus de terminal des del qual es realiza la visita. 
            <br><br>
            Aquesta informació l'emprem per millorar la nostra pàgina, detectar noves necessitats i valorar les millores a introduir amb la finalitat de prestar un millor servei als usuaris que ens visiten. 
            <br><br>
            Per permetre conèixer, blocar o eliminar les cookies instal·lades al teu equip pots fer-ho mitjançant la configuració de les opcions del navegador instal·lat al seu ordinador. 
            <br><br>
            Per exemple pots trobar informació sobre com fer-ho en el cas que usis com a  navegador: 
            <br><br>
            - Firefox des d'aquí: 
            http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we 
            <br><br>
            - Chrome des d'aquí:
            http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647 
            <br><br>
            - Explorer des d'aquí: 
            http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9 
            <br><br>
            - Safari des d'aquí: 
            http://support.apple.com/kb/ph5042 
            <br><br>
            - Opera des d'aquí:
            http://help.opera.com/Windows/11.50/es-ES/cookies.html 
                        <br><br>


                    {% else %}

 Volem informar-te que aquest lloc web utilitza cookies per a analitzar la navegació d'usuaris. 
            <br><br>
            Las cookies són uns arxius que s'instal·len a l'equip des del qual accedeixes a la nostra web amb les finalitats que es descriuen en aquesta pàgina. 
            <br><br>
            L'aplicació que utilitzem per obtenir i analitzar la informació de la navegació és: Google Analytics: www.google.com/analytics/ y http://www.google.com/intl/es/policies/privacy/ 
            <br><br>
            Aquesta aplicació ha estat desenvolupada per Google, que ens presta el servei d'anàlisi de l'audiència de la nostra pàgina. Aquesta empresa pot utilitzar aquestes dades per a millorar els seus propis serveis i per a oferir serveis a altres empreses. Pots conèixer aquests altres usos des dels enllaços indicats. 
            <br><br>
            Aquesta eina no obté dades dels noms o cognoms dels usuaris ni de l'adreça postal des d'on es connecten. La informació que obté està relacionada per exemple amb el nombre de pàgines visitades, l'idioma, xarxa social en que es publiquen les nostres notícies, la ciutat a la qual està assignada l'adreça IP des de la qual accedeixen els usuaris, el nombre d'usuaris que ens visiten, la freqüència i reincidència de les visites, el temps de visita, el navegador que usen, l'operador o tipus de terminal des del qual es realiza la visita. 
            <br><br>
            Aquesta informació l'emprem per millorar la nostra pàgina, detectar noves necessitats i valorar les millores a introduir amb la finalitat de prestar un millor servei als usuaris que ens visiten. 
            <br><br>
            Per permetre conèixer, blocar o eliminar les cookies instal·lades al teu equip pots fer-ho mitjançant la configuració de les opcions del navegador instal·lat al seu ordinador. 
            <br><br>
            Per exemple pots trobar informació sobre com fer-ho en el cas que usis com a  navegador: 
            <br><br>
            - Firefox des d'aquí: 
            http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we 
            <br><br>
            - Chrome des d'aquí:
            http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647 
            <br><br>
            - Explorer des d'aquí: 
            http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9 
            <br><br>
            - Safari des d'aquí: 
            http://support.apple.com/kb/ph5042 
            <br><br>
            - Opera des d'aquí:
            http://help.opera.com/Windows/11.50/es-ES/cookies.html 

    


                    {% endif %}
                    
                             

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Project Monitor Local 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ app.request.basepath }}/js/jquery.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>

   
</body>

</html>
