{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}

	<link href="{{ app.request.basepath }}/css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">

{% endblock %}

{% block js %}

  <script src="{{ app.request.basepath }}/js/plugins/dataTables/jquery.dataTables.min.js"></script>

  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>
  <script type="text/javascript">
      $(document).ready(function($) {

        jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
        $("#frmusuaris").validate({
            errorElement: "em",
            errorPlacement: function(error, element) {
                error.appendTo( element.parent("div") );
            },
            success: function(label) {
                //label.text("ok!").addClass("success");
            },
            //errorLabelContainer: $("div.error"),
            submitHandler: function(form) {
                document.frmusuaris.verif.value = "ok";
                var stringdades = $("#frmusuaris").serialize();
                    $.ajax({
                        type: "POST",
                        url: "{{ app.request.basepath }}/guardar",
                        data: stringdades,
                        beforeSend:function(){
                            $("#resultusuaris").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            // Error.
                        },
                        success: function(data){
                            $("#resultusuaris").fadeIn('slow');
                            $("#resultusuaris").html(data);
                            var dades = jQuery.parseJSON(data);
                            if (dades[0] == 1){
                                $("div.errorusuaris span").html("");
                                $("#resultusuaris").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                
                                setTimeout( function(){ 
                                    $("#resultusuaris").fadeOut('slow');
                                } ,3000 );
                                
                            }else{
                                $("#resultusuaris").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                            }
                        }
                    });
                return false;
            },
            invalidHandler: function(e, validator) {
                var errors = validator.numberOfInvalids();
                if (errors) {
                    var message = errors == 1
                        ? "Has oblidat 1 camp."
                        : "Has oblidat " + errors + " camps. ";

                    var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                    $("div.errorusuaris span").html(cuadre);
                    $("div.errorusuaris").show();
                } else {
                    $("div.errorusuaris").hide();
                }
            },
            onkeyup: false,
            debug:true,
            rules: {
                passw: {
                    minlength: 8,
                    required: true,
                    pwcheck: true,
                },
                passw2: {
                    minlength: 8,
                    equalTo: "#passw",
                    required: true,
                },
            },
            messages: {
                passw: {
                    minlength: "<br>Longitud mínima 8 caràcters.",
                    pwcheck: "<br>El password ha de tenir: al menys una majúscula, una minúscula i un número. <br>Els caràcter permesos son: A-Z a-z 0-9! @ # $ % ^ & * ( ) _ + | : ? . - =",
                },
                passw2: {
                    minlength: "<br>Longitud mínima 8 caràcters.",
                    equalTo: "<br>Els passwords no coincideixen."
                },
            },
        });

        // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
        jQuery.validator.addMethod("defaultInvalid", function(value, element) {
            return value != element.defaultValue;
        }, "");

        jQuery.validator.addMethod("pwcheck", function(value) {
           return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
               && /[A-Z]/.test(value) // has a lowercase letter
               && /[a-z]/.test(value) // has a lowercase letter
               && /\d/.test(value) // has a digit
        });

      });
  </script>
   
{% endblock %}


{% block nus %}


    <div class="row">
          <div class="col-lg-12">
            <h1> <small>{{ "Dades d'usuari" | trans }}</small></h1>
            {#
            <ol class="breadcrumb">
              <li><a href="{{ app.request.basepath }}/index.html"><i class="fa fa-dashboard"></i> {{ "Inici" | trans }}</a></li>
          	  <li class="active"><i class="fa fa-edit"></i> {{ "Dades d'usuari" | trans }}</li>
            </ol>
            #}
          </div>
    </div><!-- /.row -->


{% endblock %}


{% block content %}



    <div class="row" >
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body" id="divcamps">

                    <form role="form" action="dadess-usuari" method="post" name="frmusuaris" id="frmusuaris">

                        <div style="display: none;">
                            <input name="id" value="" type="hidden" />
                            <input name="idp" value="997" type="hidden" />
                            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
                            <input name="verif" value="" type="hidden" />
                            <input name="idx" value="" type="hidden" />
                            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 997 %}{{idpx|md5}}" type="hidden" />
                        </div>

                        <div class="form-group">
                            <label>{{ "Contrasenya actual" | trans }}</label>
                            <input type="password" class="form-control required" name="passwa" id="passwa" value="" maxlenght="20" />
                        </div>
                        <div class="form-group">
                            <label>{{ "Nova contrasenya" | trans }}</label>
                            <input type="password" class="form-control required" name="passw" id="passw" value="" pattern=".{8,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Longitud mínima 8 carácteres.' : ''); if(this.checkValidity()) form.passw2.pattern = this.value;" maxlenght="20" />
                        </div>
                        <div class="form-group">
                            <label>{{ "Repetir nova contrasenya" | trans }}</label>
                            <input type="password" class="form-control required" name="passw2" id="passw2" value="" pattern=".{8,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Las contraseñas no coinciden' : '');" maxlenght="20" />
                        </div>


                        <div class="form-group">
                          <div class="errorusuaris"><span></span></div>
                        </div>


                        <button class="btn btn-primary guardu" type="submit">{{ "Guardar" | trans }}</button>
                

                        
                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div id="resultusuaris" class="amagamissatges"></div>
      </div>
    </div>

    

{% endblock %}