{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}

	<!-- Page-Level Plugin CSS - Tables -->
    <link href="{{ app.request.basepath }}/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

{% endblock %}

{% block js %}

	<script src="{{ app.request.basepath }}/js/plugins/dataTables/jquery.dataTables.js"></script>
  <script src="{{ app.request.basepath }}/js/plugins/dataTables/dataTables.bootstrap.js"></script>

  <script src="{{ app.request.basepath }}/js/upimatges/jquery.upimatges.js"></script>

	<script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/jquery.fancybox.css?v=2.1.5" media="screen" />
	<script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>
	<script type="text/javascript">
      $(document).ready(function($) {

        {{ js|raw }}

      });
    </script>
   
{% endblock %}


{% block nus %}


    <div class="row">
          <div class="col-lg-12">
            <h1>{{ Pagines.titol | raw }} <small></small></h1>
            <ol class="breadcrumb">
              <li><a href="{{ app.request.basepath }}/index.html"><i class="fa fa-dashboard"></i> {{ "Inici" | trans }}</a></li>
          	  <li class="active"><i class="fa fa-edit"></i> {{ Pagines.titol | raw }}</li>
            </ol>
          </div>
    </div><!-- /.row -->


{% endblock %}


{% block content %}
  
  {#
	<div class="row">
		<div class="col-lg-12">
			<p>
				<button class="btn btn-success nou" type="submit">{{ "Nova Imatge" | trans }}</button>
			</p>
		</div>
	</div>
  #}

    <div class="row panelldades panelldadesimatges" style="display:none;">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body" id="divcamps">


                </div>
            </div>

        </div>
    </div>


    <div class="row">
      <div class="col-lg-12">
        <div id="resultimatges" class="amagamissatges"></div>
      </div>
    </div>


	<div class="row llistat llistat_23 llistatimatges">

    

  </div>



{% endblock %}