
	

    <form role="form" action="dades-pla-g" method="post" name="frmimatges" id="frmimatges" enctype="multipart/form-data">

    	<div style="display: none;">
    		<input name="idp" value="21" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
			<input name="verif" value="" type="hidden" />
			<input name="id" id="idi" value="{% if Upfiles.1.id is defined %}{{ Upfiles.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if Upfiles.1.idx is defined %}{{ Upfiles.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{%set idpx=constant('General::tockenid') ~ 21%}{{idpx|md5}}" type="hidden" />
        </div>

        <div class="form-group">
            <label>{{ "Títol Imatge" | trans }}</label>
            <input class="form-control" name="descripcio_ca" id="descripcio_ca" value="{% if Upfiles.1.descripcio is defined %}{{ Upfiles.1.descripcio | raw }}{% endif %}">
        </div>

        <div class="form-group">
            <label>{{ "Ordre" | trans }}</label>
             <input class="form-control number" name="ordre" id="ordre"  type="text" value="{% if Upfiles.1.ordre is defined %}{{ Upfiles.1.ordre | raw }}{% endif %}">
        </div>

        <div class="form-group">

          {{Imatges|raw}}

        </div>

       


        <div class="form-group">
            <label>{{ "Actiu" | trans }}</label>
            <div class="checkbox-inline">
              <label>
                <input name="estat" value="1" type="checkbox"  {% if Upfiles.1.estat is defined %}{% if Upfiles.1.estat == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} />
              </label>
            </div>
        </div>

        <div class="form-group">
        	<div class="errorimatges"><span></span></div>
        </div>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        
    </form>

   <script type="text/javascript">
      $(document).ready(function($) {

        

            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmimatges").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmimatges.verif.value = "ok";
                    var stringdades = $("#frmimatges").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultimatges").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultimatges").html(data);
                                var dades = jQuery.parseJSON(data);
                                if (dades[0] == 1){
                                    $("div.errorimatges span").html("");
                                    $("#resultimatges").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idi").val(dades[1]);
                                    $(".panelldadesimatges").toggle();
                                   
                                    $(".llistatimatges").load("{{ app.request.basepath }}/load",{o:2,id:1, taula: "upfile"}, function(){
                    
                                    });
                                }else{
                                    $("#resultimatges").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorimatges span").html(cuadre);
                        $("div.errorimatges").show();
                    } else {
                        $("div.errorimatges").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");

            var id = $("#idi").val();
            if (id == ""){id = 1;}
            $("#galeriaimatges").html("<div  style=\"text-align: center;\"><img src=\"{{ app.request.basepath }}/images/loading.gif\" /></div>");
            $("#galeriaimatges").load("{{ app.request.basepath }}/load", {id: id, o: 3, taula: "uploadview"} ); 

      });
    </script>

    {% if (pagina == 8) %}

        {% include "actuacionsformmodal.html" %}

    {% endif %}