{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}

	<link href="{{ app.request.basepath }}/css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">

{% endblock %}

{% block js %}

  <script src="{{ app.request.basepath }}/js/plugins/dataTables/jquery.dataTables.min.js"></script>

  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>
  <script type="text/javascript">
      $(document).ready(function($) {

        {{ js|raw }}

      });
  </script>
   
{% endblock %}


{% block nus %}


    <div class="row">
          <div class="col-lg-12">
            <h1> <small>{{ Pagines.titol | raw }}</small></h1>
            {#
            <ol class="breadcrumb">
              <li><a href="{{ app.request.basepath }}/index.html"><i class="fa fa-dashboard"></i> {{ "Inici" | trans }}</a></li>
          	  <li class="active"><i class="fa fa-edit"></i> {{ Pagines.titol | raw }}</li>
            </ol>
            #}
          </div>
    </div><!-- /.row -->


{% endblock %}


{% block content %}


    <div class="row panelldades panelldadesprojectesorig" >
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body" id="divcamps">

                     <div class="row">
                          <div class="col-lg-12">        
                              
                              <div class="panel panel-primary">

                                  <div class="panel-heading">{{ "Documentació" | trans }} 
                                  </div>
                                  <div class="panel-body">
                                      
                                      <div class="form-group">

                                          <div class="table-responsive"  style="overflow: hidden !important;">
                                          <table class="table table-striped table-bordered table-hover dataTables dataTables1">
                                              <thead>
                                                  <tr>
                                                      <th>Nom del document</th>
                                                      <th>Observacions</th>
                                                      <th>Accion</th>
                                                  </tr>
                                              </thead>   
                                              <tbody>
                                                 
                                                

                                                  {% for d in Documentacio %}
                                                      <tr class="odd">
                                                          <td>
                                                              {{ d.titol_ca | raw }}
                                                          </td>
                                                          <td>
                                                              {{ d.descripcio_ca | raw }}
                                                          </td>
                                                          <td>
                                                            {% if d.nomfile != '' %}
                                                              <a href="{{ app.request.basepath }}/docs/{{d.ranid}}/?t={{d.tocken}}" target="_blank">
                                                                    <button class="btn btn-success btn-xs" type="button" >
                                                                        <i class="fa fa-download"></i> Descarregar
                                                                    </button>
                                                                </a>
                                                            {% endif %}
                                                            {% if d.titol_ca starts with 'http' %}
                                                              <a href="{{d.titol_ca|raw}}" target="_blank">
                                                                    <button class="btn btn-success btn-xs" type="button" >
                                                                        <i class="fa fa-eye"></i> Visitar
                                                                    </button>
                                                                </a>
                                                            {% endif %}
                                                          </td>
                                                      </tr> 
                                                  {% endfor %}
                                                    
                                              </tbody>
                                          </table>
                                          </div>

                                      </div>

                                  </div>
                              </div>
                             
                          </div>
                      </div>

                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function($) {

            $(".dataTables1").dataTable( {
                "language": {
                    "url": "{{ app.request.basepath }}/js/plugins/dataTables/dataTables.catala.lang"
                }
            } );

        });
    </script>


{% endblock %}