<!-- Modal -->
<div class="modal fade" id="{{codi}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:1024px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close tancar" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{{titol}}</h4>
            </div>
            <div class="modal-body {% if codi != "modalconsulta" %}mostrarmodal{% else %}mostrarmodal2{% endif %}">
                

            </div>
            <div class="modal-footer" {#style="margin-top:-77px; text-align:left; margin-left:100px;"#} >
                {#<button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>#}
            </div>
            <br><br>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% if codi == "modalperfilsdef" %}
<script>

    $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmperfilsdef').val('');  
    $('INPUT:checkbox, INPUT:radio', '#frmperfilsdef').removeAttr('checked').removeAttr('selected');

    if ($("#idperfildef").val() == "")
    {   
        $("input[name=estat]").prop("checked", true);
    }
  
    $(".tancar, .modaltancat, .modaltancar").click(function(){

        //$("#idperfildef").val("");
        //$('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmperfilsdef').val('');  
        //$('INPUT:checkbox, INPUT:radio', '#frmperfilsdef').removeAttr('checked').removeAttr('selected');
        //$("div.errorperfilsperdefecte span").html("");
        //$("#resultperfilsperdefecte").html("");
    });
</script>
{% endif %}