	
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/selects/bootstrap-select.css">
    <script src="{{ app.request.basepath }}/js/selects/bootstrap-select.js"></script>
    <script src="{{ app.request.basepath }}/js/selects/i18n/defaults-ca_CA.js"></script>

	<div>
        

        <div class="row" >

            <div class="col-lg-12" style="cursor:pointer;">

                <h4 class="mostrabuscador"><i class="fa fa-search" aria-hidden="true"></i> Cercador de projectes</h4>

             </div>

        </div>

        <form role="form" action="#" method="get" name="frmfiltrar" id="frmfiltrar" >

            <input type="hidden" name="o" value="32">
            <input type="hidden" name="id" value="1">
            <input type="hidden" name="export" id="export" value="">
            <input type="hidden" name="export_ind" id="export_ind" value="">
            
            {#
            <input type="hidden" name="inici" id="inici" value="">
            <input type="hidden" name="final" id="final" value="">
            #}

            <div class="row buscador" {% if hihafiltre == true %}{% endif %}style="display:none;">
                
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" >

                    <div class="card" >

                        <div class="content">
            
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                                    <div class="form-group">

                                        <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(214, 203, 54, 0.6) !important; padding: 3px;border-radius: 5px;">De quin <b>Pla</b>?</h5></div>
                                        <i class="fa fa-th " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;
                                        <select name="vinculacions[]" class="selectpicker selvinculacions" multiple data-actions-box="true" data-live-search="true" data-width="88%" >
                                            {% for d in Vinculacio if d.nivell == 1 %}
                                                <option value="{{d.id}}" {% if d.id in vinculacionsget %}selected{% endif %}>{{ d.titol | raw }}</option>
                                            {% endfor %}
                                            
                                        </select>
                                     
                                    </div>

                                </div>

                            </div>

                            <div class="row">

                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                                    <div class="form-group">
                                        
                                        <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(214, 203, 54, 0.6); padding: 3px;border-radius: 5px;">De quina <b>Línia estratègica</b>?</h5></div>
                                        
                                        <i class="fa fa-th-list " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;

                                        <select name="eixos[]"  class="selectpickereixos" multiple data-actions-box="true" data-width="88%">
                                            {% for d in Vinculacio|sort if d.nivell == 2 %}
                                                <option value="{{d.id}}" {% if d.id in eixosget %}selected{% endif %}>{{ d.titol | raw }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>

                                </div>

                            </div>
                            
                            {#
                            <div class="row" style="margin-bottom: -5px; ">
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                                    <div class="form-group" style="margin-bottom: 5px; ">

                                        <div style="color:#000;margin-left:55px; width:43%;display:inline-block;"><h5 style="font-size:18px;font-size: 18px; background: rgba(214, 203, 54, 0.6); padding: 3px;border-radius: 5px;">De quin <b>Àmbit de resultat</b>?</h5></div>  <div style="color:#000;margin-left:0px; width:44%;display:inline-block;"><h5 style="font-size:18px;font-size: 18px; background: rgba(214, 203, 54, 0.6); padding: 3px;border-radius: 5px;">De quina <b>Actuació</b>?</h5></div><br>
                                        
                                        <i class="fa fa-indent " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;
                                    
                                        <div id="diveix" style="width:43%;margin-left:2px;display:inline-block;">
                                            <div class="panel panel-default" style="padding:12px ;">
                                                Tria l'eix que t'interessa.
                                            </div>
                                        </div>
                                        <div id="divact" style="width:44%;margin-left:0px;display:inline-block;">
                                            <div class="panel panel-default" style="padding:12px;">
                                                Tria la línia que t'interessa.
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            #}

                            <div class="row">

                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                                    <div class="form-group" style="margin-bottom: 0px !important;">
                                        
                                        <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(214, 203, 54, 0.6); padding: 3px;border-radius: 5px;">De quin <b>Àmbit de resultat</b>?</h5></div>
                                        
                                        <i class="fa fa-indent " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;

                                        <div id="diveix" style="width:88%;margin-left:2px;display:inline-block;">
                                            <div class="panel panel-default" style="padding:12px ;">
                                                Tria la línia que t'interessa.
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row">

                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                                    <div class="form-group" style="margin-bottom: 0px !important;">
                                        
                                        <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(214, 203, 54, 0.6); padding: 3px;border-radius: 5px;">De quin <b>Objectiu</b>?</h5></div>
                                        
                                        <i class="fa fa-list-ol" style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;

                                        <div id="divact" style="width:88%;margin-left:0px;display:inline-block;">
                                            <div class="panel panel-default" style="padding:12px;">
                                                Tria l'objectiu estratègic.
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row">

                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                                    <div class="form-group">
                                        
                                        <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(214, 203, 54, 0.6); padding: 3px;border-radius: 5px;">De quin <b>Centre associat</b> t'interessa?</h5></div>
                                        
                                        <i class="fa fa-list-ul " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;

                                        <select name="ambits[]"  class="selectpickerambits" multiple data-actions-box="true" data-width="88%">
                                            {% for d in Organse if d.nivell == 1%}
                                                <option value="{{d.id}}" {% if d.id in ambitsget %}selected{% endif %}>{{ d.titol | raw }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>

                                </div>

                            </div>

                            {% if pagina != 19 %}
                                <div class="row">
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                                        <div class="form-group">

                                            <i class="fa fa-check " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;
                                            
                                            <div  style="width:88%;margin-left:2px;display:inline-block;">
                                                <div class="panel panel-default" style="padding:12px ;    margin-bottom: 0px;">
                                                    <div class="">
                                                          <label><input name="nomesprojectes" value="1" type="checkbox" {% if "1" in nomesprojectesget %}checked="true"{% endif %} style="margin-right: 10px;"><b>Mostrar únicament projectes associats a aquest Àmbit o Servei indicats</b></label>
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                           
                                        </div>

                                    </div>

                                </div>
                            {% endif %}
                           

                            
                            <div class="row">
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                                    <div class="form-group">

                                        <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(214, 203, 54, 0.6); padding: 3px;border-radius: 5px;">De quin <b>Àmbit</b> t'interessa?</h5></div>
                                        
                                        <i class="fa fa-list-ul " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;
                                    
                                        <div id="divcentre" style="width:88%;margin-left:2px;display:inline-block;">
                                            <div class="panel panel-default" style="padding:12px ;">
                                                Tria el centre que t'interessa.
                                            </div>
                                        </div>
                                       
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                                    <div class="form-group">

                                        <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(214, 203, 54, 0.6); padding: 3px;border-radius: 5px;">De quin <b>Servei</b> t'interessa?</h5></div>
                                        
                                        <i class="fa fa-list-ul " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;
                                    
                                        <div id="divservei" style="width:88%;margin-left:2px;display:inline-block;">
                                            <div class="panel panel-default" style="padding:12px ;">
                                                Tria el centre que t'interessa.
                                            </div>
                                        </div>
                                       
                                    </div>

                                </div>

                            </div>
                        


                            <div class="row" style="margin-bottom: -5px;">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <div class="form-group">


                                        <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(180, 191, 222, 0.6); padding: 3px;border-radius: 5px;">De quin <b>Tema o Matèria</b>? <small>(separa amb ",")</small></h5> </div>
                                        <i class="fa fa-search " style="color:#cd0d2d;font-size:40px; float:left;margin-right:15px;"></i>&nbsp;
                                        
                                        <input style="width:88%;margin-top:-20px;" class="form-control" name="paraules" id="paraules" value="{% if paraulesget is not empty %}{% for p in paraulesget%}{{p}}{% endfor %}{% endif %}">
                                     

                                    </div>

                                </div>

                            </div>

                            
                            {% if pagina != 5 and pagina != 6 %}
                                <div class="row">

                                    <div class="col-lg-12" >

                                        <div class="form-group">


                                            <div style="color:#000;margin-left:55px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;">L'objectiu té projectes que el  <b>desenvolupen</b>?</h5></div>
                                            <i class="fa fa-check " style="color:#cd0d2d;font-size:40px; float:left;"></i>&nbsp;
                                            
                                            <select name="teprojectes[]"  class="selectpicker" multiple data-actions-box="true" data-width="90%">
                                               
                                                <option value="0" {% if 0 in teprojectesget %}selected{% endif %}>Sense projectes</option>
                                                <option value="1" {% if 1 in teprojectesget %}selected{% endif %}>Amb Projectes</option>
                                                  
                                            </select>
                                         

                                        </div>

                                    </div>

                                </div>
                            {% endif %}
                            

                        </div>

                    </div>

                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" >

                    <div class="card" >

                        <div class="content">

                            <div class="row">

                                <div class="col-lg-12" >

                                    <div class="form-group">


                                        <div style="color:#000;margin-left:55px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;">Quin <b>Tipus de projecte</b> busques?</h5></div>
                                        <i class="fa fa-check " style="color:#cd0d2d;font-size:40px; float:left;"></i>&nbsp;
                                        
                                        <select name="estrategic[]"  class="selectpicker" multiple data-actions-box="true" data-width="90%">
                                           
                                            <option value="1" {% if 1 in estrategicget %}selected{% endif %}>Estratègics</option>
                                            <option value="2" {% if 2 in estrategicget %}selected{% endif %}>No Estratègics</option>
                                              
                                        </select>
                                     

                                    </div>

                                </div>

                            </div>

                            {#

                            <div class="row">

                                <div class="col-lg-12" >

                                    <div class="form-group">

                                        <div style="color:#000;margin-left:50px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;">Quin <b>Barri o Districte</b>?</h5></div>
                                        <i class="fa fa-map-marker " style="color:#cd0d2d;font-size:48px; float:left;margin-left:5px;margin-right:10px"></i>&nbsp;
                                        
                                        <select name="districtes[]" class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-width="90%" >
                                                
                                            {% if Districtes is not empty %}

                                                {% for d in Districtes if (d.nivell == 1) %}
                                                    
                                                    <option data-divider="true"></option>

                                                    <option value="{{d.id}}" data-icon="glyphicon-home" {% if d.id in districtesget %}selected{% endif %}>{{d.titol|raw}}</option>

                                                        {% for b in Districtes if (b.nivell == 2) and (b.parent_id == d.id) %}
                                                            
                                                            <option value="{{b.id}}" {% if b.id in districtesget %}selected{% endif %}>{{b.titol|raw}}</option>
                                                        
                                                        {% endfor %}

                                                    </optgroup>

                                                {% endfor %}

                                            {% endif %}

                                        </select>
                                     
                                    </div>

                                </div>

                            </div>

                            #}

                            <div class="row">

                                <div class="col-lg-12" >

                                    <div class="form-group">


                                        <div style="color:#000;margin-left:50px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;">Quin <b>Calendari</b>?</h5></div>
                                        <i class="fa fa-calendar " style="color:#cd0d2d;font-size:48px; float:left;margin-right:4px;"></i>&nbsp;
                                        
                                        {#
                                        <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 12px 16px; border: 1px solid #dfd7ca; border-radius: 4px; width: 90%; margin-bottom: 15px;">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                            <span></span> <b class="caret"></b>
                                        </div>
                                        #}

                                        <span style="font-size:18px;">Inici </span><input class="form-control datepicker" name="inici" id="inici" placeholder="dd/mm/aaaa" value="{% if iniciget is empty %}{% else %}{{iniciget}}{% endif %}" style="max-width:30%; display:inline-block;"  autocomplete="off">

                                        <span style="font-size:18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Final </span><input class="form-control datepicker" name="final" id="final" placeholder="dd/mm/aaaa" value="{% if finalget is empty %}{% else %}{{finalget}}{% endif %}" style="max-width:30%; display:inline-block;" autocomplete="off">
                                           
                         

                                    </div>

                                </div>

                            </div>

                            {#
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                        
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                   
                                            <div style="color:#000;margin-left:55px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;">Pel seu <b>Grau d'execució</b></h5></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                                            <i class="fa fa-pie-chart " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;

                                            <span style="font-size:15px;">Projectes </span> <input class="form-control" name="percent1" id="percent1" value="{% if percent1get is empty %}{% else %}{{percent1get}}{% endif %}" style="max-width:40px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">i el</span>
                                                <input class="form-control" name="percent2" id="percent2" value="{% if percent2get is empty %}{% else %}{{percent2get}}{% endif %}" style="max-width:40px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">%</span>
                                        
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                                            <span style="font-size:15px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Programes </span> <input class="form-control" name="percent3" id="percent3" value="{% if percent3get is empty %}{% else %}{{percent3get}}{% endif %}" style="max-width:40px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">i el</span>
                                                <input class="form-control" name="percent4" id="percent4" value="{% if percent4get is empty %}{% else %}{{percent4get}}{% endif %}" style="max-width:40px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">%</span>
                                        </div>
                                    </div>
                                 

                                </div>

                            </div>
                            #}

                            <div class="row">

                                <div class="col-lg-12" >

                                    <div class="form-group">


                                        <div style="color:#000;margin-left:55px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;"><b>Projectes</b> pel seu <b>Grau d'execució</b></h5></div>

                                        <i class="fa fa-pie-chart " style="color:#cd0d2d;font-size:40px; float:left;"></i>&nbsp;
                                        
                                        <span style="font-size:15px;">Projectes </span> <input class="form-control" name="percent1" id="percent1" value="{% if percent1get is empty %}{% else %}{{percent1get}}{% endif %}" style="max-width:50px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">i el</span>
                                                <input class="form-control" name="percent2" id="percent2" value="{% if percent2get is empty %}{% else %}{{percent2get}}{% endif %}" style="max-width:50px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">%</span>
                                     

                                    </div>

                                </div>

                            </div>

                            {% if pagina != 5 and pagina != 6 %}
                            <div class="row">

                                <div class="col-lg-12" >

                                    <div class="form-group">


                                        <div style="color:#000;margin-left:55px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;"><b>Objectius</b> pel seu <b>Grau d'execució</b></h5></div>
                                        
                                        <i class="fa fa-bar-chart " style="color:#cd0d2d;font-size:40px; float:left;"></i>&nbsp;
                                        
                                        <span style="font-size:15px;">Programes </span> <input class="form-control" name="percent3" id="percent3" value="{% if percent3get is empty %}{% else %}{{percent3get}}{% endif %}" style="max-width:50px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">i el</span>
                                        <input class="form-control" name="percent4" id="percent4" value="{% if percent4get is empty %}{% else %}{{percent4get}}{% endif %}" style="max-width:50px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">%</span>
                                     

                                    </div>

                                </div>

                            </div>
                            {% endif %}


                            <div class="row">

                                <div class="col-lg-12" >

                                    <div class="form-group">


                                        <div style="color:#000;margin-left:55px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;"><b>Pressupost</b> del projecte</h5></div>
                                        
                                        <i class="fa fa-eur " style="color:#cd0d2d;font-size:40px; float:left;"></i>&nbsp;
                                        
                                        <span style="font-size:15px;">Pressupost </span> <input class="form-control" name="pressu1" id="pressu1" value="{% if pressu1get is empty %}{% else %}{{pressu1get}}{% endif %}" style="max-width:100px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">i</span>
                                        <input class="form-control" name="pressu2" id="pressu2" value="{% if pressu2get is empty %}{% else %}{{pressu2get}}{% endif %}" style="max-width:100px; display:inline-block;padding:5px 5px;"> <span style="font-size:15px;">€</span>
                                     

                                    </div>

                                </div>

                            </div>


                            <div class="row">

                                <div class="col-lg-12" >

                                    <div class="form-group">


                                        <div style="color:#000;margin-left:55px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;">Pel seu <b>Estat de realització</b>?</h5></div>
                                        <i class="fa fa-line-chart " style="color:#cd0d2d;font-size:40px; float:left;"></i>&nbsp;
                                        
                                        <select name="estats[]"  class="selectpicker" multiple data-actions-box="true" data-width="90%">
                                            {% for d in Paraules %}
                                                {% if (d.codi == 'estatprojecte') and (d.idioma == 'ca')  %}
                                                    <option value="{{d.clau}}" {% if d.clau in estatsget %}selected{% endif %}>{{ d.text | raw }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                     

                                    </div>

                                </div>

                            </div>

                            {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 1 and pagina == 999 %}
                                <div class="row">

                                    <div class="col-lg-12" >

                                        <div class="form-group">


                                            <div style="color:#000;margin-left:55px; width:90%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(181, 176, 118, 0.6); padding: 3px;border-radius: 5px;">Projecte <b>sensible</b>?</h5></div>
                                            <i class="fa fa-check " style="color:#cd0d2d;font-size:40px; float:left;"></i>&nbsp;
                                            
                                            <select name="sensible[]"  class="selectpicker" multiple data-actions-box="true" data-width="90%">
                                               
                                                <option value="0" {% if 0 in sensibleget %}selected{% endif %}>No</option>
                                                <option value="1" {% if 1 in sensibleget %}selected{% endif %}>Si</option>
                                                  
                                            </select>
                                         

                                        </div>

                                    </div>

                                </div>
                            {% endif %}


                        </div>

                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                            <div class="form-group">

                                <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(180, 191, 222, 0.6) !important; padding: 3px;border-radius: 5px;">De quins <b>Responsables</b>?</h5></div>
                                <i class="fa fa-users " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;
                                <select name="responsables[]" class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-header="Selecciona un Responsable" data-width="90%" >
                                    {% for d in UsuarisFiltre %}
                                        <option value="{{d.id}}" {% if d.id in responsablesget %}selected{% endif %}>{{ d.cognoms | raw }}, {{ d.nom | raw }} </option>
                                    {% endfor %}
                                </select>
                             
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

                            <div class="form-group">

                                <div style="color:#000;margin-left:55px; width:88%;"><h5 style="font-size:18px;font-size: 18px; background: rgba(180, 191, 222, 0.6) !important; padding: 3px;border-radius: 5px;">De quins <b>Membres</b> de l'equip de projecte intern?</h5></div>
                                <i class="fa fa-users " style="color:#cd0d2d;font-size:48px; float:left;"></i>&nbsp;
                                <select name="membres[]" class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-header="Selecciona un Membre" data-width="90%" >
                                    {% for d in UsuarisFiltre2 %}
                                        <option value="{{d.id}}" {% if d.id in membresget %}selected{% endif %}>{{ d.cognoms | raw }}, {{ d.nom | raw }} </option>
                                    {% endfor %}
                                </select>
                             
                            </div>

                        </div>

                    </div>

                </div>
                
                <div class="col-lg-12">

                    <div class="card" >

                        <div class="content text-center">
                
                             <button type="submit" class="btn btn-default inicic" style="font-size:18px;"><i class="fa fa-filter" ></i> Mostrar resultats</button><br>

                             <div id="iniciarcerca" style="font-size:24px;"></div>
                                   
                               
                        </div>

                    </div>

                    <hr>

                </div>
    
            </div>

        </form>

    </div>

     <script type="text/javascript">

        $(document).ready(function($) {

            $(document).off('click',".esborrafiltre").on("click",".esborrafiltre",function(event){

                event.preventDefault();
                window.top.location ="{{ app.request.basepath }}/19/consultes.html?p=1";
                
            });


            $(document).off('click',".inicic").on("click",".inicic",function(event){

                event.preventDefault();
                $("#iniciarcerca").html("Iniciant cerca... <img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                $( "#frmfiltrar" ).submit();
                
            });

            $(document).off('click',".mostrabuscador").on("click",".mostrabuscador",function(event){

                $(".buscador").toggle("slow");

                var target = $(".mostrabuscador").html();
                {% if pagina != 999 and pagina != 5 and pagina != 6 %}
                    var $scrollingDiv = $(".nussup");
                    if (target.length) {
                        $scrollingDiv
                        .fadeIn()
                        .css("position","fixed" )  
                        .css("top","65px" )  
                    }
                {% endif %}
                    
            });


            $('.selvinculacions').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
                $('.selectpickereixos').change();
            });


            $('.selectpicker').selectpicker({
              
            });

            $('.selectpickereixos').selectpicker({
              
            }); 

            $('.selectpickereixos').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
                
                var selected = $(e.currentTarget).val();
                {% if liniesgetjson is empty %}
                    liniesgetjson = "";
                {% endif %}
                {% if actuacionsgetjson is empty %}
                    actuacionsgetjson = "";
                {% endif %}
                $("#diveix").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                $("#diveix").load("{{ app.request.basepath }}/load",{o:34, id:1, c:{s:selected, l:'{{liniesgetjson}}', a:'{{actuacionsgetjson}}'} });   

            });


            $('.selectpickereixos').change();

            $('.selectpickerambits').selectpicker({
              
            }); 

            
            $('.selectpickerambits').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {

                var selected = $(e.currentTarget).val();
                {% if ambits2getjson is empty %}
                    ambits2getjson = "";
                {% endif %}
                {% if serveisgetjson is empty %}
                    serveisgetjson = "";
                {% endif %}

                $("#divcentre").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                $("#divcentre").load("{{ app.request.basepath }}/load",{o:46, id:1, c:{s:selected, a2:'{{ambits2getjson}}', se:'{{serveisgetjson}}'} });   
              
            }); 

            $('.selectpickerambits').change();
        
            
            {#
                {% if datamenor is not empty %}
                    var start = new Date({{datamenor[0]}},{{datamenor[1]}}-1,{{datamenor[2]}}); //moment().subtract(29, 'days');//"01/05/2015";// 
                {% else %}
                     var start = moment().subtract(29, 'days');
                {% endif %}
                {% if datamajor is not empty %}
                    var end = new Date({{datamajor[0]}},{{datamajor[1]}}-1,{{datamajor[2]}});// moment();// "01/05/2019";//"
                {% else %}
                    var end = moment();
                {% endif %}

               
                var start = moment(start);
                var end = moment(end);


                function cb(start, end) {
                    $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY')); // start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY')
                }

                $('#reportrange').daterangepicker({
                    "showDropdowns": true,
                    /*
                    "ranges": {
                       'Today': [moment(), moment()],
                       'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                       'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                       'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                       'This Month': [moment().startOf('month'), moment().endOf('month')],
                       'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    */
                    "locale": {
                        "format": "DD/MM/YYYY",
                        "separator": " - ",
                        "applyLabel": "Triar",
                        "cancelLabel": "Esborrar",
                        "fromLabel": "From",
                        "toLabel": "To",
                        "customRangeLabel": "Custom",
                        "weekLabel": "W",
                        "daysOfWeek": [
                            "Dg",
                            "Dl",
                            "Dm",
                            "Dc",
                            "Dj",
                            "Dv",
                            "Ds"
                        ],
                        "monthNames": [
                            "Gener",
                            "Febrer",
                            "Març",
                            "Abril",
                            "Maig",
                            "Juny",
                            "Juliol",
                            "Agost",
                            "Setembre",
                            "Octubre",
                            "Novembre",
                            "Decembre"
                        ],
                        "firstDay": 1
                    },
                    "alwaysShowCalendars": true,
                    "startDate": start,
                    "endDate": end,
                    "opens": "left"
                }, function(start, end, label) {
                  //console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
                  $("#inici").val(start.format('YYYY-MM-DD'));
                  $("#final").val(end.format('YYYY-MM-DD'));
                  cb(start, end); 
                });   

                cb(start, end); 
            #}

            $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });

            $(function($){
                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant',
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.regional['ca'] = {
                    closeText: 'Tancar',
                    prevText: '<Ant',
                    nextText: 'Seg>',
                    currentText: 'avui',
                    monthNames: ["Gener", "Febrer", "Març", "Abril", "Maig", "Juny", "Juliol", "Agost", "Setembre", "Octubre", "Novembre", "Desembre"],
                    monthNamesShort: ["Gen", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Des"],
                    dayNames: ["Diumenge", "Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres", "Dissabte"],
                    dayNamesShort: ["Diu",  "Dil", "Dmt", "Dmc", "Dij", "Div", "Dis"],
                    dayNamesMin: ["dg", "dl", "dt", "dc", "dj", "dv", "ds"],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['ca']);
            });



            $( "#frmfiltrar" ).submit(function( event ) {
                event.preventDefault();
                var stringdades = $("#frmfiltrar").serialize();
                $.ajax({
                    type: "POST",
                    url: "{{ app.request.basepath }}/load",
                    data: stringdades,
                    beforeSend:function(){
                        //$("#resultinformescal").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        // Error.
                    },
                    success: function(data){
                        {% if pagina == 19 %}
                            window.top.location ="{{ app.request.basepath }}/19/consultes.html?p=1&f="+data;
                        {% elseif pagina == 5  %}
                            window.top.location ="{{ app.request.basepath }}/5/els-meus-projectes.html?f="+data;
                        {% else %}
                            window.top.location ="{{ app.request.basepath }}/inici.html?f="+data;
                        {% endif %}
                    }
                });
                return false;
            });   

            
                
        });

    </script>