{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}

{% endblock %}

{% block js %}

<link href="{{ app.request.basepath }}/css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">
<script src="{{ app.request.basepath }}/js/plugins/dataTables/jquery.dataTables.min.js"></script>

<style type="text/css">
    
    .dataTablesresum th { font-size: 12px; }
    .dataTablesresum td { font-size: 12px; }
    .dataTables_wrapper label { font-size: 10px; }
    .dataTables_info { font-size: 10px; }
    .dataTables_paginate { font-size: 9px; }


</style>

{% endblock %}


{% block nus %}


   <div class="row">
  

    <div class="row hidden-print">
          <div class="col-lg-12 backgroundred"><h4>
           {#
            <div class="alert alert-success"></div>
            #}
              <strong>{{"Benvingut/da "|trans}}</strong> {{NomUsuari|raw}}  </h4>
          </div>
      </div>
  
  </div>

{% endblock %}


{% block content %}

  {% if getc == "" %}

    
       {#<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>#}
       <script src="{{ app.request.basepath }}/js/jquery-ui.js"></script>  
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    {% include "formfiltre.html" %}

    <style type="text/css">.btn-xs{padding: 1px 5px !important;} .btn-sm{padding: 5px 10px !important;}</style>

    {#
    {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 1 %}
    {% else %}
        <form role="form" action="#" method="get" name="frmfiltrar" id="frmfiltrar" >

            <input type="hidden" name="o" value="32">
            <input type="hidden" name="id" value="1">
            <input type="hidden" name="export" id="export" value="">
            <input type="hidden" name="export_ind" id="export_ind" value="">

        </form>
        <script>
            $( "#frmfiltrar" ).submit(function( event ) {
                event.preventDefault();
                var stringdades = $("#frmfiltrar").serialize();
                $.ajax({
                    type: "POST",
                    url: "{{ app.request.basepath }}/load",
                    data: stringdades,
                    beforeSend:function(){
                        //$("#resultinformescal").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        // Error.
                    },
                    success: function(data){
                     
                        window.top.location ="{{ app.request.basepath }}/inici.html?f="+data;
                      
                    }
                });
                return false;
            });   
        </script>
    {% endif %}
    #}
  

  
    {% if Vinculacio4.0.id is defined %}

        {# RESUM #}

            <div class="row">

                <div class="col-lg-3 col-md-3">        
                                    
                    <div class="panel panel-primary">

                        <div class="panel-heading">Projectes no iniciats i amb retard</div>
                        <div class="panel-body">
                            <div class="form-group">

                                <div class="row tile_count text-center">
                                    <div class="col-lg-12 mostrarllistat" data-llistat="llistat1">  
                                        <div class="count" style="font-size:40px;">{{arrayresum.1|length}} <span class="signe"><i class="fa fa-angle-down"></i></span></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-3 col-md-3">        
                                    
                    <div class="panel panel-danger">

                        <div class="panel-heading">Proj. vius amb retard o dificultats</div>
                        <div class="panel-body">
                            <div class="form-group">

                                <div class="row tile_count text-center">
                                    <div class="col-lg-12 mostrarllistat" data-llistat="llistat2">  
                                        <div class="count" style="font-size:40px;">{{arrayresum.2|length}} <span class="signe"><i class="fa fa-angle-down"></i></span></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-3 col-md-3">        
                                    
                    <div class="panel panel-warning">

                        <div class="panel-heading">Projectes vius en termini</div>
                        <div class="panel-body">
                            <div class="form-group">

                                <div class="row tile_count text-center">
                                    <div class="col-lg-12 mostrarllistat" data-llistat="llistat3">  
                                        <div class="count" style="font-size:40px;">{{arrayresum.3|length}} <span class="signe"><i class="fa fa-angle-down"></i></span></div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-3 col-md-3">        
                                    
                    <div class="panel panel-success">

                        <div class="panel-heading">Projectes finalitzats</div>
                        <div class="panel-body">
                            <div class="form-group">

                                <div class="row tile_count text-center">
                                    <div class="col-lg-12 mostrarllistat" data-llistat="llistat4">  
                                        <div class="count" style="font-size:40px;">{{arrayresum.4|length}} <span class="signe"><i class="fa fa-angle-down"></i></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            {% if arrayresum.1 is not empty %}

                <div class="row llistat1 llistats" style="margin:1px; display: none;">

                    <table class="table table-hover dataTablesresum">
                        <thead class="backgroundblack">
                            <tr>
                                <th>Objectiu PDA</th>
                                <th>Centre o servei</th>
                                <th>Nom de projecte</th>
                                <th>Cap de projecte</th>
                                <th>Inici</th>
                                <th>Final</th>
                                <th>Estat</th>
                                <th>% execució</th>
                                <th>Actualitzat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in arrayresum.1 %}
                                <tr>
                                    <td>{{r.codnomvinc|raw}}</td>
                                    <td>{{r.acronim|raw}}</td>
                                    <td width="40%">{{r.nom|raw}}</td>
                                    <td>{{r.nomresp|raw}} {{r.cognomsresp|raw}}</td>
                                    <td>{{r.inici|raw}}</td>
                                    <td>{{r.final|raw}}</td>
                                    <td>{{r.estatprojecte|raw}}</td>
                                    <td>{{r.tantpercent|raw}}</td>
                                    <td>{{r.updated|raw}}</td>
                                    <td width="7%">
                                    {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') != 3 %}
                                        <a href="./6/projectes.html?id={{r.id}}"><button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit" aria-hidden="true"></i></button></a>
                                    {% endif %}
                                    <button type="button" class="btn btn-primary btn-xs mostrarconsulta" data-id="{{r.id}}" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalprojectes"><i class="fa fa-search" aria-hidden="true"></i></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            {% endif %}

            {% if arrayresum.2 is not empty %}

                <div class="row llistat2 llistats" style="margin:1px; display: none;">

                    <table class="table table-hover dataTablesresum">
                        <thead class="backgroundblack">
                            <tr>
                                <th>Objectiu PDA</th>
                                <th>Centre o servei</th>
                                <th>Nom de projecte</th>
                                <th>Cap de projecte</th>
                                <th>Inici</th>
                                <th>Final</th>
                                <th>Estat</th>
                                <th>% execució</th>
                                <th>Actualitzat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in arrayresum.2 %}
                                <tr>
                                    <td>{{r.codnomvinc|raw}}</td>
                                    <td>{{r.acronim|raw}}</td>
                                    <td width="40%">{{r.nom|raw}}</td>
                                    <td>{{r.nomresp|raw}} {{r.cognomsresp|raw}}</td>
                                    <td>{{r.inici|raw}}</td>
                                    <td>{{r.final|raw}}</td>
                                    <td>{{r.estatprojecte|raw}}</td>
                                    <td>{{r.tantpercent|raw}}</td>
                                    <td>{{r.updated|raw}}</td>
                                    <td width="7%">
                                    {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') != 3 %}
                                        <a href="./6/projectes.html?id={{r.id}}"><button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit" aria-hidden="true"></i></button></a>
                                    {% endif %}
                                    <button type="button" class="btn btn-primary btn-xs mostrarconsulta" data-id="{{r.id}}" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalprojectes"><i class="fa fa-search" aria-hidden="true"></i></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            {% endif %}

            {% if arrayresum.3 is not empty %}

                <div class="row llistat3 llistats" style="margin:1px; display: none;">

                    <table class="table table-hover dataTablesresum">
                        <thead class="backgroundblack">
                            <tr>
                                <th>Objectiu PDA</th>
                                <th>Centre o servei</th>
                                <th>Nom de projecte</th>
                                <th>Cap de projecte</th>
                                <th>Inici</th>
                                <th>Final</th>
                                <th>Estat</th>
                                <th>% execució</th>
                                <th>Actualitzat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in arrayresum.3 %}
                                <tr>
                                    <td>{{r.codnomvinc|raw}}</td>
                                    <td>{{r.acronim|raw}}</td>
                                    <td width="40%">{{r.nom|raw}}</td>
                                    <td>{{r.nomresp|raw}} {{r.cognomsresp|raw}}</td>
                                    <td>{{r.inici|raw}}</td>
                                    <td>{{r.final|raw}}</td>
                                    <td>{{r.estatprojecte|raw}}</td>
                                    <td>{{r.tantpercent|raw}}</td>
                                    <td>{{r.updated|raw}}</td>
                                    <td width="7%">
                                    {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') != 3 %}
                                        <a href="./6/projectes.html?id={{r.id}}"><button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit" aria-hidden="true"></i></button></a>
                                    {% endif %}
                                    <button type="button" class="btn btn-primary btn-xs mostrarconsulta" data-id="{{r.id}}" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalprojectes"><i class="fa fa-search" aria-hidden="true"></i></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            {% endif %}

            {% if arrayresum.4 is not empty %}

                <div class="row llistat4 llistats" style="margin:1px; display: none;">

                    <table class="table table-hover dataTablesresum">
                        <thead class="backgroundblack">
                            <tr>
                                <th>Objectiu PDA</th>
                                <th>Centre o servei</th>
                                <th>Nom de projecte</th>
                                <th>Cap de projecte</th>
                                <th>Inici</th>
                                <th>Final</th>
                                <th>Estat</th>
                                <th>% execució</th>
                                <th>Actualitzat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in arrayresum.4 %}
                                <tr>
                                    <td>{{r.codnomvinc|raw}}</td>
                                    <td>{{r.acronim|raw}}</td>
                                    <td width="40%">{{r.nom|raw}}</td>
                                    <td>{{r.nomresp|raw}} {{r.cognomsresp|raw}}</td>
                                    <td>{{r.inici|raw}}</td>
                                    <td>{{r.final|raw}}</td>
                                    <td>{{r.estatprojecte|raw}}</td>
                                    <td>{{r.tantpercent|raw}}</td>
                                    <td>{{r.updated|raw}}</td>
                                    <td width="7%">
                                    {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') != 3 %}
                                        <a href="./6/projectes.html?id={{r.id}}"><button type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit" aria-hidden="true"></i></button></a>
                                    {% endif %}
                                    <button type="button" class="btn btn-primary btn-xs mostrarconsulta" data-id="{{r.id}}" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalprojectes"><i class="fa fa-search" aria-hidden="true"></i></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            {% endif %}

        
        {# Vinculats a PAM #}
       
        <hr>

        <div class="row">
            <div class="col-lg-12">
             <h4><i class="fa fa-tasks" style="color:#cd0d2d;"></i> {{"Els "|trans}} <span><b><a href="{{ app.request.basepath }}/6/projectes.html" style="color:#cd0d2d;">{{"PROJECTES/OBJECTIUS"|trans}}</a></b></span> vinculats als PDA que gestiones:  
              {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 2 %}
                <a href="6/projectes.html?n">
                <button type="button" class="btn btn-success btn-xs edicio">{{ "+ Nou projecte" | trans}}</button>
                </a>
              {% endif %}
              <span class="export" data-t="4" style="cursor:pointer;"><img src="images/icon-pdf.png" width="50"/></span> <span class="export" data-t="3" style="cursor:pointer;"> <img src="images/icon-xlsx.png" width="50" /> </span> <span class="resultexport"></span> {{botodesc|default('')|raw}}
             </h4>
            </div>
        </div>
        
      {% set captaula = false %}
      {% set clau_eix = "" %}
      {% set clau_linia = "" %}
      {% for v in Vinculacio4 if v.clau_cero == 0  and v.clau_pam == 1 and altresprojectes == false %}
        
        {% if captaula == false %}
            {% set captaula = true %}
            <table class="table table-hover ">
                <thead class="backgroundblack">
                    <tr>
                        <th width="2%">#</th>
                        <th width="50%">Objectius</th>
                        {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 2 %}
                          <th width="10%"></th>
                        {% endif %}
                        <th width="10%">% d'execució mitjà</th>
                        <th width="20%">Calendari</th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}

        {% set mostrarobjectiu = true %}
        {% if teprojectesget is defined %}
          {% if teprojectesget is not empty %}
            {% if 0 in teprojectesget %}
                {% if v.idsproj != "" %}
                  {% set mostrarobjectiu = false %}
                {% endif %}
            {% endif%}
            {% if 1 in teprojectesget %}
                {% if v.idsproj == "" %}
                  {% set mostrarobjectiu = false %}
                {% endif %}
            {% endif%}
          {% endif %}
        {% endif %}

        {% if mostrarobjectiu == true %}

                {% if v.clau_eix != clau_eix %}
                    {% set clau_eix = v.clau_eix %}
                    <tr style="font-size: 18px;">
                        <td colspan="7"><b>{{v.titoleix|raw}}</b></td>
                    </tr>
                {% endif %}
                {% if v.clau_linia != clau_linia %}
                    {% set clau_linia = v.clau_linia %}
                    <tr style="font-size: 18px;">
                        <td colspan="7">&nbsp;&nbsp;&nbsp;<b>{{v.titolambit|raw}}</b></td>
                    </tr>
                {% endif %}

                <tr {% if v.idsproj != "" and v.estatssproj2 != "" %}class="mostrarelacionat" data-id="{{v.id}}"  data-visible="0" {% endif %} style="cursor:pointer;font-size: 16px !important; 
                {% if v.idsproj == "" or v.estatssproj == "5" %}background-color:#e8b2b2; {% endif %} 
                {% if (v.estatssproj2 != "" and v.idsproj == "" and v.estatssproj2 != "5") %}background-color:#efefef; {% endif%}" >
                    <td>{% if v.idsproj != ""  %}<i class="fa fa-plus" style="margin-left:25px;"></i>{% endif %}</td>
                    <td>{#{{v.codipam|replace({'.': ""})}}.#}{%if v.estatvinculacio==false%}<span style="color:#ff0000;"><b>CANCEL·LAT</b></span> {%endif%}{{v.titol|raw}} </td>
                    {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 2 %}
                    <td>
                        <a href="6/projectes.html?n">
                        <button type="button" class="btn btn-success btn-xs edicio">{{ "+ Nou projecte" | trans}}</button>
                        </a>
                    </td>
                    {% endif %}
                    <td> <b>{% if Vinculacio4tantspercents[v.id].tantspercents is defined %}{{Vinculacio4tantspercents[v.id].tantspercents}}{% if Vinculacio4tantspercents[v.id].tantspercents == "" %}0.00{% endif %}{% endif %} %</b></td>
                     <td> {% if Vinculacio4dates[v.id].datesinici[0] is defined %}<b>{% if Vinculacio4dates[v.id].datesinici[0] != "0000-00-00" %}({{Vinculacio4dates[v.id].datesinici[0]| date('d/m/Y') }} - {% endif %}{% if Vinculacio4dates[v.id].datesfinal[0] is defined %}{% if Vinculacio4dates[v.id].datesfinal[0] != "0000-00-00" %}{{Vinculacio4dates[v.id].datesfinal[0]| date('d/m/Y')}}){% endif %}</b>{% endif %}{% endif %} </td>
                </tr>
                <tr style="display:none;" class="act_{{v.id}}">
                   
                </tr>
            
        {% endif %}
       
        

      {% endfor %}

      {% if captaula == true %}
          </tbody>
        </table> 
      {% endif %}



      {# Vinculats a PAD 


      <hr>

        <div class="row">
            <div class="col-lg-12">
             <h4><i class="fa fa-tasks" style="color:#cd0d2d;"></i> {{"Els "|trans}} <span><b><a href="{{ app.request.basepath }}/6/projectes.html" style="color:#cd0d2d;">{{"PROJECTES"|trans}}</a></b></span> vinculats als PAD que gestiones:  
              {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 2 %}
                <a href="6/projectes.html?n">
                <button type="button" class="btn btn-success btn-xs edicio">{{ "+ Nou projecte" | trans}}</button>
                </a>
              {% endif %}
             </h4>
            </div>

        </div>
     #}
            
      {% set captaula = false %}
      {% for v in Vinculacio4 if v.clau_cero == 0  and v.clau_pam != 1 and altresprojectes == false %}
        
        {% if captaula == false %}
            {% set captaula = true %}
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th width="2%">#</th>
                        <th width="40%">Programes</th>
                        {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 2 %}
                          <th width="10%"></th>
                        {% endif %}
                        <th width="10%">% d'execució mitjà</th>
                        <th width="20%">Calendari</th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}

            <tr class="mostrarelacionat" data-id="{{v.id}}"  data-visible="0" style="cursor:pointer;font-size: 16px !important;">
                <td><i class="fa fa-plus"></i></td>
                <td> {{v.codipam|replace({'.': ""})}}.{{v.titol|raw}}</td>
                {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 2 %}
                <td>
                    <a href="6/projectes.html?n">
                    <button type="button" class="btn btn-success btn-xs edicio">{{ "+ Nou projecte" | trans}}</button>
                    </a>
                </td>
                {% endif %}

                {#
                <td> <b>{{v.tantspercents}}{% if v.tantspercents == "" %}0.00{% endif %} %</b></td>
                <td> {% if v.datesinici[0] is defined %}<b>{% if v.datesinici[0] != "0000-00-00" %}({{v.datesinici[0]| date('d/m/Y') }} - {% endif %}{% if v.datesfinal[0] is defined %}{% if v.datesfinal[0] != "0000-00-00" %}{{v.datesfinal[0]| date('d/m/Y')}}){% endif %}{% endif %}</b>{% endif %}</td>
                #}

                <td> <b>{% if Vinculacio4tantspercents[v.id].tantspercents is defined %}{{Vinculacio4tantspercents[v.id].tantspercents}}{% if Vinculacio4tantspercents[v.id].tantspercents == "" %}0.00{% endif %}{% endif %} %</b></td>
                 <td> {% if Vinculacio4dates[v.id].datesinici[0] is defined %}<b>{% if Vinculacio4dates[v.id].datesinici[0] != "0000-00-00" %}({{Vinculacio4dates[v.id].datesinici[0]| date('d/m/Y') }} - {% endif %}{% if Vinculacio4dates[v.id].datesfinal[0] is defined %}{% if Vinculacio4dates[v.id].datesfinal[0] != "0000-00-00" %}{{Vinculacio4dates[v.id].datesfinal[0]| date('d/m/Y')}}){% endif %}</b>{% endif %}{% endif %} </td>
            </tr>
            <tr style="display:none;" class="act_{{v.id}}">
                
            </tr>

        {#
            <div class="row"><br>
              <div class="col-lg-12">
                  <h4 class="mostrarelacionat" data-id="{{v.id}}" style="cursor:pointer; font-size: 16px !important;"><i class="fa fa-plus"></i> {{v.titol|raw}} <b>{% if v.datesinici[0] != "0000-00-00" %}({{v.datesinici[0]| date('d/m/Y') }} - {% endif %}{% if v.datesfinal[0] != "0000-00-00" %}{{v.datesfinal[0]| date('d/m/Y')}}){% endif %}</b> <b>{{v.tantspercents}}%</b> d'execució </b>
                      {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 2 %}
                        <a href="6/projectes.html?n&a={{v.id}}">
                        <button type="button" class="btn btn-success btn-xs edicio">{{ "+ Nou projecte" | trans}}</button>
                        </a>
                      {% endif %}
                  </h4>
              </div>
            </div>
        #}

        

      {% endfor %}

      {% if captaula == true %}
          </tbody>
        </table> 
      {% endif %}

        

        
         <script type="text/javascript">
          $(document).ready(function($) {

                  
                  $(document).off('click',".mostrarelacionat").on("click",".mostrarelacionat",function(event){

                        var id = $(this).data( "id" );
                        var esvisible = $(this).data("visible");
                        
                        $(".act_"+id).toggle('fast');
                        if (esvisible == 0){esvisible = 1;}else{esvisible = 0;}

                        $(this).data("visible",esvisible);
                        
                        if (esvisible == 1){
                            var f = '{{f}}';
                            $(".act_"+id).html("<img src=\'./images/loading.gif\'/>");
                            $(".act_"+id).load("./load",{o:39, id:id, f:f});  
                        }else{
                          $(".act_"+id).html("");
                        }
                        
                        $(this).find('.fa-plus').toggleClass('fa-minus');
                        /*
                        var color = $(this).css("background-color");
                        if (color == "rgb(238, 4, 44)"){
                            $(this).css("background-color", "#ffffff");
                            $(this).css("color", "#3e3f3a");
                        }else{
                            $(this).css("background-color", "#ee042c");
                            $(this).css("color", "#ffffff");
                        }*/
                        
                        

                  });

               
                  $(document).off('click',".mostarprojecte").on("click",".mostarprojecte",function(event){



                        var id = $(this).data( "id" );
                        
                        $(".proj_"+id).toggle('fast');

                        $(this).find('.fa-plus').toggleClass('fa-minus');
                        

                  });

                  $(document).off('click',".mostartasques").on("click",".mostartasques",function(event){

                        var id = $(this).data( "id" );
                        
                        $(".tasc_"+id).toggle('fast');

                        $(this).find('.fa-plus').toggleClass('fa-minus');
                        

                  });


                  $(document).off('click',".edicio").on("click",".edicio",function(event){

                      
                       $(this).html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                        

                  });


                  $(".dataTablesresum").dataTable( {
                        "language": {
                            "url": "{{ app.request.basepath }}/js/plugins/dataTables/dataTables.catala.lang"
                        }
                  } );

                  $(document).off('click',".mostrarllistat").on("click",".mostrarllistat",function(event){

                      
                        var signe = $(this).find(".signe").html();
                        if (signe == "<i class=\"fa fa-angle-down\"></i>"){
                            $(this).find(".signe").html("<i class=\"fa fa-angle-up\"></i>");
                        }else{
                            $(this).find(".signe").html("<i class=\"fa fa-angle-down\"></i>");
                        }  

                        var llistat = $(this).data("llistat");

                        //$(this).closest(".row").next().toggle();

                        //$(".llistats").hide();
                        $("."+llistat).toggle();
                        

                  });
                  


                  $(document).off("click",".export").on("click",".export",function(event){ 

                        $("#modalprojectes").modal();
                        $(".mostrarmodal").html("No tanqui la finestra, aquest procés pot trigar uns minuts.<br>Si finalitzat el procés, la descàrrega no comença automàticament faci click al botó \"DESCARREGAR\"<br><img src=\'../images/loadingdoc.gif\'/>");

                        $("#myModalLabel").html("Generant document");

                        var t = $(this).data("t");
                        $("#export").val(t);
                        $("#frmfiltrar").submit();

                    
                    });

                  $(document).off("click",".export_ind").on("click",".export_ind",function(event){ 

                    var t = $(this).data("id");
                    $("#export_ind").val(t);
                    $("#frmfiltrar").submit();

                
                });


                $(document).off("click",".mostrarconsulta").on("click",".mostrarconsulta",function(event){

                    event.preventDefault();

                    var id = $(this).data( "id" );  
                      
                    $(".mostrarmodal").html("<img src='images/loadingg.gif'/>");
                    $(".mostrarmodal").load("load",{o:3, id:id, t: 1, c:{co:1  } }, function(){

                            
                        $("INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA", "#frmplens" ).attr('disabled', 'disabled');
                       
                        $("#myModalLabel").html("Detalls");
                        
                        $('.mostrarmodal').find('.btn').hide();

                        setTimeout(function () {
                            $('.mostrarmodal').find('.btn').hide();
                            $('.mostrarmodal').find('.btn-success').show();
                        }, 1500);
                        
                        setTimeout(function () {
                            $('.mostrarmodal').find('.btn').hide();
                            $('.mostrarmodal').find('.btn-success').show();
                        }, 2000);

                        setTimeout(function () {
                            $('.mostrarmodal').find('.btn').hide();
                            $('.mostrarmodal').find('.btn-success').show();
                        }, 4000);

                        setTimeout(function () {
                            $('.mostrarmodal').find('.btn').hide();
                            $('.mostrarmodal').find('.btn-success').show();
                        }, 5000);


                    }); 
                    
                    

                });
  
                


          });
        </script>

    {% else %}
      <hr>
        <div class="row">
            <div class="col-lg-4">
             <h4>{{"Actualment no participes en cap projecte/objectiu."|trans}} </h4>
            </div>
      
        </div>
        <hr>

    {% endif %}

  {% endif %}

    {% if getc == "c" %}


        <hr class="hidden-print">

      <div class="row hidden-print">
          <div class="col-lg-4">
            <h4><i class="fa fa-university" style="color:#5cb85c;"></i> {{"Calendari"|trans}} <span style="color:#5CB85C;" ></span>
                
                {#<button class="btn btn-primary btn-xs printBtn hidden-print"><i class="fa fa-print"></i></button>#}

                <span style="color:#5cb85c;" ></span> <button type="button" class="btn btn-default btn-xs exporcal" data-backdrop="static" data-keyboard="false" data-toggle="modal"><i class="fa fa-print"></i></button>
                         <small style="float:right;margin-top:7px;color:#000;">Filtre PDF:<br>(30 dies per defecte)</small>

            </h4>
          </div>
          <div class="col-lg-2">
            <input class="form-control datepicker input-sm" name="inici" id="inicical" placeholder="Inici" value="" style="margin-top:7px;">
          </div>

          <div class="col-lg-2">
            <input class="form-control datepicker input-sm" name="final" id="finalcal" placeholder="Final" value="" style="margin-top:7px;">
          </div>
    
      </div>
      <hr>

        <script type="text/javascript">
              $('.printBtn').on('click', function (){
                window.print();
              });
        </script>

   
      {% if arrayCalendari is defined %}

         <form role="form" action="informes" method="post" name="frmcal" id="frmcal">

              <div style="display: none;">
                  <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
                  <input name="verif" value="" type="hidden" />
                  <input name="o" value="51" type="hidden" />
                  <input name="id" value="1" type="hidden" />
                  <input name="inifit" id="inical" value="" type="hidden" />
                  <input name="finfit" id="fincal" value="" type="hidden" />
                  <input name="eventsenviar" id="eventsenviar" value="" type="hidden" />
                  <input name="paginici" id="paginici" value="1" type="hidden" />
              </div>

              <div class="col-lg-3">
                <div id="resultinformescal" class="amagamissatges"></div>
                <div class="errorinformescal"></div>
              </div>


           <br clear="both">

           <div class="row hidden-print">
                <div class="col-lg-3"><input type="checkbox" class="filtres filtre1" name="filtre1"  data-size="mini" value="calfites" checked> <b>Fites</b></div>
            
                <div class="col-lg-3"><input type="checkbox" class="filtres filtre2" name="filtre2"  data-size="mini" value="calprojectes" checked> <b>Inici/Final Projectes</b></div>
            
                <div class="col-lg-3"><input type="checkbox" class="filtres filtre3" name="filtre3"  data-size="mini" value="calactuacions" >  <b>Inici/Final Fases</b></div>
            
                <div class="col-lg-3"><input type="checkbox" class="filtres filtre4" name="filtre4"  data-size="mini" value="caltasques" > <b>Inici/Final Accions</b></div>

                <div class="col-lg-3"><input type="checkbox" class="filtres filtre5" name="filtre5"  data-size="mini" value="calmeus" > <b>Els meus projectes</b></div>
          </div>

        </form>



       <div class="row">
            <div class="col-lg-12 text-center">
                <div id="fullcalload"></div>
            </div>
        </div>

          <div class="row">
                                              
              <div class="col-lg-12"><br>
                  <div id="fullcal" style="max-width: 1200px;margin: 0 auto;"></div>
                  <div id="fullcaldades" style="display:none;"></div>
              </div>


          </div>

          <link href='{{ app.request.basepath }}/js/fullcalendar/fullcalendar.css' rel='stylesheet' />
          <link href='{{ app.request.basepath }}/js/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
          <script src='{{ app.request.basepath }}/js/fullcalendar/lib/moment.min.js'></script>
          <script src='{{ app.request.basepath }}/js/fullcalendar/fullcalendar.min.js'></script>
          <script src='{{ app.request.basepath }}/js/fullcalendar/lang-all.js'></script>
          <script src='{{ app.request.basepath }}/js/fullcalendar/qtip/jquery.qtip.js'></script>
          <link href='{{ app.request.basepath }}/js/fullcalendar/qtip/jquery.qtip.min.css' rel='stylesheet' />

           <link href="{{ app.request.basepath }}/js/consultes/switch/bootstrap-switch.min.css" rel="stylesheet">
             <script src="{{ app.request.basepath }}/js/consultes/switch/bootstrap-switch.min.js"></script>


             <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>
            <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

          <script type="text/javascript">

            $(document).ready(function($) {

                {% if arrayCalendari is defined %}
                      var events2 = {{arrayCalendari|raw}}
                {% else %}
                      var events2 = [{ id: 9999, title: "", start: '2016-03-03T16:00', pagina: "" }]
                {% endif %}

                var eventsenviar = JSON.stringify({{arrayCalendari|raw}});

                $(document).off('click',".exporcal").on("click",".exporcal",function(e){
                      e.preventDefault();
                      var inical = $("#inicical").val();
                      var fincal = $("#finalcal").val();
                      $("#inical").val(inical);
                      $("#fincal").val(fincal);
                      $("#eventsenviar").val(eventsenviar);
                      $("#frmcal").submit();
                });

                $(".filtres").bootstrapSwitch();
                        
                $(".filtres").on("switchChange.bootstrapSwitch", function(event, state) {
                    
                    var nomclass = $(this).val();

                    var filtre1 = $(".filtre1").val();
                    var filtre2 = $(".filtre2").val();
                    var filtre3 = $(".filtre3").val();
                    var filtre4 = $(".filtre4").val();
                    var filtre5 = $(".filtre5").val();

                    var calfites = 0;
                    var calprojectes = 0;
                    var calactuacions = 0;
                    var caltasques = 0;
                    var calmeus = 0;
                    

                    if ($(".filtre1").is(":checked")) { calfites = 1; }else{ calfites = 0; }
                    if ($(".filtre2").is(":checked")) { calprojectes = 1; }else{ calprojectes = 0; }
                    if ($(".filtre3").is(":checked")) { calactuacions = 1; }else{ calactuacions = 0; }
                    if ($(".filtre4").is(":checked")) { caltasques = 1; }else{ caltasques = 0; }
                    if ($(".filtre5").is(":checked")) { calmeus = 1; }else{ calmeus = 0; }


                    $("#fullcalload").html("<img src=\'images/loadingg.gif\'/>");
                    $("#fullcal").fullCalendar( "destroy" );

                    $("#fullcaldades").load("{{ app.request.basepath }}/load",{o:48, id:1, t: "", c:{events:eventsenviar, calfites: calfites, calprojectes: calprojectes, calactuacions: calactuacions, caltasques: caltasques, calmeus: calmeus  } },function(data){
                        
                        
                        var obj = JSON.parse(data);
                        crearcalendari(obj);
                        $("#fullcalload").html("");
                           
                    }); 

                    $("#fullcaldades").html("");
                     
                });

                $(document).off("click",".fc-prev-button").on("click",".fc-prev-button",function(e){
                   //repassarfiltres();
                });

                $(document).off("click",".fc-next-button").on("click",".fc-next-button",function(e){
                   //repassarfiltres();
                }); 

                /*
                function repassarfiltres(){
                  var filtre1 = $(".filtre1").val();
                  var filtre2 = $(".filtre2").val();
                  var filtre3 = $(".filtre3").val();
                  var filtre4 = $(".filtre4").val();

                  if ($(".filtre1").is(":checked")) { $("."+filtre1).show(); }else{ $("."+filtre1).hide(); }
                  if ($(".filtre2").is(":checked")) { $("."+filtre2).show(); }else{ $("."+filtre2).hide(); }
                  if ($(".filtre3").is(":checked")) { $("."+filtre3).show(); }else{ $("."+filtre3).hide(); }
                  if ($(".filtre4").is(":checked")) { $("."+filtre4).show(); }else{ $("."+filtre4).hide(); }
                }*/


                function crearcalendari(events2){

                      var tooltip = $('<div/>').qtip({
                          id: 'fullcal',
                          prerender: true,
                          content: {
                              text: ' ',
                              title: {
                                  button: true
                              }
                          },
                          position: {
                              my: 'bottom center',
                              at: 'top center',
                              target: 'event',
                              viewport: $('#fullcal'),
                              adjust: {
                                  mouse: false,
                                  scroll: false
                              }
                          },
                          show: false,
                          hide: false,
                          style: 'qtip-light'
                      }).qtip('api');

                  
                  
                      var currentLangCode = 'ca';
                      $('#fullcal').fullCalendar({
                          header: {
                              left: 'prev,next today',
                              center: 'title',
                              right: 'month,agendaWeek'//month,agendaWeek,agendaDay'
                          },
                          //defaultDate: '2016-03-03',
                          lang: currentLangCode,
                          buttonIcons: false, // show the prev/next text
                          weekNumbers: true,
                          editable: false,
                          eventLimit: true, // allow "more" link when too many events
                          eventLimitText: "Veure tots",
                          events: events2,
                          eventClick: function(data, event, view) {
                              if (data.tipus == 'projecte'){
                                var content = '<h5>'+data.title+'</h5>' + 
                                    '<p><b>Inici:</b> '+data.inici+' <b>Final:</b> '+data.final+'</p><br /><a href="{{ app.request.basepath }}/'+data.pagina+'">Més informació</a></p>';
                                    //(data.end && '<p><b>End:</b> '+data.end+'</p>' || '');
                              }
                              if (data.tipus == 'projecteinici'){
                                var content = '<h5>'+data.title+'</h5>' + 
                                    '<p><b>Inici:</b> '+data.inici+' <b>Final:</b> '+data.final+'</p><br /><a href="{{ app.request.basepath }}/'+data.pagina+'">Més informació</a></p>';
                                    //(data.end && '<p><b>End:</b> '+data.end+'</p>' || '');
                              }
                              if (data.tipus == 'fita'){
                                     var content = '<h5>'+data.nomprojecte+'</h5>' + 
                                        '<p><br />'+data.tipologia+'<br /> '+data.title+'<br /><b>Data:</b> '+data.inici+' </p><br /><a href="{{ app.request.basepath }}/'+data.pagina+'">Més informació</a></p>';
                                        //(data.end && '<p><b>End:</b> '+data.end+'</p>' || '');
                              }

                              if (data.tipus == 'actuacio'){
                                var content = '<h5>Fase: '+data.title+'</h5>' + 
                                    '<p>'+data.nomprojecte+' <br><b>Inici:</b> '+data.inici+'  <b>Final:</b> '+data.final+'</p><br /><a href="{{ app.request.basepath }}/'+data.pagina+'">Més informació</a></p>';
                                    //(data.end && '<p><b>End:</b> '+data.end+'</p>' || '');
                              }
                              if (data.tipus == 'actuacioinici'){
                                var content = '<h5>Fase: '+data.title+'</h5>' + 
                                    '<p>'+data.nomprojecte+' <br><b>Inici:</b> '+data.inici+'  <b>Final:</b> '+data.final+'</p><br /><a href="{{ app.request.basepath }}/'+data.pagina+'">Més informació</a></p>';
                                    //(data.end && \'<p><b>End:</b> \'+data.end+\'</p>\' || \'\');
                              }

                              if (data.tipus == 'tasca'){
                                var content = '<h5>Acció: '+data.title+'</h5>' + 
                                    '<p>'+data.nomprojecte+' <br><b>Inici:</b> '+data.inici+'  <b>Final:</b> '+data.final+'</p><br /><a href="{{ app.request.basepath }}/'+data.pagina+'">Més informació</a></p>';
                                    //(data.end && '<p><b>End:</b> '+data.end+'</p>' || '');
                              }
                              if (data.tipus == 'tascainici'){
                                var content = '<h5>Acció: '+data.title+'</h5>' + 
                                    '<p>'+data.nomprojecte+' <br><b>Inici:</b> '+data.inici+'  <b>Final:</b> '+data.final+'</p><br /><a href="{{ app.request.basepath }}/'+data.pagina+'">Més informació</a></p>';
                                    //(data.end && \'<p><b>End:</b> \'+data.end+\'</p>\' || \'\');
                              }
                              

                              tooltip.set({
                                  'content.text': content
                              })
                              .reposition(event).show(event);
                          },
                          dayClick: function() { tooltip.hide() },
                          eventResizeStart: function() { tooltip.hide() },
                          eventDragStart: function() { tooltip.hide() },
                          viewDisplay: function() { tooltip.hide() },
                          eventRender: function(event, element) {
                             if(event.icon){          
                                element.find(".fc-title").prepend("<i class='fa fa-"+event.icon+"' style='color:#fff;'></i> ");
                             }
                          }   

                          
                      });
                
                }

                // Càrrega inicial.
                $("#fullcalload").html("<img src=\'images/loadingg.gif\'/>");

                $("#fullcaldades").load("{{ app.request.basepath }}/load",{o:48, id:1, t: "", c:{events:eventsenviar, calfites: "1", calprojectes: "1", calactuacions: "0", caltasques: "0", calmeus: "0"  } },function(data){
                    
                    var obj = JSON.parse(data);
                    crearcalendari(obj);
                    $("#fullcalload").html("");
                       
                }); 

                //crearcalendari(events2);

                //repassarfiltres();


                jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
                  $("#frmcal").validate({
                      errorElement: "em",
                      errorPlacement: function(error, element) {
                          error.appendTo( element.parent("div") );
                      },
                      success: function(label) {
                          //label.text("ok!").addClass("success");
                      },
                      //errorLabelContainer: $("div.error"),
                      submitHandler: function(form) {
                          document.frmcal.verif.value = "ok";
                          var table = $('.dataTables').DataTable();
                          var dadestaules = table.$('input, select').serialize();
                          var stringdades = $("#frmcal").serialize();
                          stringdades = stringdades + "&" +dadestaules;
                              $.ajax({
                                  type: "POST",
                                  url: "{{ app.request.basepath }}/load",
                                  data: stringdades,
                                  beforeSend:function(){
                                      $("#resultinformescal").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                                  },
                                  error: function(jqXHR, textStatus, errorThrown){
                                      // Error.
                                  },
                                  success: function(data){
                                    $("div.errorinformescal").hide();
                                    $('#resultinformescal').html(data);
                                      
                                  }
                              });
                          return false;
                      },
                      invalidHandler: function(e, validator) {
                          var errors = validator.numberOfInvalids();
                          if (errors) {
                              var message = errors == 1
                                  ? "Has oblidat 1 camp."
                                  : "Has oblidat " + errors + " camps. ";

                              var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                              $("div.errorinformescal span").html(cuadre);
                              $("div.errorinformescal").show();
                          } else {
                              $("div.errorinformescal").hide();
                          }
                      },
                      onkeyup: false,
                      debug:true
                  });

                  $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });

                    $(function($){
                      $.datepicker.regional['es'] = {
                          closeText: 'Cerrar',
                          prevText: '<Ant',
                          nextText: 'Sig>',
                          currentText: 'Hoy',
                          monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                          monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                          dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                          dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                          dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                          weekHeader: 'Sm',
                          dateFormat: 'dd/mm/yy',
                          firstDay: 1,
                          isRTL: false,
                          showMonthAfterYear: false,
                          yearSuffix: ''
                      };
                      $.datepicker.regional['ca'] = {
                          closeText: 'Tancar',
                          prevText: '<Ant',
                          nextText: 'Seg>',
                          currentText: 'avui',
                          monthNames: ["Gener", "Febrer", "Març", "Abril", "Maig", "Juny", "Juliol", "Agost", "Setembre", "Octubre", "Novembre", "Desembre"],
                          monthNamesShort: ["Gen", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Des"],
                          dayNames: ["Diumenge", "Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres", "Dissabte"],
                          dayNamesShort: ["Diu",  "Dil", "Dmt", "Dmc", "Dij", "Div", "Dis"],
                          dayNamesMin: ["dg", "dl", "dt", "dc", "dj", "dv", "ds"],
                          weekHeader: 'Sm',
                          dateFormat: 'dd/mm/yy',
                          firstDay: 1,
                          isRTL: false,
                          showMonthAfterYear: false,
                          yearSuffix: ''
                      };
                      $.datepicker.setDefaults($.datepicker.regional['ca']);
                    });

             });
          </script>

          {#
          <style type="text/css">
              .fc-event-time, .fc-event-title {
                  padding: 0 1px;
                  white-space: nowrap;
              }
              .fc-day-grid-event > .fc-content {
                  white-space: normal;
              }
          </style>
          #}


       {% endif%}

    {% endif%}

    {% if getc == "m" %}
        {{Dadesmapa|raw}}
    {% endif %}
    

    <div class="row hidden-print"><br><br><br><br><br>
        <div class="col-lg-12">
              <div class="bs-example" style="text-align: justify;">
                    <ul class="list-group">
                     
                        <li class="list-group-item">
                          {{"Si necessites suport pots enviar un correu electrònic a"|trans}} <a href="mailto:info@projectmonitor.cat?Subject=Informació%20Eina%20Projectes" target="_top" style="color:#000;"><b>info@projectmonitor.cat</b></a>.

                         </li>
                     
                    </ul>
              </div>
        </div>
    </div>

    {% set titol = "Detalls Projecte" | trans | raw %}
    {% set codi = "modalprojectes" %}
    {% include "formmodal.html" %}


{% endblock %}