<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="web-barcelona.com">

    <title>Pla Director</title>

    <link href="{{ app.request.basepath }}/css/bootstrap.min.l.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/web-barcelona-com-admin.l.css" rel="stylesheet">

    <link href="{{ app.request.basepath }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="{{ app.request.basepath }}/favicon.ico"/>

</head>

<body>

    {{ cookie | raw }}
    
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#" style="padding-top: 0px; margin-left:-30px!important;"><img src="{{ app.request.basepath }}/images/client_ext.png"  /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#services">Sobre PM</a>
                    </li>
                    <li>
                        <a href="#contact">Contacte</a>
                    </li>
                    <li>
                        <a href="#" class="clogin">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="hidden-lg hidden-md hidden-sm" style="height:170px;"></div>

            <div class="col-md-3 frmlog" style="position:absolute; float:left; right:50px; display:none; z-index:999 !important;">
                <div class="col-md-12">
                    <div class="login-panel panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Accés usuaris</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" method="post" id="login" name="login" action="login">
                                <fieldset>
                                    <div style="display: none;">
                                        <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretatlogin') }}" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control required" placeholder="E-mail" name="email" type="email" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control required" placeholder="Password" name="passw" type="password" value="">
                                    </div>
                                    <input type="submit" class="btn btn-lg btn-block" value="Login" />
                                </fieldset>
                            </form>
                            
                              <div>
                                <a class="recuperar" style="cursor:pointer;">{{"Has oblidat la teva contrasenya?"|trans}}</a>
                              </div>
                              <hr>
                              <form class="recuperarform" role="form" method="post" id="recuperar" name="recuperar" action="recuperar" style="display: none;">
                                    
                                    <div style="display: none;">
                                        <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretatlogin') }}" />
                                        <input name="tipus" value="recuperar" type="hidden" />
                                        <input name="verif" value="" type="hidden" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control required" placeholder="E-mail" name="email" type="email" autofocus>
                                    </div>
                                    <input type="submit" class="btn btn-lg btn-block" value="{{"Enviar nova contrasenya"|trans}}" id="btoenviarrec" />

                                    <div class="row form-group col-md-10">
                                        <div class="error alert alert-danger" role="alert" style="display:none;"><span></span><ul></ul></div>
                                        <div class="alert alert-success" id="result2" style="display:none;"></div>
                                    </div>


                              </form>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Pla Director</h1>
                        <h3>Arxiu Municipal de Barcelona</h3>
                        <hr class="intro-divider">
                        {#
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="http://participa.badalona.cat/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Web</span></a>
                            </li>
                        </ul>
                        #}
                    </div>
                </div>
            </div>
            
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Una eina per a la gestió i seguiment del PM</h2>
                    <p class="lead">PM Local permet gestionar els projectes i actuacions</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    
    

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Facilitat d'ús i accés multidispositiu</h2>
                    <p class="lead">Els usuaris de PML tenen accés i consulta de dades vives en tot moment i des de qualsevol dispositiu mòbil o de sobretaula.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2></h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="http://ajuntament.barcelona.cat/arxiumunicipal/ca" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-globe fa-fw"></i> <span class="network-name">Web</span></a>
                        </li>
                        <li>
                            <a href="mailto:arxcap@bcn.cat?Subject=Hola!" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">E-mail</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">Sobre PML</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Solucions</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contacte</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Project Monitor Local 2017. All Rights Reserved - <a href="/termesicondicions.html" target="_blank">Termes i condicions</a> - <a href="/cookies.html" target="_blank">Cookies</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ app.request.basepath }}/js/jquery.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/js/validations.js"></script>


    <style type="text/css">
        .intro-header {
            background: url('images/login/{% if Upfiles.1.nomfile is defined %}{{Upfiles.1.nomfile|raw}}{% else %}ARXIU_MUNICIPAL_DISTRICTE_EIXAMPLE_01.jpeg{% endif %}') no-repeat center center;
        }
    </style>

     <script type='text/javascript'>
        
        $(document).ready(function() {

            {% if Upfiles is not empty %}
                {% set contafotos = 0 %}
                var images=[{% for u in Upfiles %}'images/login/{{u.nomfile}}', {% set contafotos = contafotos + 1 %}{% endfor %}];
                
                {% if contafotos > 1 %}

                    var url=0;
                    setInterval(function(){
                       url+=1;
                      if(url=={{contafotos}}){
                        url=0;
                      }
                     
                      $('.intro-header').fadeTo('slow', 0.3, function()
                        {
                            $(this).css('background', "url('"+images[url]+"') no-repeat center center");
                        }).fadeTo('slow', 1);

                    },6000);

                {% endif %}

            {% endif %}

            $( ".clogin" ).click(function() {
                $( ".frmlog" ).toggle( "fast", function() {
                // Animation complete.
                });
            });

            $( ".recuperar" ).click(function() {
                $( ".recuperarform" ).toggle( "fast", function() {
                // Animation complete.
                });
            });

            $("#recuperar").validate({
                        
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                submitHandler: function(form) {
                    document.recuperar.verif.value = "ok";
                    var stringdades = $("#recuperar").serialize();
                        $.ajax({
                            type: "POST",
                            url: "enviaregistro",
                            data: stringdades,
                            beforeSend:function(){
                                $("#result2").html("<img src='images/loading.gif'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#result2").html(data);
                                alert(data);
                                if (data == 1){
                                    $("#result2").show();
                                    $("#result2").html("Correu enviat correctament.");
                                    $("#btoenviarrec").hide();
                                }else{
                                    $("#result2").html("Error en l'enviament, torni a provar-ho");
                                }
                            }
                        });
                    return false;
                },
            
                onkeyup: true,
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    email: {
                        required: '{{"base.alerts.intromail"|trans}}<br>',
                        email: '{{"base.alerts.intromail2"|trans}}<br>',
                        remote: $.validator.format("{0} is already taken, please enter a different address.")  
                    },
                },
                debug:true
          });

        });
    </script>
    
    {{ cookieheader | raw }}

</body>

</html>
