{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}
{% endblock %}

{% block js %}
{% endblock %}


{% block nus %}

    <div id="page-wrapper">

        <div class="row">
              <div class="col-lg-12">
                <h1>{{ "Accés no permés" | trans }} <small></small></h1>
                <ol class="breadcrumb">
                  <li class="active"><i class="fa fa-dashboard"></i> {{ "Error d'accés" | trans }}</li>
                </ol>
                <div class="alert alert-dismissable alert-danger">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <b>Atenció!</b> No tens accès per veure aquest contingut. Posat en contacte amb l'administrador de l'eina.
                </div>
              </div>
        </div><!-- /.row -->

    </div><!-- /#page-wrapper -->


{% endblock %}


{% block content %}


{% endblock %}