
	

    <form role="form" action="projectes-origens" method="post" name="frmprojectesorig" id="frmprojectesorig">

    	<div style="display: none;">
    		<input name="idp" value="93" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
			<input name="verif" value="" type="hidden" />
			<input name="id" id="ido" value="{% if RegistreProjectesOrig.1.id is defined %}{{ RegistreProjectesOrig.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreProjectesOrig.1.idx is defined %}{{ RegistreProjectesOrig.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 93 %}{{idpx|md5}}" type="hidden" />
        </div>

        <div class="form-group">
            <label>{{ "Nom del document" | trans }}</label>
            <input class="form-control required" name="titol_ca" id="titol_ca" value="{% if RegistreProjectesOrig.1.titol is defined %}{{ RegistreProjectesOrig.1.titol | raw }}{% endif %}">
        </div>

        {#
        <div class="form-group">
            <label>{{ "Observacions" | trans }} </label>
            <textarea class="form-control textarea_projecte required" rows="6" name="descripcio_ca" id="descripcio_ca" >{% if RegistreProjectesOrig.1.descripcio_ca is defined %}{{ RegistreProjectesOrig.1.descripcio_ca | raw |replace({'<p>': '','</p>':'','<br>':''}) }}{% endif %}</textarea>
        </div>
        #}

        <div class="form-group">
            <label>{{ "Actiu" | trans }}</label>
            <div class="checkbox-inline">
              <label>
                <input name="estat" value="1" type="checkbox"  {% if RegistreProjectesOrig.1.estat is defined %}{% if RegistreProjectesOrig.1.estat == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} />
              </label>
            </div>
        </div>

        {% if RegistreProjectesOrig.1.id is defined %}

            <div class="panel panel-default">

                <div class="panel-body">
                        
                    <div class="row">
                        <div class="col-lg-12">        
                            
                            <div class="panel panel-primary">

                                <div class="panel-heading">{{ "Imatges" | trans }}    
                                    
                                </div>
                                <div class="panel-body">
                                    
                                    <div class="form-group">
                                        
                                        <div class="row">
                                            <div style="float: right; margin-right:10px;">
                                                <button type="button" class="btn btn-success btn-sm edicio_12 amagabotons" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-id="0"  data-t="12" data-tf="71" data-target="#modalprojectes" data-ctf="{{ RegistreProjectesOrig.1.id | raw }}">{{ " + Afegir imatge" | trans}}</button>
                                            </div>
                                        </div>

                                        <div class="row">
            
                                            <div class="col-lg-12">
                                              <div class="llistat_12"></div>
                                            </div>

                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                            

                        </div>
                    </div>
                   
                </div>

            </div>

        
        {% else %}

             <div class="panel panel-default">

                <div class="panel-body">
                        
                    <div class="row">
                        <div class="col-lg-12">     
                            Guarda el registre per carregar la imatge.
                        </div>
                    </div>

                </div>

            </div>

        {% endif %}

        <div class="form-group">
        	<div class="errorprojectesorig"><span></span></div>
        </div>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>
        
    </form>

   <script type="text/javascript">
      $(document).ready(function($) {

            {% if RegistreProjectesOrig.1.id is defined %}

                $(".llistat_12").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_12").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "12", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjectesOrig.1.id}}', 'ctf2':'71'}}, function(){});


                $(document).off('click',".edicio_12").on("click",".edicio_12",function(event){

                      var id = $(this).data( "id" );
                      var t = $(this).data( "t" );
                      var tf = $(this).data( "tf" );
                      var ctf = $(this).data( "ctf" );
                      
                      $(".mostrarmodal").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                      $(".mostrarmodal").load("{{ app.request.basepath }}/load",{o:3, id:id, t: t, c:{'ctf':ctf,'tf':tf  } });   

                      $("#myModalLabel").html("Detalls imatge");  

                });

            {% endif %}


        

            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmprojectesorig").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmprojectesorig.verif.value = "ok";
                    var stringdades = $("#frmprojectesorig").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultprojectesorig").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultprojectesorig").html(data);
                                var dades = jQuery.parseJSON(data);
                                if (dades[0] == 1){
                                    $("div.errorprojectesorig span").html("");
                                    $("#resultprojectesorig").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#ido").val(dades[1]);
                                    $(".panelldadesprojectesorig").toggle();
                                   
                                    $(".llistat_71").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "71"}, function(){
                    
                                    });
                                }else{
                                    $("#resultprojectesorig").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorprojectesorig span").html(cuadre);
                        $("div.errorprojectesorig").show();
                    } else {
                        $("div.errorprojectesorig").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");

      });
    </script>
