    
    <form role="form" action="fites" method="post" name="frmfitespart" id="frmfitespart">

        <div style="display: none;">
            <input name="idp" value="70" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
            <input name="verif" value="" type="hidden" />
            <input name="id" id="idfita" value="{% if RegistreFites.1.id is defined %}{{ RegistreFites.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreFites.1.idx is defined %}{{ RegistreFites.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 70 %}{{idpx|md5}}" type="hidden" />
            <input name="ctf" value="{{ctf}}" type="hidden" />
        </div>


       
        <div class="row">

            <div class="col-lg-7">
                <label>{{ "Nom/Descripció" | trans }}</label>
                <textarea class="form-control textarea_fites" rows="6" name="observacionsfita" id="observacionsfita" >{% if RegistreFites.1.observacionsfita is defined %}{{ RegistreFites.1.observacionsfita | raw }}{% endif %}</textarea>
            </div>
           
            <div class="col-lg-2">
                <label>{{ "Data inicial" }}</label><br>
                <input class="form-control datepicker" name="datai" id="datai" placeholder="dd/mm/aaaa" value="{% if RegistreFites.1.datai is defined %}{% if RegistreFites.1.datai != "0000-00-00" %}{{ RegistreFites.1.datai | date("d/m/Y") }}{% endif %}{% endif %}" />
                <br>
            </div>

            <div class="col-lg-2">
                <label>{{ "Data final" }}</label><br>
                <input class="form-control datepicker" name="datafi" id="datafi" placeholder="dd/mm/aaaa" value="{% if RegistreFites.1.datafi is defined %}{% if RegistreFites.1.datafi != "0000-00-00" %}{{ RegistreFites.1.datafi | date("d/m/Y") }}{% endif %}{% endif %}" />
                <br>
            </div>

        </div>

        <div class="row">
            <br>
            <div class="col-lg-12">        
                
                <div class="panel panel-primary">

                    <div class="panel-heading">{{ "Accions a la qual va vinculada?" | trans }}
                    </div>
                    <div class="panel-body">
                        
                        <div class="form-group">

                            <div class="table-responsive"  style="overflow: hidden !important;">
                            <table class="table table-striped table-bordered table-hover dataTables1 dataTables">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Acció</th>
                                    </tr>
                                </thead>   
                                <tbody>
                                   
                                    {% set tasques = "" %}
                                    {% if RegistreFites.1.tasques is defined %}
                                         {% set tasques = RegistreFites.1.tasques|replace({'"': '','[':'',']':''}) %}
                                         {% set tasques = tasques|split(',') %}
                                    {% endif %}

                                    {% for d in Tasques %}
                                        <tr class="odd">
                                            <td>
                                                <input name="tasques[]" value="{{ d.id }}" type="checkbox" {% if d.id in tasques %}checked="true"{% endif %} />
                                            </td>
                                            <td>
                                                {{ d.titol | raw }}
                                            </td>
                                        </tr> 
                                    {% endfor %}
                                      
                                </tbody>
                            </table>
                            </div>

                        </div>

                    </div>
                </div>
               
            </div>
        </div>

        <div class="form-group col-lg-4">
            <label>{{ "Destinataris" | trans }}<span style="color:red;"> *</span></label>
            <select class="form-control required" name="destinatarispart" >
              <option value="" {% if RegistreFites.1.destinatarispart is defined %}{% if RegistreFites.1.destinatarispart == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                
                {% for d in Paraules %}
                    {% if (d.codi == 'destinatarispart') and (d.idioma == 'ca')%}
                        <option value="{{ d.clau }}" {% if RegistreFites.1.destinatarispart is defined %}{% if RegistreFites.1.destinatarispart == d.clau %}selected{% endif %}{% endif %}>{{ d.text | raw }}</option>
                    {% endif %}
                {% endfor %}
              
            </select>
        </div>

        <div class="col-lg-4" >
            <label>{{ "Nombre d'assistents" | trans }}</label>
            <div class="form-group">
                <input class="form-control number" name="assistents" id="assistents" type="text" value="{% if RegistreFites.1.assistents is defined %}{{ RegistreFites.1.assistents | raw }}{% endif %}" step="any" />
            </div>

        </div>

        <div class="form-group col-lg-4">
            <label>{{ "Tipologia" | trans }}<span style="color:red;"> *</span></label>
            <select class="form-control required" name="tipologiapart" >
              <option value="" {% if RegistreFites.1.tipologiapart is defined %}{% if RegistreFites.1.tipologiapart == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                
                {% for d in Paraules %}
                    {% if (d.codi == 'tipologiapart') and (d.idioma == 'ca')%}
                        <option value="{{ d.clau }}" {% if RegistreFites.1.tipologiapart is defined %}{% if RegistreFites.1.tipologiapart == d.clau %}selected{% endif %}{% endif %}>{{ d.text | raw }}</option>
                    {% endif %}
                {% endfor %}
              
            </select>
        </div>

        <div class="form-group col-lg-4">
            <label>{{ "Comtempla perspectiva de gènere?" | trans }}</label>
            <select class="form-control required" name="perspectiva" >
                <option value="0" {% if RegistreFites.1.perspectiva is defined %}{% if RegistreFites.1.perspectiva == 0%}selected{% endif %}{% endif %}>{{ "No" | trans }}</option>
                <option value="1" {% if RegistreFites.1.perspectiva is defined %}{% if RegistreFites.1.perspectiva == 1 %}selected{% endif %}{% endif %}>{{ "Si" | trans }}</option>
            </select>
        </div>

        <div class="form-group col-lg-4">
            <label>{{ "Contempla diversitat cultural?" | trans }}</label>
            <select class="form-control required" name="diversitat" >
                <option value="0" {% if RegistreFites.1.diversitat is defined %}{% if RegistreFites.1.diversitat == 0%}selected{% endif %}{% endif %}>{{ "No" | trans }}</option>
                <option value="1" {% if RegistreFites.1.diversitat is defined %}{% if RegistreFites.1.diversitat == 1 %}selected{% endif %}{% endif %}>{{ "Si" | trans }}</option>
            </select>
        </div>

        <div class="form-group col-lg-4">
            <label>{{ "S'han fet materials específics de comunicació?" | trans }}</label>
            <select class="form-control required" name="materials" >
                <option value="0" {% if RegistreFites.1.materials is defined %}{% if RegistreFites.1.materials == 0%}selected{% endif %}{% endif %}>{{ "No" | trans }}</option>
                <option value="1" {% if RegistreFites.1.materials is defined %}{% if RegistreFites.1.materials == 1 %}selected{% endif %}{% endif %}>{{ "Si" | trans }}</option>
            </select>
        </div>

        <div class="form-group col-lg-6" >
            <label>{{ "Pressupost estimat" | trans }}</label> <label>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                <input class="form-control number" name="pressuposte" id="pressuposte" type="text" value="{% if RegistreFites.1.pressuposte is defined %}{{ RegistreFites.1.pressuposte | raw }}{% endif %}" step="any" />
            </div>

        </div>

        <div class="form-group col-lg-6">
            <label>{{ "Estat" | trans }}<span style="color:red;"> *</span></label>
            <select class="form-control required" name="estatfita" >
              <option value="" {% if RegistreFites.1.estatfita is defined %}{% if RegistreFites.1.estatfita == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                
                {% for d in Paraules %}
                    {% if (d.codi == 'estatfita') and (d.idioma == 'ca')%}
                        <option value="{{ d.clau }}" {% if RegistreFites.1.estatfita is defined %}{% if RegistreFites.1.estatfita == d.clau %}selected{% endif %}{% endif %}>{{ d.text | raw }}</option>
                    {% endif %}
                {% endfor %}
              
            </select>
        </div>

        <div class="row">
          <div class="col-lg-12">

            <div class="form-group">
                <div class="checkbox">
                  <label><input name="avis" value="1" type="checkbox"  {% if RegistreFites.1.avis is defined %}{% if RegistreFites.1.avis == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} /><b>{{ "És una fita" | trans }}</b> (Es rebrà un avís 7 dies abans de la data de la fita)</label>
                </div>
            </div>

          </div>
        </div>

        <div class="form-group">
            <div class="errorfites"><span></span></div>
        </div>

        <div class="row">
          <div class="col-lg-12">

               <div id="resultfites" class="amagamissatges"></div>

          </div>
        </div>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>

        
    </form>

        
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idfita").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmfitespart').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmfitespart').removeAttr('checked').removeAttr('selected');
                $("div.errorfites span").html("");
                $(".panelldadesfites").toggle();

            });


            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmfitespart").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmfitespart.verif.value = "ok";
                    var stringdades = $("#frmfitespart").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultfites").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultfites").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.errorfites span").html("");
                                    $("#resultfites").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idfita").val(dades[1]);
                                    $(".modaltancar").click();
                                    $(".llistat_49").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "49", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{ctf}}' }}, function(){});
                                }else{
                                    $("#resultfites").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorfites span").html(cuadre);
                        $("div.errorfites").show();
                    } else {
                        $("div.errorfites").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


            $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });

            $(function($){
                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant',
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.regional['ca'] = {
                    closeText: 'Tancar',
                    prevText: '<Ant',
                    nextText: 'Seg>',
                    currentText: 'avui',
                    monthNames: ["Gener", "Febrer", "Març", "Abril", "Maig", "Juny", "Juliol", "Agost", "Setembre", "Octubre", "Novembre", "Desembre"],
                    monthNamesShort: ["Gen", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Des"],
                    dayNames: ["Diumenge", "Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres", "Dissabte"],
                    dayNamesShort: ["Diu",  "Dil", "Dmt", "Dmc", "Dij", "Div", "Dis"],
                    dayNamesMin: ["dg", "dl", "dt", "dc", "dj", "dv", "ds"],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['ca']);
            });

            $('.textarea_fites').wysihtml5();

      });
    </script>