
	

    <form role="form" action="projectes-origens" method="post" name="frmprojectesorig" id="frmprojectesorig">

    	<div style="display: none;">
    		<input name="idp" value="23" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
			<input name="verif" value="" type="hidden" />
			<input name="id" id="ido" value="{% if RegistreProjectesOrig.1.id is defined %}{{ RegistreProjectesOrig.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreProjectesOrig.1.idx is defined %}{{ RegistreProjectesOrig.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 23 %}{{idpx|md5}}" type="hidden" />
        </div>

        <div class="form-group">
            <label>{{ "Nom de la tipologia" | trans }}</label>
            <input class="form-control required" name="titol_ca" id="titol_ca" value="{% if RegistreProjectesOrig.1.titol is defined %}{{ RegistreProjectesOrig.1.titol | raw }}{% endif %}">
        </div>


        <div class="form-group">
            <label>{{ "Actiu" | trans }}</label>
            <div class="checkbox-inline">
              <label>
                <input name="estat" value="1" type="checkbox"  {% if RegistreProjectesOrig.1.estat is defined %}{% if RegistreProjectesOrig.1.estat == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} />
              </label>
            </div>
        </div>

        <div class="form-group">
        	<div class="errorprojectesorig"><span></span></div>
        </div>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>
        
    </form>

   <script type="text/javascript">
      $(document).ready(function($) {

        

            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmprojectesorig").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmprojectesorig.verif.value = "ok";
                    var stringdades = $("#frmprojectesorig").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultprojectesorig").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultprojectesorig").html(data);
                                var dades = jQuery.parseJSON(data);
                                if (dades[0] == 1){
                                    $("div.errorprojectesorig span").html("");
                                    $("#resultprojectesorig").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#ido").val(dades[1]);
                                    $(".panelldadesprojectesorig").toggle();
                                   
                                    $(".llistat_6").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "6"}, function(){
                    
                                    });
                                }else{
                                    $("#resultprojectesorig").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorprojectesorig span").html(cuadre);
                        $("div.errorprojectesorig").show();
                    } else {
                        $("div.errorprojectesorig").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");

      });
    </script>
