{{anys}} {{"any(s) d'execució."|trans}}<br>

{% set sumapressupostos = 0 %}
{% set sumaexecutat = 0 %}
{% set sumatotals = 0 %}
<div class="row">
    {% for i in inici..final %}

            
    		

            {% if RegistreDadesAnys.1.pressupostos[i] is defined %}

                {% set sumapressupostos = sumapressupostos + RegistreDadesAnys.1.pressupostos[i] %}

            {% endif %}

            {% if RegistreDadesAnys.1.executats[i] is defined %}

                {% set sumaexecutat = sumaexecutat + RegistreDadesAnys.1.executats[i] %}

            {% endif %}
            
    		
            <div class="col-lg-3 col-xs-3" style="z-index: 1 !important;">
                {#
                <label>{{ "Cap II assignat" | trans }} {{i}}</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input class="form-control presu" data-any="{{i}}" name="pressupost_{{i}}" id="pressupost_{{i}}"  type="text" value="{% if RegistreDadesAnys.1.pressupostos[i] is defined %}{{ RegistreDadesAnys.1.pressupostos[i] | raw }}{% else %}0{% endif %}" step="any" onblur="findTotal()" />
                </div>
                
                <label>{{ "Cap II contractat" | trans }} {{i}}</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input class="form-control presuex" data-any="{{i}}" name="executat_{{i}}" id="executat_{{i}}"  type="text" value="{% if RegistreDadesAnys.1.executats[i] is defined %}{{ RegistreDadesAnys.1.executats[i] | raw }}{% else %}0{% endif %}" step="any" onblur="findTotalex()" />
                </div>
               
                <hr>
                <label>{{ "Cap IV assignat" | trans }} {{i}}</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input class="form-control presu" data-any="{{i}}" name="pressupost1_{{i}}" id="pressupost1_{{i}}"  type="text" value="{% if RegistreDadesAnys.1.pressupostos1[i] is defined %}{{ RegistreDadesAnys.1.pressupostos1[i] | raw }}{% else %}0{% endif %}" step="any" onblur="findTotal()" />
                </div>
                
                <label>{{ "Cap IV contractat" | trans }} {{i}}</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input class="form-control presuex" data-any="{{i}}" name="executat1_{{i}}" id="executat1_{{i}}"  type="text" value="{% if RegistreDadesAnys.1.executats1[i] is defined %}{{ RegistreDadesAnys.1.executats1[i] | raw }}{% else %}0{% endif %}" step="any" onblur="findTotalex()" />
                </div>
               
                <hr>
                <label>{{ "Cap VI assignat" | trans }} {{i}}</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input class="form-control presu" data-any="{{i}}" name="pressupost2_{{i}}" id="pressupost2_{{i}}"  type="text" value="{% if RegistreDadesAnys.1.pressupostos2[i] is defined %}{{ RegistreDadesAnys.1.pressupostos2[i] | raw }}{% else %}0{% endif %}" step="any" onblur="findTotal()" />
                </div>
                
                <label>{{ "Cap VI contractat" | trans }} {{i}}</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input class="form-control presuex" data-any="{{i}}" name="executat2_{{i}}" id="executat2_{{i}}"  type="text" value="{% if RegistreDadesAnys.1.executats2[i] is defined %}{{ RegistreDadesAnys.1.executats2[i] | raw }}{% else %}0{% endif %}" step="any" onblur="findTotalex()" />
                </div>
                #}
               
                <hr>
                <label>{{ "TOTAL assignat" | trans }} {{i}}</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input class="form-control" name="total_{{i}}" id="total_{{i}}"  type="text" value="{% if RegistreDadesAnys.1.total[i] is defined %}{{ RegistreDadesAnys.1.total[i] | raw }}{% else %}0{% endif %}" step="any" READONLY />
                </div>
                
                {#
                <label>{{ "TOTAL contractat" | trans }} {{i}}</label>
                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                    <input class="form-control totals" name="total2_{{i}}" id="total2_{{i}}"  type="text" value="{% if RegistreDadesAnys.1.totals2[i] is defined %}{{ RegistreDadesAnys.1.totals2[i] | raw }}{% else %}0{% endif %}" step="any" onblur="findTotalex()" READONLY />
                </div>
                #}
               
            </div>

            {% if RegistreDadesAnys.1.total[i] is defined %}

                {% set sumatotals = sumatotals + RegistreDadesAnys.1.total[i]  %}

            {% endif %}
         

    {% endfor %}
    
</div>

<div class="row">

    <div class="col-lg-3" style="z-index: 1 !important;">
        <label>{{ "Total agregat" | trans }}</label>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-eur"></i></span>
            <input class="form-control " name="totalagregat" id="totalagregat" type="text" value="{% if sumatotals is defined %}{{sumatotals}}{% endif %}" step="any" READONLY />
        </div>
    </div>

</div>

{#
<div class="row">

    <div class="col-lg-3" style="z-index: 1 !important;">
        <label>{{ "Total pressupost" | trans }}</label>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-eur"></i></span>
            <input class="form-control " name="totalpressupost" id="totalpressupost" type="text" value="{% if RegistreDadesAnys.1.totalpressupost is defined %}{{ RegistreDadesAnys.1.totalpressupost | raw }}{% else %}{{sumapressupostos}}{% endif %}" step="any" />
        </div>
    </div>

    <div class="col-lg-3" style="z-index: 1 !important;">
        <label>{{ "Total adjudicat" | trans }}</label>
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-eur"></i></span>
            <input class="form-control " name="totalexecutat" id="totalexecutat" type="text" value="{% if RegistreDadesAnys.1.totalexecutat is defined %}{{ RegistreDadesAnys.1.totalexecutat | raw }}{% else %}{{sumaexecutat}}{% endif %}" step="any" />
        </div>
    </div>

</div>
#}

<script type="text/javascript">

function findTotal(){
    var tot={};
    $(".presu").each(function() {

        var anyp = $(this).data("any");
        tot[anyp] = +tot[anyp] || 0
        if( this.value.length!=0) { // !isNaN(this.value) 
            valor = this.value;
            valor = valor.replace(/\./g, '');
            tot[anyp] += parseFloat(valor);
        }


    });

    for (var key in tot) {
        tot[key] = tot[key].toString().replace(/\D/g, "")
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        document.getElementById('total_'+key).value = tot[key];
    }

}



$(".presu").on('keyup', function(evt){
    // skip for arrow keys
      if(event.which >= 37 && event.which <= 40) return;

      // format number
      $(this).val(function(index, value) {
        return value
        .replace(/\D/g, "")
        .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        ;
      });
});

$(".presu, .totals, .presuex").each(function() {

    $(this).val(function(index, value) {
    return value
    .replace(/\D/g, "")
    .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    ;
  });
    
});


function findTotalex(){
    var tot={};
    $(".presuex").each(function() {

        var anyp = $(this).data("any");
        tot[anyp] = +tot[anyp] || 0
        if( this.value.length!=0) { // !isNaN(this.value) 
            valor = this.value;
            valor = valor.replace(/\./g, '');
            tot[anyp] += parseFloat(valor);
        }


    });

    for (var key in tot) {
        tot[key] = tot[key].toString().replace(/\D/g, "")
                            .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        document.getElementById('total2_'+key).value = tot[key];
    }

}



$(".presuex").on('keyup', function(evt){
    // skip for arrow keys
      if(event.which >= 37 && event.which <= 40) return;

      // format number
      $(this).val(function(index, value) {
        return value
        .replace(/\D/g, "")
        .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        ;
      });
});



</script>