    
    <form role="form" action="operadors" method="post" name="frmoperadors" id="frmoperadors">

        <div style="display: none;">
            <input name="idp" value="68" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
            <input name="verif" value="" type="hidden" />
            <input name="id" id="idindicador" value="{% if RegistreOperador.1.id is defined %}{{ RegistreOperador.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreOperador.1.idx is defined %}{{ RegistreOperador.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 68 %}{{idpx|md5}}" type="hidden" />
            <input name="ctf" value="{{ctf}}" type="hidden" />
        </div>


        <div class="form-group">
            <label>{{ "Denominació" | trans }}</label>
            <input class="form-control" name="titol_ca" id="titol_ca_operador" value="{% if RegistreOperador.1.titol_ca is defined %}{{ RegistreOperador.1.titol_ca | raw }}{% endif %}" />
        </div>
        <div class="form-group">
            <label>{{ "Persona/es referent/s" | trans }}</label>
            <textarea class="form-control textarea_oper" rows="6" name="persones" id="persones" >{% if RegistreOperador.1.persones is defined %}{{ RegistreOperador.1.persones | raw }}{% endif %}</textarea>
        </div>
        <div class="form-group">
            <label>{{ "Tipologia" | trans }}<span style="color:red;"> *</span></label>
            <select class="form-control required" name="tipologia" >
              <option value="" {% if RegistreOperador.1.tipologia is defined %}{% if RegistreOperador.1.tipologia == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                
                {% for d in Paraules %}
                    {% if (d.codi == 'tipologiaoperadors') and (d.idioma == 'ca')%}
                        <option value="{{ d.clau }}" {% if RegistreOperador.1.tipologia is defined %}{% if RegistreOperador.1.tipologia == d.clau %}selected{% endif %}{% endif %}>{{ d.text | raw }}</option>
                    {% endif %}
                {% endfor %}
              
            </select>
        </div>

        <div class="form-group">
            <div class="erroroperadors"><span></span></div>
        </div>

        <div class="row">
          <div class="col-lg-12">

               <div id="resultoperadors" class="amagamissatges"></div>

          </div>
        </div>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>

        
    </form>

        
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idindicador").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmoperadors').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmoperadors').removeAttr('checked').removeAttr('selected');
                $("div.erroroperadors span").html("");
                $(".panelldadesoperadors").toggle();

            });


            $.post("../load",{o:41, id:1,c:{} }, function(result){

                var availableTags = result;
                if (result != "")
                {
                  var availableTags = JSON.parse(availableTags);
                  $("#titol_ca_operador").attr("READONLY", false); 
                }
                else
                {
                    $("#titol_ca_operador").attr("READONLY", true);
                }
                
                $("#titol_ca_operador").autocomplete({
                    minLength: 1,
                    source: availableTags,
                   
                    select: function (event, ui) {
                        $("#titol_ca_operador").val(ui.item.nom);
                        return false; 
                    },
                   
                   
                });

                $( "#titol_ca_operador" ).autocomplete( "option", "appendTo", "#modalprojectes" );



            });


            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmoperadors").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmoperadors.verif.value = "ok";
                    var stringdades = $("#frmoperadors").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultoperadors").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultoperadors").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.erroroperadors span").html("");
                                    $("#resultoperadors").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idindicador").val(dades[1]);
                                    $(".modaltancar").click();
                                    $(".llistat_47").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "47", c:{'em':'si','mod':'{% if ctf2 == 't' %}modalpassos{% else %}modalprojectes{% endif %}', 'ctf':'{{ctf}}', 'ctf2':'{{ctf2}}' }}, function(){});
                                }else{
                                    $("#resultoperadors").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.erroroperadors span").html(cuadre);
                        $("div.erroroperadors").show();
                    } else {
                        $("div.erroroperadors").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


            $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });

            $(function($){
                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant',
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.regional['ca'] = {
                    closeText: 'Tancar',
                    prevText: '<Ant',
                    nextText: 'Seg>',
                    currentText: 'avui',
                    monthNames: ["Gener", "Febrer", "Març", "Abril", "Maig", "Juny", "Juliol", "Agost", "Setembre", "Octubre", "Novembre", "Desembre"],
                    monthNamesShort: ["Gen", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Des"],
                    dayNames: ["Diumenge", "Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres", "Dissabte"],
                    dayNamesShort: ["Diu",  "Dil", "Dmt", "Dmc", "Dij", "Div", "Dis"],
                    dayNamesMin: ["dg", "dl", "dt", "dc", "dj", "dv", "ds"],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['ca']);
            });

            $('.textarea_oper').wysihtml5();

      });
    </script>