{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}

	<link href="{{ app.request.basepath }}/css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">

{% endblock %}

{% block js %}

	<script src="{{ app.request.basepath }}/js/plugins/dataTables/jquery.dataTables.min.js"></script>

  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>
  <script type="text/javascript">
      $(document).ready(function($) {

        {{ js|raw }}

      });
  </script>

  {#<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>#}
  <script src="{{ app.request.basepath }}/js/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAveCJBu7A_jXf0-EHbdBKzv8dU14oGHMU&libraries=places" async defer></script>
   
 

  <style>
      .tree {
          min-height:20px;
          padding:19px;
          margin-bottom:20px;
          background-color:#fbfbfb;
          border:1px solid #999;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius:4px;
          -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
          -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
      }
      .tree li {
          list-style-type:none;
          margin:0;
          padding:10px 5px 0 5px;
          position:relative
      }
      .tree li::before, .tree li::after {
          content:'';
          left:-20px;
          position:absolute;
          right:auto
      }
      .tree li::before {
          border-left:1px solid #999;
          bottom:50px;
          height:100%;
          top:0;
          width:1px
      }
      .tree li::after {
          border-top:1px solid #999;
          height:20px;
          top:25px;
          width:25px
      }
      .tree li span {
          -moz-border-radius:5px;
          -webkit-border-radius:5px;
          border:1px solid #999;
          border-radius:5px;
          display:inline-block;
          padding:3px 8px;
          text-decoration:none
      }
      .tree li.parent_li>span {
          cursor:pointer
      }
      .tree>ul>li::before, .tree>ul>li::after {
          border:0
      }
      .tree li:last-child::before {
          height:30px
      }
      .tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
          background:#eee;
          border:1px solid #94a0b4;
          color:#000
      }
  </style>
   
{% endblock %}


{% block nus %}


    <div class="row">
          <div class="col-lg-12">
            <h1> <small>{{ Pagines.titol | raw }}</small></h1>
            {#
            <ol class="breadcrumb">
              <li><a href="{{ app.request.basepath }}/index.html"><i class="fa fa-dashboard"></i> {{ "Inici" | trans }}</a></li>
          	  <li class="active"><i class="fa fa-edit"></i> {{ Pagines.titol | raw }}</li>
            </ol>#}
          </div>
          
    </div><!-- /.row -->


{% endblock %}


{% block content %}

  <script src="{{ app.request.basepath }}/js/jquery-ui.js"></script>  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  {% include "formfiltre.html" %}

  
  {% if ( arraypermisos.1.nou == true )  %}
  	<div class="row"><br>
  		<div class="col-lg-12">
  			<p>
  				<button class="btn btn-success nou" type="submit">{{ "Nou projecte" | trans }}</button>
  			</p>
  		</div>
  	</div>
  {% endif %}


  <style type="text/css">.btn-xs{padding: 1px 5px !important;} .btn-sm{padding: 5px 10px !important;}</style>

    <div class="row">
      <div class="col-lg-12">

           <div id="resultprojectes" class="amagamissatges"></div>

      </div>
    </div>
  
  <hr>

    <div class="row panelldades panelldadesprojectes" style="display:none;">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body" id="divcamps">

                    {% include "projectesform.html" %}

                </div>
            </div>

        </div>
    </div>

	<div class="row">
    
    <div class="col-lg-12">
      <!--<div class="llistat_1"></div>-->
      {{ LlistatProjectes | default('') | raw}}

    </div>

  </div>

  <hr>


  <script type="text/javascript">
    $(document).ready(function($) {

       $(document).off("click",".export").on("click",".export",function(event){ 

            
              $("#modalprojectes").modal();
              $(".mostrarmodal").html("No tanqui la finestra, aquest procés pot trigar uns minuts.<br>Si finalitzat el procés, la descàrrega no comença automàticament faci click al botó \"DESCARREGAR\"<br><img src=\'../images/loadingdoc.gif\'/>");

              $("#myModalLabel").html("Generant document");

              var t = $(this).data("t");
              $("#export").val(t);
              $("#frmfiltrar").submit();

          
        });

       $(document).off("click",".export_ind").on("click",".export_ind",function(event){ 

          var t = $(this).data("id");
          $("#export_ind").val(t);
          $("#frmfiltrar").submit();

      
      });


        $(document).off('click',".mostrarllistat").on("click",".mostrarllistat",function(event){

              
                var signe = $(this).find(".signe").html();
                if (signe == "<i class=\"fa fa-angle-down\"></i>"){
                    $(this).find(".signe").html("<i class=\"fa fa-angle-up\"></i>");
                }else{
                    $(this).find(".signe").html("<i class=\"fa fa-angle-down\"></i>");
                }  

                var llistat = $(this).data("llistat");

                //$(this).closest(".row").next().toggle();

                //$(".llistats").hide();
                $("."+llistat).toggle();
                

          });

          

          $(document).off("click",".mostrarconsulta").on("click",".mostrarconsulta",function(event){

            event.preventDefault();

                var id = $(this).data( "id" );  

                  
                $(".mostrarmodal").html("<img src='images/loadingg.gif'/>");
                $(".mostrarmodal").load("load",{o:3, id:id, t: 1, c:{co:1  } }, function(){

                        
                    $("INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA", "#frmplens" ).attr('disabled', 'disabled');
                   
                    $("#myModalLabel").html("Detalls");
                    
                    $('.mostrarmodal').find('.btn').hide();

                    setTimeout(function () {
                        $('.mostrarmodal').find('.btn').hide();
                        $('.mostrarmodal').find('.btn-success').show();
                    }, 1500);
                    
                    setTimeout(function () {
                        $('.mostrarmodal').find('.btn').hide();
                        $('.mostrarmodal').find('.btn-success').show();
                    }, 2000);

                    setTimeout(function () {
                        $('.mostrarmodal').find('.btn').hide();
                        $('.mostrarmodal').find('.btn-success').show();
                    }, 4000);

                    setTimeout(function () {
                        $('.mostrarmodal').find('.btn').hide();
                        $('.mostrarmodal').find('.btn-success').show();
                    }, 5000);


              }); 
                
                

        });


      {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 1 or app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 2 %}

          $(document).off('click',".eliminarp").on("click",".eliminarp",function(event){

              event.preventDefault();
              $(this).html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");

              if (confirm("Segur que vols eliminar el registre?"))
              {
                  if (confirm("Les dades seran esborrades i no es podran recuperar. Continuar?"))
                  {
                      var id = $(this).data( "id" );
                      var idx = $(this).data( "idx" );
                      var t = $(this).data( "t" );
                      $(this).load("{{ app.request.basepath }}/load",{o:4,id:id, t: t, c:{idx:idx}}, function() {
                          window.top.location.href = "../5/els-meus-projectes.html";
                      });
                  }else{
                    $(this).html('<i class="fa fa-trash"></i>');
                  }
                 
              }else{
                $(this).html('<i class="fa fa-trash"></i>');
              }
                

          });


          $(document).off('click',".eliminara").on("click",".eliminara",function(event){

              event.preventDefault();
              $(this).html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");

              if (confirm("Segur que vols eliminar el registre?"))
              {
                  if (confirm("Les dades seran esborrades i no es podran recuperar. Continuar?"))
                  {
                      var id = $(this).data( "id" );
                      var idx = $(this).data( "idx" );
                      var t = $(this).data( "t" );
                      $(this).load("{{ app.request.basepath }}/load",{o:4,id:id, t: t, c:{idx:idx}}, function() {
                          window.top.location.href = "./inici.html";
                      });
                  }else{
                    $(this).html('<i class="fa fa-trash"></i>');
                  }
                 
              }else{
                $(this).html('<i class="fa fa-trash"></i>');
              }
                

          });


          $(document).off('click',".eliminart").on("click",".eliminart",function(event){

              event.preventDefault();
              $(this).html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");

              if (confirm("Segur que vols eliminar el registre?"))
              {
                  if (confirm("Les dades seran esborrades i no es podran recuperar. Continuar?"))
                  {
                      var id = $(this).data( "id" );
                      var idx = $(this).data( "idx" );
                      var t = $(this).data( "t" );
                      $(this).load("{{ app.request.basepath }}/load",{o:4,id:id, t: t, c:{idx:idx}}, function() {
                          window.top.location.href = "./inici.html";
                      });
                  }else{
                    $(this).html('<i class="fa fa-trash"></i>');
                  }
                 
              }else{
                $(this).html('<i class="fa fa-trash"></i>');
              }
                

          });


      {% endif %}

  });
  </script>

  {% set titol = "Detalls" | trans | raw %}
  {% set codi = "modalconsulta" %}
  {% include "formmodal.html" %}

    

{% endblock %}