
	{% if o is not defined %}

        <form role="form" action="projectes-districtes" method="post" name="frmdistrictes" id="frmdistrictes">

        	<div style="display: none;">
        		<input name="idp" value="29" type="hidden" />
                <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
    			<input name="verif" value="" type="hidden" />
    			<input name="id" id="idd" value="{% if RegistreDistrictes.1.id is defined %}{{ RegistreDistrictes.1.id | raw }}{% endif %}" type="hidden" />
                <input name="idx" id="idx"  value="{% if RegistreDistrictes.1.idx is defined %}{{ RegistreDistrictes.1.idx | raw }}{% endif %}" type="hidden" />
                <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 29 %}{{idpx|md5}}" type="hidden" />
            </div>

            <div class="form-group">
                <label>{{ "Tipus districte o barri" | trans }}</label>
                <select class="form-control required nivell" name="nivell" >
                    <option value="" {% if RegistreDistrictes.1.nivell is defined %}{% if RegistreDistrictes.1.nivell == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                    
                    <option value="1" {% if RegistreDistrictes.1.nivell is defined %}{% if RegistreDistrictes.1.nivell == 1 %}selected{% endif %}{% endif %}>{{ "Districte"|trans}}</option>
                    <option value="2" {% if RegistreDistrictes.1.nivell is defined %}{% if RegistreDistrictes.1.nivell == 2 %}selected{% endif %}{% endif %}>{{ "Barri"|trans}}</option>
                     
                </select>
            </div>

            <div class="vinculacio2">

            </div>

            <div class="form-group">
                <label>{{ "Nom del districte o barri" | trans }}</label>
                <input class="form-control required" name="titol_ca" id="titol_ca" value="{% if RegistreDistrictes.1.titol is defined %}{{ RegistreDistrictes.1.titol | raw }}{% endif %}">
            </div>


            <div class="form-group">
                <label>{{ "Actiu" | trans }}</label>
                <div class="checkbox-inline">
                  <label>
                    <input name="estat" value="1" type="checkbox"  {% if RegistreDistrictes.1.estat is defined %}{% if RegistreDistrictes.1.estat == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} />
                  </label>
                </div>
            </div>

            <div class="form-group">
            	<div class="errordistrictes"><span></span></div>
            </div>

            <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
            <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>
            
        </form>

       <script type="text/javascript">
          $(document).ready(function($) {

                $(document).on("change",".nivell",function(event){


                    var opcio = $(this).val();
                    if (opcio == 2)
                    {
                        var id = '{% if RegistreDistrictes.1.parent_id is defined %}{{RegistreDistrictes.1.parent_id}}{% else %}0{% endif %}';
                      
                        $(".vinculacio2").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                        $(".vinculacio2").load("{{ app.request.basepath }}/load",{o:14, id:id, t: '' });   
                    }
                    else
                    {
                        $(".vinculacio2").html("");
                    }
                      


                });

                {% if RegistreDistrictes.1.nivell is defined %}
                    {% if RegistreDistrictes.1.nivell == 2 %}

                        var id = '{% if RegistreDistrictes.1.parent_id is defined %}{{RegistreDistrictes.1.parent_id}}{% else %}0{% endif %}';
                      
                        $(".vinculacio2").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                        $(".vinculacio2").load("{{ app.request.basepath }}/load",{o:14, id:id, t: '' });   

                    {% endif %}
                {% endif %}


                jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
                $("#frmdistrictes").validate({
                    errorElement: "em",
                    errorPlacement: function(error, element) {
                        error.appendTo( element.parent("div") );
                    },
                    success: function(label) {
                        //label.text("ok!").addClass("success");
                    },
                    //errorLabelContainer: $("div.error"),
                    submitHandler: function(form) {
                        document.frmdistrictes.verif.value = "ok";
                        var stringdades = $("#frmdistrictes").serialize();
                            $.ajax({
                                type: "POST",
                                url: "{{ app.request.basepath }}/guardar",
                                data: stringdades,
                                beforeSend:function(){
                                    $("#resultdistrictes").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    // Error.
                                },
                                success: function(data){
                                    $("#resultdistrictes").html(data);
                                    var dades = jQuery.parseJSON(data);
                                    if (dades[0] == 1){
                                        $("div.errordistrictes span").html("");
                                        $("#resultdistrictes").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                        $("#idd").val(dades[1]);
                                        $(".panelldadesdistrictes").toggle();
                                        var idoe = $("#idoe").val();
                                       
                                        $(".llistat_15").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "15"}, function(){
                        
                                        });
                                    }else{
                                        $("#resultdistrictes").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                    }
                                }
                            });
                        return false;
                    },
                    invalidHandler: function(e, validator) {
                        var errors = validator.numberOfInvalids();
                        if (errors) {
                            var message = errors == 1
                                ? "Has oblidat 1 camp."
                                : "Has oblidat " + errors + " camps. ";

                            var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                            $("div.errordistrictes span").html(cuadre);
                            $("div.errordistrictes").show();
                        } else {
                            $("div.errordistrictes").hide();
                        }
                    },
                    onkeyup: false,
                    debug:true
                });

                // a custom method making the default value for companyurl ("http://") invalid, widdhout displaying the "invalid url" message
                jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                    return value != element.defaultValue;
                }, "");

          });
        </script>

    {% else %}

        <div class="form-group">
            <label>{{ "Districte relacionat." | trans }}</label>
            <select class="form-control required" name="parent_id" >
              <option value="" {% if RegistreDistrictes.1.parent_id is defined %}{% if RegistreDistrictes.1.parent_id == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                
                {% for d in RegistreDistrictes %}
                    <option value="{{ d.id }}" {% if parent_id is defined %}{% if parent_id == d.id %}selected{% endif %}{% endif %}>{{ d.titol | raw }}</option>
                {% endfor %}
              
            </select>
        </div>

    {% endif %}
