    
    <form role="form" action="operadors" method="post" name="frmoperadors" id="frmoperadors">

        <div style="display: none;">
            <input name="idp" value="87" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
            <input name="verif" value="" type="hidden" />
            <input name="id" id="idindicador" value="{% if RegistreConceptes.1.id is defined %}{{ RegistreConceptes.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreConceptes.1.idx is defined %}{{ RegistreConceptes.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 87 %}{{idpx|md5}}" type="hidden" />
            <input name="ctf" value="{{ctf}}" type="hidden" />
        </div>

      
        <div class="form-group">
            <label>{{ "Any" | trans }}</label>
            <select class="form-control required" name="any" >
                 
                {% for i in inici..final %}
                     <option value="{{i}}" {% if RegistreConceptes.1.any is defined %}{% if RegistreConceptes.1.any == i %}selected{% endif %}{% endif %}>{{i}}</option>
                {% endfor %}
             
            </select>
        </div>


        <div class="form-group">
            <label>{{ "Concepte" | trans }}</label>
            <input class="form-control" name="titol_ca" id="titol_ca" value="{% if RegistreConceptes.1.titol_ca is defined %}{{ RegistreConceptes.1.titol_ca | raw }}{% endif %}" />
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-3 col-xs-3">
                    <label>{{ "Cap II assignat" | trans }}</label>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                        <input class="form-control number" name="pressupost1" id="pressupost1"  type="text" value="{% if RegistreConceptes.1.pressupost1 is defined %}{{ RegistreConceptes.1.pressupost1 | raw }}{% else %}0{% endif %}" step="any" />
                    </div>
                </div>
                <div class="col-lg-3 col-xs-3">
                    <label>{{ "Cap IV assignat" | trans }}</label>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                        <input class="form-control number" name="pressupost2" id="pressupost2"  type="text" value="{% if RegistreConceptes.1.pressupost2 is defined %}{{ RegistreConceptes.1.pressupost2 | raw }}{% else %}0{% endif %}" step="any" />
                    </div>
                </div>
                <div class="col-lg-3 col-xs-3">
                <label>{{ "Cap VI assignat" | trans }}</label>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                        <input class="form-control number" name="pressupost3" id="pressupost3"  type="text" value="{% if RegistreConceptes.1.pressupost3 is defined %}{{ RegistreConceptes.1.pressupost3 | raw }}{% else %}0{% endif %}" step="any" />
                    </div>
                </div>
            </div>
        </div>
      

        <div class="form-group">
            <div class="erroroperadors"><span></span></div>
        </div>

        <div class="row">
          <div class="col-lg-12">

               <div id="resultoperadors" class="amagamissatges"></div>

          </div>
        </div>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>

        
    </form>

        
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idindicador").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmoperadors').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmoperadors').removeAttr('checked').removeAttr('selected');
                $("div.erroroperadors span").html("");
                $(".panelldadesoperadors").toggle();

            });

            function isNumber(n) {
              return !isNaN(parseFloat(n)) && isFinite(n);
            }

            $(".number").on('focusout', function(event){
                // skip for arrow keys
                //if(event.which >= 37 && event.which <= 40) return;

               
              // format number
              /*
              $(this).val(function(index, value) {
                return value
                .replace(/\D/g, "")
                .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                ;
                  });*/

                var value =  $(this).val();
                value = value.replace(/,/g, '.')
                value = parseFloat(Math.round(value * 100) / 100).toFixed(2);

                if (isNumber(value)){
                    $(this).val(value);
                }else{
                    alert("El format no és vàlid.");
                }
                  

            });

            $(".number").each(function() {

                /*
                $(this).val(function(index, value) {
                return value
                .replace(/\D/g, "")
                .replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                ;
              });*/

                var value =  $(this).val();
                value = value.replace(/,/g, '.')
                value = parseFloat(Math.round(value * 100) / 100).toFixed(2);

                if (isNumber(value)){
                    $(this).val(value);
                }
                
            });

            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmoperadors").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmoperadors.verif.value = "ok";
                    var stringdades = $("#frmoperadors").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultoperadors").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultoperadors").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.erroroperadors span").html("");
                                    $("#resultoperadors").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idindicador").val(dades[1]);
                                    $(".modaltancar").click();
                                    $(".llistat_65").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "65", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{ctf}}' }}, function(){});
                                    $(".calcdadesanys").click();
                                    
                                }else{
                                    $("#resultoperadors").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.erroroperadors span").html(cuadre);
                        $("div.erroroperadors").show();
                    } else {
                        $("div.erroroperadors").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


            $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });

            $(function($){
                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant',
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.regional['ca'] = {
                    closeText: 'Tancar',
                    prevText: '<Ant',
                    nextText: 'Seg>',
                    currentText: 'avui',
                    monthNames: ["Gener", "Febrer", "Març", "Abril", "Maig", "Juny", "Juliol", "Agost", "Setembre", "Octubre", "Novembre", "Desembre"],
                    monthNamesShort: ["Gen", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Des"],
                    dayNames: ["Diumenge", "Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres", "Dissabte"],
                    dayNamesShort: ["Diu",  "Dil", "Dmt", "Dmc", "Dij", "Div", "Dis"],
                    dayNamesMin: ["dg", "dl", "dt", "dc", "dj", "dv", "ds"],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['ca']);
            });

            $('.textarea_oper').wysihtml5();

      });
    </script>