    
    <link rel="stylesheet" href="{{ app.request.basepath }}/js/colors/jquery.simplecolorpicker.css">


    <form role="form" action="projectes" method="post" name="frmprojectes" id="frmprojectes">

        <div class="form-group">
            <label>{{ "Nom del projecte" | trans }}  <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Títol i, si cal, una frase descriptiva a sota per a la ciutadania"></i></label>
            <p>{% if RegistreProjecte.1.titol is defined %}{{ RegistreProjecte.1.titol | raw }}{% endif %}</p>
        </div>

        <div class="row">
            <div class="col-lg-6"> 
                <div class="checkbox">
                  <label>{% if RegistreProjecte.1.estrategic is defined %}{% if RegistreProjecte.1.estrategic == 1 %}<b>{{ "És un projecte estratègic" | trans }}</b>{% endif %}{% endif %}</label>
                </div>
            </div>
        </div>

        {% if RegistreProjecte.1.id is not defined and nomassignat != "" %}

            <div class="form-group">
                <label>{{ "Vinculació estratègica" | trans }}</label>
                <p>{{nomassignat|raw}}</p>
            </div>

        {% endif %}
        
        {% if RegistreProjecte.1.id is defined %}

            <div class="2npas">


            <style>
            .nav-tabs{
                display: flex;
            }
            .nav-tabs li {
                display: flex;
                flex: 1;
            }

            .nav-tabs li  a {
                flex: 1;
            }
            </style>

            <ul class="nav nav-tabs nav-justified myTab">
                <li class="active"><a href="#section1"><h5 style="color:#1f1e17;"><i class="fa fa-bars"></i> {{"Dades generals"|trans}}</h5><br></a></li>
                <li class=""><a href="#section2"><h5 style="color:#1f1e17;"><i class="fa fa-calendar"></i> {{"Planificació"|trans}}</h5><br></a></li>
                
                <li class=""><a href="#section5"><h5 style="color:#1f1e17;"><i class="fa fa-bar-chart"></i> {{"Seguiment execució i indicadors"|trans}}</h5></a></li>
                {#
                <li class=""><a href="#section5b"><h5 style="color:#1f1e17;"><i class="fa fa-hand-pointer-o"></i> {{"Participació"|trans}}</h5><br></a></li>
                #}
                <li class=""><a href="#section6"><h5 style="color:#1f1e17;"><i class="fa fa-file-pdf-o"></i> {{"Documentació"|trans}}</h5><br></a></li>
                
            </ul>

            <div class="tab-content">

                <div id="section1" class="tab-pane fade in active">

                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="form-group">
                                <label>{{ "Descripció del projecte" | trans }}  <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Tema. Descripció dels aspectes bàsics del projecte. És la presentació del projecte, ha de donar una idea general del que es vol fer. En un màxim de 3 línies"></i></label>
                                <p>{% if RegistreProjecte.1.descripcio_ca is defined %}{{ RegistreProjecte.1.descripcio_ca | raw |replace({'<p>': '','</p>':'','<br>':''}) }}{% endif %}</p>
                            </div>
                    
                            <div class="row amagaaconsultes">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Objectiu vinculat al Pla Director" | trans }}   <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Objectiu corresponent del PDA: X.X.X"></i>
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="tree well">
                                                    <ul>

                                                        {# preparar array respostes triades. #}

                                                        {% if RegistreProjecte.1.id is defined %}
                                                             {% set vinculacio = RegistreProjecte.1.vinculacio|replace({'"': '','[':'',']':''}) %}
                                                             {% set vinculacio = vinculacio|split(',') %}

                                                        {% endif %}
                                                      
                                                        {% if Vinculacio is not empty %}

                                                            {% for d in Vinculacio if (d.nivell == 1) %}
                                                                {% for e in Vinculacio if (e.nivell == 4) %}

                                                                    {% if RegistreProjecte.1.id is defined %}{% if d.id~'_'~e.id in vinculacio  %}
                                                                        <li>
                                                                            <span class="vinculacio_{{e.id}}"><i class="fa fa-tags"></i> {{e.titol|raw}} </span>

                                                                        </li>
                                                                    {% endif %}{% endif %}

                                                                {% endfor %}
                                                            {% endfor %}

                                                        {% endif %}
                                                                                           
                                                    </ul>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Centres o òrgan" | trans }} . <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Centre o Òrgan vinculat al projecte a efectes de seguiment i control. És la part que el desenvolupa. Ha de pertànyer a l’Arxiu Municipal de Barcelona, ja que la fitxa s’ha dissenyat per al seu PDA"></i>
                                          
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="tree well">
                                                    <ul>


                                                        {% if RegistreProjecte.1.id is defined %}
                                                             {% set ambits = RegistreProjecte.1.ambits|replace({'"': '','[':'',']':''}) %}
                                                             {% set ambits = ambits|split(',') %}

                                                        {% endif %}
                                                      
                                                        {% if ambits is not empty %}

                                                            {% for d in Organse if (d.nivell == 1) %}

                                                                {% if RegistreProjecte.1.id is defined %}{% if d.id in ambits  %}
                                                                <li>
                                                                    <span class="capprojecte_{{d.id}}"><i class="fa fa-folder-open-o"></i> {{d.titol|raw}}   </span>
                                                                    <ul>
                                                                        {% for b in Organse if (b.nivell == 2) and (b.parent_id == d.id) %}

                                                                            {% if RegistreProjecte.1.id is defined %}{% if b.id in ambits  %}
                                                                            <li>
                                                                                <span class="capprojecte_{{b.id}}"><i class="fa fa-tags"></i> {{b.titol|raw}} </span>

                                                                            </li>
                                                                            {% endif %}{% endif %}

                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                                {% endif %}{% endif %}

                                                            {% endfor %}

                                                        {% endif %}
                                                    </ul>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                   
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Àrea impulsora" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="La part que impulsa o encarrega el projecte. Pot ser externa a l’AMB, i fins i tot externa a l’Ajuntament de Barcelona"></i>
                                            
                                        </div>
                                        <div class="panel-body">
                                            
                                            <p>{% if Arees_ind == "" %}Sense arees triades.{% else %}
                                                {% for e in Arees_ind %}
                                                    <li>{{e.titol}} {{e.persones}}</li>
                                                {% endfor %}
                                            {% endif %}</p>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="form-group campestrategic">
                                <label>{{ "Director/a del projecte" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Pot ser extern a l’AMB"></i></label>
                                <p>{% if RegistreProjecte.1.director is defined %}{{ RegistreProjecte.1.director | raw }}{% endif %}</p>
                            </div>

                            <div class="form-group">
                                <label>{{ "Gestor/a del projecte" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Ha de pertànyer a l’AMB"></i></label>
                                    
                                {% for d in Usuaris if d.clau_permisos == 1 or d.clau_permisos == 2 %}
                                   <p>{% if RegistreProjecte.1.cap_projecte is defined %}{% if RegistreProjecte.1.cap_projecte == d.id %}{{ d.cognoms | raw }}, {{ d.nom | raw }}{% endif %}{% endif %}</p>
                                {% endfor %}
                                  
                            </div>

                            <div class="row">
                                <div class="col-lg-6">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Equip de projecte intern" | trans }}  <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="personal de l’AMB"></i>
                                        </div>
                                        <div class="panel-body">
                                            
                                            <p>{% if Equip_int == "" %}Sense equip triat.{% else %}
                                                {% for e in Equip_int %}
                                                    <li>{{e.nomequip}}</li>
                                                {% endfor %}
                                            {% endif %}</p>

                                        </div>
                                    </div>
                                   
                                </div>

                                <div class="col-lg-6">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Equip de projecte extern" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="personal o col·laboradors externs a l’AMB, i altres parts implicades"></i>
                                            
                                        </div>
                                        <div class="panel-body">
                                            
                                            <p>{% if Equip_ext == "" %}Sense equip triat.{% else %}
                                                {% for e in Equip_ext %}
                                                    <li>{{e.nomequip}}</li>
                                                {% endfor %}
                                            {% endif %}</p>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>


                            <div class="form-group campestrategic">
                                <label>{{ "Justificació amb dades" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Per a què es fa? Quin tema resol, de quin programa forma part...? Raons fonamentades amb dades"></i> </label>
                                <p>{% if RegistreProjecte.1.motivacio is defined %}{{ RegistreProjecte.1.motivacio | raw |replace({'<p>': '','</p>':'','<br>':''}) }}{% endif %}</p>
                            </div>

                            <div class="form-group campestrategic">
                                <label>{{ "Principals beneficiaris del projecte" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="A qui s’adreça el projecte: col·lectius destinataris específics, nínxol de ciutadania, col·lectiu/s...Nom, i perfil o característiques bàsiques"></i></label>
                                <p>{% if RegistreProjecte.1.impactes is defined %}{{ RegistreProjecte.1.impactes | raw |replace({'<p>': '','</p>':'','<br>':''}) }}{% endif %}</p>
                            </div>

                            <div class="form-group">
                                <label>{{ "Recursos" | trans }}</label>
                                   
                                {% for d in Paraules %}
                                    {% if (d.codi == 'recursosprojecte') and (d.idioma == 'ca')%}
                                        <p>{% if RegistreProjecte.1.recursos is defined %}{% if RegistreProjecte.1.recursos == d.clau %}{{ d.text | raw }}{% endif %}{% endif %}
                                    {% endif %}
                                {% endfor %}
                                  
                            </div>

                            <div class="row">
                                <div class="col-lg-12"><b>Pressupost</b> <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="En el cas de projectes que impliquin la subcontractació de tasques a terceres parts amb un cost per l’AMB. En cas de projectes plurianuals, detallar el pressupost per anualitat"></i></div>

                                <div class="col-lg-12">       

                                    <div id="dadesanys">
                                        
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <div style="float: right; margin-right:10px;">
                                                        
                                                    </div>
                                                </div>

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_65"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>


                            {% if app.session.get(constant('General::nomsesiouser') ~ '-permisos') == 1 %}
                                <div class="row">
                                    <div class="col-lg-6"> 
                                        <div class="checkbox">
                                          <label>{% if RegistreProjecte.1.sensible is defined %}{% if RegistreProjecte.1.sensible == 1 %}<b>{{ "Projecte sensible" | trans }}</b>{% endif %}{% endif %}</label>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            

                        </div>

                    </div>

                </div>


                <div id="section2" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Calendari del projecte" }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Dates previstes, subjectes a modificacions argumentades"></i>
                                          
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>{{ "Inici" }} </label><br>
                                                        <input type="hidden" class="form-control datepicker required" name="inici" id="inici" placeholder="dd/mm/aaaa" value="{% if RegistreProjecte.1.inici is defined %}{% if RegistreProjecte.1.inici != "0000-00-00" %}{{ RegistreProjecte.1.inici | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        <p>{% if RegistreProjecte.1.inici is defined %}{% if RegistreProjecte.1.inici != "0000-00-00" %}{{ RegistreProjecte.1.inici | date("d/m/Y") }}{% endif %}{% endif %}</p>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>{{ "Final" }} </label><br>
                                                        <input type="hidden" class="form-control datepicker required" name="final" id="final" placeholder="dd/mm/aaaa" value="{% if RegistreProjecte.1.final is defined %}{% if RegistreProjecte.1.final != "0000-00-00" %}{{ RegistreProjecte.1.final | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        <p>{% if RegistreProjecte.1.final is defined %}{% if RegistreProjecte.1.final != "0000-00-00" %}{{ RegistreProjecte.1.final | date("d/m/Y") }}{% endif %}{% endif %}</p>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>&nbsp;</label><br>
                                                        <button type="button" class="btn btn-default calcdadesanys amagabotons" data-id="{% if RegistreProjecte.1.id is defined %}{{ RegistreProjecte.1.id }}{% else %}0{% endif %}">{{ "Mostrar dades dels anys" | trans}}</button>
                                                    </div>
                                                </div>


                                            </div> 



                                           
                                            

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row campestrategic">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Objectius específics" | trans }}  <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Què és vol aconseguir? Concreten els generals que deriven de l’Objectiu vinculat del PDA. Verbs d’acció concrets, formulats sempre indicant destinatari, quantitat i temps. Quantificables i mesurables. Permeten definir indicadors d’avaluació. Entre 3 i 5 com a màxim"></i>
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    <div style="float: right; margin-right:10px;">
                                                        
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    <div class="col-lg-12">
                                                        <div class="llistat_8"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>


                            <div class="row amagaaconsultes">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Diagrama de GANTT (Activitats)" | trans }}   <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Activitats i fites del projecte amb detall de la seva cronologia: Diagrama de Gantt. Fins a 3 nivells de desenvolupament  per tal d’assolir l’objectiu del projecte: 1.Projecte  2.Fases 3.Tasques. Per a cadascun dels 2 nivells inferiors -fases i tasques- cal definir: nom, descripció, gestor/a, equip de treball, data d’inici i finalització, estat d’execució. Pot incloure, si és necessari, fases diferenciades per al seguiment de: Pla de Comunicació, Pla de Riscos, Pla de Canvi"></i>
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="">
                                                    <ul>

                                                        <li>
                                                            <span><i class="fa fa-folder-open-o"></i> {% if RegistreProjecte.1.titol is defined %}{{ RegistreProjecte.1.titol | raw }}{% endif %}  </span>
                                                            <ul>
                                                                {% if ActuacionsProjecte is not empty %}
                                                                    
                                                                    {% for b in ActuacionsProjecte|sort   %}
                                                                        <li>
                                                                            <span ><button type="button" class="btn btn-default btn-xs amagabotons ediciorel" data-t="1" data-ctf="{{ b.id | raw }}"><i class="fa fa-edit"></i></button> {{ b.titol | raw }}  </span>
                                                                            <ul>
                                                                               
                                                                                {% if TasquesProjecte is not empty %}
                                                                    
                                                                                    {% for c in TasquesProjecte|sort if c.clau_actuacio == b.id  %}

                                                                                        <li>
                                                                                            <span ><button type="button" class="btn btn-default btn-xs amagabotons ediciorel" data-t="2" data-ctf="{{ c.id | raw }}"><i class="fa fa-edit"></i></button> {{ c.titol | raw }} </span>
                                                                                        </li>

                                                                                    {% endfor %}

                                                                                    <div><br></div>

                                                                                {% endif %}
                                                                            

                                                                            </ul>

                                                                        </li>

                                                                    {% endfor %}

                                                                {% endif %}
                                                            </ul>
                                                        </li>

                                                    </ul>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Fites" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Conjunt limitat de dates de referència i d'especial rellevància per al projecte. P.e.: inicis de fases, presentacions institucionals, etc."></i>
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    
                                                </div>

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_45"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row campestrategic">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Matriu de responsabilitats" | trans }}  <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Proposa la interacció entre els diferents implicats i les diferents tasques. Plantilla disponible per la seva complementació"></i>
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    
                                                </div>

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_68"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row campestrategic">
                                <div class="col-lg-12">      
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Pla de riscos" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="dentifica els riscos i el seu nivell, i proposa un pla de contingència en relació a: empreses col·laboradores, persones, tasques, pressupost, cronograma, qualitat, etc."></i>
                                           
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    
                                                </div>

                                                <div class="row">

                                                    <div class="col-lg-12">
                                                        <div class="llistat_63"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                
              
                



                <div id="section5" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">

                            
                            <div class="form-group">
                                <label>{{ "Estat d'execució" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Iniciat, no iniciat, amb dificultats, finalitzat, descartat"></i></label>
                                    
                                {% for d in estatsprojectes %}
                                    {% if RegistreProjecte.1.estat is defined %}{% if RegistreProjecte.1.estat == d.clau %}{{ d.text | raw }} {% endif %}{% endif %}
                                {% endfor %}
                                  
                            </div>

                            <div class="row divtantpercent">

                                <div class="col-lg-3" >
                                    <label>{{ "Grau d'execució del projecte" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="% d’execució global del projecte"></i></label>
                                    <div class="form-group">
                                        <p>{% if RegistreProjecte.1.tantpercent is defined %}{{ RegistreProjecte.1.tantpercent | raw }}{% endif %} %</p>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-12">      
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Observacions i altres comentaris d'interès" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Incidències i/o observacions rellevants per l’execució i seguiment del projecte"></i>
                                           
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    
                                                </div>

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_58"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-12">      
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Indicadors de resultat" | trans }}
                                           
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    
                                                </div>

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_70"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            
                           

                           

        
                        </div>

                    </div>

                </div>

              
                <div id="section6" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">
                                
                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Documentació del projecte" | trans }}    <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Fitxers o URL rellevants per l’execució i seguiment del projecte: presentacions, informes, estudis, memòries, pressupostos..."></i> 
                                            
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                                <div class="row">
                                                    
                                                </div>

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                      <div class="llistat_12"></div>
                                                      <div class="llistat_54"></div>
                                                    </div>

                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                            
                          

                        </div>

                    </div>

                </div>



            </div>

            

    

            </div>

        {% endif %}

        

        
    </form>

    <script src="{{ app.request.basepath }}/js/colors/jquery.simplecolorpicker.js"></script>
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idprojecte").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmprojectes').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmprojectes').removeAttr('checked').removeAttr('selected');
                $("div.errorprojectes span").html("");
                $(".panelldadesprojectes").toggle();

            });


            


            {% if RegistreProjecte.1.id is defined %}

                $(document).off('click',".myTab a").on("click",".myTab a",function(e){
                  e.preventDefault();
                  $(this).tab('show');
                }); 


                {% if RegistreProjecte.1.estrategic is defined %}
                    {% if RegistreProjecte.1.estrategic == 0 %}
                        $(".campestrategic").hide();
                    {% endif %}
                {% endif %}

                

                $(document).off('click',".altresprojectes").on("click",".altresprojectes",function(event){

                      var id = $(this).data( "id" );
                      var t = $(this).data( "t" );
                      var ctf = $(this).data( "ctf" );

                      $("#myModalLabel").html("Altres projectes relacionats als programes.");  
                      
                      $(".mostrarmodal").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                      $(".mostrarmodal").load("{{ app.request.basepath }}/load",{o:30, id:1, c:{'ctf':ctf  } });   


                });

               
                var d1 = "{% if RegistreProjecte.1.inici is defined %}{% if RegistreProjecte.1.inici != "0000-00-00" %}{{ RegistreProjecte.1.inici | date("d/m/Y") }}{% endif %}{% endif %}";
                var d2 = "{% if RegistreProjecte.1.final is defined %}{% if RegistreProjecte.1.final != "0000-00-00" %}{{ RegistreProjecte.1.final | date("d/m/Y") }}{% endif %}{% endif %}";
                $("#dadesanys").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $("#dadesanys").load("{{ app.request.basepath }}/load",{o:9, id:'{{RegistreProjecte.1.id}}', t: 1, c:{d1:d1, d2:d2 } }); 


        

                $(".llistat_8").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_8").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "8", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});


                


                $(".llistat_45").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_45").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "45", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){


                });



                $(".llistat_47").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_47").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "47", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});


                $(".llistat_49").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_49").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "49", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});

                $(".llistat_58").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_58").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "58", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});


               

                $(".llistat_63").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_63").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "63", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});



                $(".llistat_12").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_12").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "12", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}', 'ctf2':'1'}}, function(){});


            

                $(".llistat_54").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_54").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "54", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});


               

                $(".llistat_65").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_65").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "65", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});


               


                $(".llistat_67").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_67").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "67", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});



                $(".llistat_68").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_68").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "68", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){


                });


                
                $(".llistat_70").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_70").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "70", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});


              



            {% endif %}


           {#

            $(".dataTables1, .dataTables2, .dataTables3, .dataTables4").dataTable( {
                "language": {
                    "url": "{{ app.request.basepath }}/js/plugins/dataTables/dataTables.catala.lang"
                }
            } );

             $(".dataTablesequip").dataTable( {
                "language": {
                    "url": "{{ app.request.basepath }}/js/plugins/dataTables/dataTables.catala.lang"
                },
                "order": [[ 0, "desc" ]]
            } );
             #}



            $('.tree li > span').on('click', function (e) {
                
                var children = $(this).parent('li').find(' > ul');
                if (children.is(":visible")) {
                    children.hide('fast');
                } else {
                    children.show('fast');
                }
                e.stopPropagation();
            });

            $('.tree li > span').parent('li').find(' > ul').hide('fast');
            
          
                        

           setTimeout(function () {
                $('html, body').animate({ scrollTop: 0 }, 0);
            }, 10);

      });

  
    </script>



    {% if RegistreProjecte.1.id is defined %}
        {% set titol = "Detalls Projecte" | trans | raw %}
        {% set codi = "modalprojectes" %}
        {% include "formmodal.html" %}

      
    {% endif %} 