    
    <form role="form" action="projnov" method="post" name="frmprojnov" id="frmprojnov">

        <div style="display: none;">
            <input name="idp" value="85" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
            <input name="verif" value="" type="hidden" />
            <input name="id" id="idprojnov" value="{% if RegistreProjectesNov.1.id is defined %}{{ RegistreProjectesNov.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreProjectesNov.1.idx is defined %}{{ RegistreProjectesNov.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 85 %}{{idpx|md5}}" type="hidden" />
            <input name="ctf" value="{{ctf}}" type="hidden" />
        </div>


       
        <div class="col-lg-2">
            <label>{{ "Data" }}</label><br>
            {#
            <input class="form-control datepicker" name="datai" id="datai" placeholder="dd/mm/aaaa" value="{% if RegistreProjectesNov.1.datai is defined %}{% if RegistreProjectesNov.1.datai != "0000-00-00" %}{{ RegistreProjectesNov.1.datai | date("d/m/Y") }}{% endif %}{% endif %}" />#}
            <input type="hidden" name="datai" id="datai" value="{% if RegistreProjectesNov.1.datai is defined %}{% if RegistreProjectesNov.1.datai != "0000-00-00" %}{{ RegistreProjectesNov.1.datai | date("d/m/Y") }}{% endif %}{% else%}{{ "now"|date("d/m/Y") }}{% endif %}" />

            <p>{{ "now"|date("d/m/Y") }}</p>
            <br>
        </div>
        <div class="col-lg-10">
            <label>{{ "Observacions" | trans }}</label>
            <textarea class="form-control textarea_projnov" rows="6" name="descripcio_ca" id="descripcio_ca" >{% if RegistreProjectesNov.1.descripcio_ca is defined %}{{ RegistreProjectesNov.1.descripcio_ca | raw }}{% endif %}</textarea>
        </div>

        
        <div class="form-group">
            <div class="errorprojnov"><span></span></div>
        </div>

        <div class="row">
          <div class="col-lg-12">

               <div id="resultprojnov" class="amagamissatges"></div>

          </div>
        </div>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>

        
    </form>

        
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idprojnov").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmprojnov').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmprojnov').removeAttr('checked').removeAttr('selected');
                $("div.errorprojnov span").html("");
                $(".panelldadesprojnov").toggle();

            });


            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmprojnov").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmprojnov.verif.value = "ok";
                    var stringdades = $("#frmprojnov").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultprojnov").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultprojnov").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.errorprojnov span").html("");
                                    $("#resultprojnov").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idprojnov").val(dades[1]);
                                    $(".modaltancar").click();
                                    $(".llistat_63").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "63", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{ctf}}' }}, function(){});
                                }else{
                                    $("#resultprojnov").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorprojnov span").html(cuadre);
                        $("div.errorprojnov").show();
                    } else {
                        $("div.errorprojnov").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


            $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });

            $(function($){
                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant',
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.regional['ca'] = {
                    closeText: 'Tancar',
                    prevText: '<Ant',
                    nextText: 'Seg>',
                    currentText: 'avui',
                    monthNames: ["Gener", "Febrer", "Març", "Abril", "Maig", "Juny", "Juliol", "Agost", "Setembre", "Octubre", "Novembre", "Desembre"],
                    monthNamesShort: ["Gen", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Des"],
                    dayNames: ["Diumenge", "Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres", "Dissabte"],
                    dayNamesShort: ["Diu",  "Dil", "Dmt", "Dmc", "Dij", "Div", "Dis"],
                    dayNamesMin: ["dg", "dl", "dt", "dc", "dj", "dv", "ds"],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['ca']);
            });

           {# $('.textarea_projnov').wysihtml5(); #}

      });
    </script>