
	{% if o is not defined %}

        <form role="form" action="projectes-origens" method="post" name="frmprojectesorig" id="frmprojectesorig">

        	<div style="display: none;">
        		<input name="idp" value="30" type="hidden" />
                <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
    			<input name="verif" value="" type="hidden" />
    			<input name="id" id="ido" value="{% if RegistreProjectesOrge.1.id is defined %}{{ RegistreProjectesOrge.1.id | raw }}{% endif %}" type="hidden" />
                <input name="idx" id="idx"  value="{% if RegistreProjectesOrge.1.idx is defined %}{{ RegistreProjectesOrge.1.idx | raw }}{% endif %}" type="hidden" />
                <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 30 %}{{idpx|md5}}" type="hidden" />
            </div>

            <div class="form-group">
                <label>{{ "Tipus" | trans }}</label>
                <select class="form-control required nivell" name="nivell" >
                    <option value="" {% if RegistreProjectesOrge.1.nivell is defined %}{% if RegistreProjectesOrge.1.nivell == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                    
                    <option value="1" {% if RegistreProjectesOrge.1.nivell is defined %}{% if RegistreProjectesOrge.1.nivell == 1 %}selected{% endif %}{% endif %}>{{ "Centres"|trans}}</option>
                    <option value="2" {% if RegistreProjectesOrge.1.nivell is defined %}{% if RegistreProjectesOrge.1.nivell == 2 %}selected{% endif %}{% endif %}>{{ "Serveis"|trans}}</option>
                    <option value="3" {% if RegistreProjectesOrge.1.nivell is defined %}{% if RegistreProjectesOrge.1.nivell == 3 %}selected{% endif %}{% endif %}>{{ "Àmbit"|trans}}</option>
                     

                </select>
            </div>

            <div class="vinculacio2">

            </div>

            <div class="form-group">
                <label>{{ "Nom" | trans }}</label>
                <input class="form-control required" name="titol_ca" id="titol_ca" value="{% if RegistreProjectesOrge.1.titol is defined %}{{ RegistreProjectesOrge.1.titol | raw }}{% endif %}">
            </div>

            <div class="form-group">
                <label>{{ "Acrònim" | trans }}</label>
                <input class="form-control required acronim" name="acronim" id="acronim" value="{% if RegistreProjectesOrge.1.acronim is defined %}{{ RegistreProjectesOrge.1.acronim | raw }}{% endif %}">
            </div>


            <div class="panel panel-primary amagaaconsultes"> 

                <div class="panel-body"> 
                    
                    <style type="text/css">
                            #mapa {height:400px;width:100%;}
                          }
                          .controls {
                            margin-top: 10px;
                            border: 1px solid transparent;
                            border-radius: 2px 0 0 2px;
                            box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            height: 32px;
                            outline: none;
                            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                          }

                          #pac-input {
                            background-color: #fff;
                            font-family: Roboto;
                            font-size: 15px;
                            font-weight: 300;
                            margin-left: 12px;
                            padding: 0 11px 0 13px;
                            text-overflow: ellipsis;
                            width: 500px;
                            top: 10px !important;
                          }

                          #pac-input:focus {
                            border-color: #4d90fe;
                          }

                          .pac-container {
                            font-family: Roboto;
                          }

                          #type-selector {
                            color: #fff;
                            background-color: #4d90fe;
                            padding: 5px 11px 0px 11px;
                          }

                          #type-selector label {
                            font-family: Roboto;
                            font-size: 13px;
                            font-weight: 300;
                          }
                    </style>

                    <div class="form-group">
                        <label>{{ "Adreça postal" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="determina el lloc exacte o aproximat en què es desenvolupa l'acció."></i></label>
                        <input type="hidden" name="coordenades" id="coordenades" value="{% if RegistreProjectesOrge.1.lat is defined %}{{ RegistreProjectesOrge.1.lat | raw }},{{ RegistreProjectesOrge.1.lng | raw }}{% endif %}">
                        <input class="form-control controls" name="adreca" id="pac-input" placeholder="Escriu l'adreça" value="{% if RegistreProjectesOrge.1.adreca is defined %}{{ RegistreProjectesOrge.1.adreca | raw }}{% endif %}">
                        <input type="hidden" name="type" id="changetype-all" checked="checked">
                        <div id="mapa"></div>
                    </div>

                </div>

            </div>

            <div class="form-group">
                <label>{{ "Telèfon genèric de contacte" | trans }}</label>
                <input class="form-control required" name="telefon" id="telefon" value="{% if RegistreProjectesOrge.1.telefon is defined %}{{ RegistreProjectesOrge.1.telefon | raw }}{% endif %}">
            </div>

            <div class="form-group">
                <label>{{ "Email genèric de contacte" | trans }}</label>
                <input class="form-control required" name="email" id="email" value="{% if RegistreProjectesOrge.1.email is defined %}{{ RegistreProjectesOrge.1.email | raw }}{% endif %}">
            </div>

            <div class="form-group">
                <label>{{ "Web" | trans }}</label>
                <input class="form-control required" name="web" id="web" value="{% if RegistreProjectesOrge.1.web is defined %}{{ RegistreProjectesOrge.1.web | raw }}{% endif %}">
            </div>

            <div class="form-group">
                <label>{{ "Observacions" | trans }}</label>
                <textarea class="form-control" rows="6" name="descripcio_ca" id="descripcio_ca" >{% if RegistreProjectesOrge.1.descripcio is defined %}{{ RegistreProjectesOrge.1.descripcio | raw }}{% endif %}</textarea>
            </div>


            <div class="form-group">
                <label>{{ "Actiu" | trans }}</label>
                <div class="checkbox-inline">
                  <label>
                    <input name="estat" value="1" type="checkbox"  {% if RegistreProjectesOrge.1.estat is defined %}{% if RegistreProjectesOrge.1.estat == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} />
                  </label>
                </div>
            </div>

            <div class="form-group">
            	<div class="errorprojectesorig"><span></span></div>
            </div>

            <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
            <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>
            
        </form>

       <script type="text/javascript">
          $(document).ready(function($) {

                 $(document).on("change",".nivell",function(event){


                    var opcio = $(this).val();
                    
                    var id = '{% if RegistreProjectesOrge.1.parent_id is defined %}{{RegistreProjectesOrge.1.parent_id}}{% else %}0{% endif %}';

                    if (opcio == 1) id = $("#ido").val();
                  
                    $(".vinculacio2").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                    $(".vinculacio2").load("{{ app.request.basepath }}/load",{o:31, id:id, t: '',c:{n:opcio}});   
                  


                });

                {% if RegistreProjectesOrge.1.nivell is defined %}

                    var opcio = '{{RegistreProjectesOrge.1.nivell}}';
                    var id = '{% if RegistreProjectesOrge.1.parent_id is defined %}{{RegistreProjectesOrge.1.parent_id}}{% else %}0{% endif %}';

                    if (opcio == 1) id = '{{RegistreProjectesOrge.1.id}}';
                  
                    $(".vinculacio2").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                    $(".vinculacio2").load("{{ app.request.basepath }}/load",{o:31, id:id, t: '',c:{n:'{{RegistreProjectesOrge.1.nivell}}' } });   


                    {% if RegistreProjectesOrge.1.nivell == 3 %}

                        $(".acronim").prop('readOnly', true);

                    {% endif %}


                    function initMap() {

                         var lati = 41.4481989;
                         var lngi = 2.2371684;

                         var markersArray = [];


                         {# si ja tinc coordenades #}
                         {% if RegistreProjectesOrge.1.lat !=  "" %}
                             lati = {{RegistreProjectesOrge.1.lat}};
                             lngi = {{RegistreProjectesOrge.1.lng}};
                             var myLatLng = {lat: lati, lng: lngi};
                         {% endif %}

                         var map = new google.maps.Map(document.getElementById('mapa'), {
                           center: {lat: lati, lng: lngi},
                           zoom: 13
                         });

                         

                         var input = /** @type {!HTMLInputElement} */(
                             document.getElementById('pac-input'));

                         var types = document.getElementById('type-selector');
                         map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                         map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

                         var autocomplete = new google.maps.places.Autocomplete(input);
                         autocomplete.bindTo('bounds', map);

                         var infowindow = new google.maps.InfoWindow();
                         var marker = new google.maps.Marker({
                           map: map,
                           {% if RegistreProjectesOrge.1.lat !=  "" %}
                             position: myLatLng,
                           {% endif%}
                           anchorPoint: new google.maps.Point(0, -29)
                         });

                         autocomplete.addListener('place_changed', function() {
                           infowindow.close();
                           deleteOverlays();

                           marker.setVisible(false);

                           var place = autocomplete.getPlace();
                           if (!place.geometry) {
                             window.alert("Autocomplete's returned place contains no geometry");
                             return;
                           }

                           // If the place has a geometry, then present it on a map.
                           if (place.geometry.viewport) {
                             map.fitBounds(place.geometry.viewport);
                           } else {
                             map.setCenter(place.geometry.location);
                             map.setZoom(17);  // Why 17? Because it looks good.
                           }
                           marker.setIcon(/** @type {google.maps.Icon} */({
                             url: place.icon,
                             size: new google.maps.Size(71, 71),
                             origin: new google.maps.Point(0, 0),
                             anchor: new google.maps.Point(17, 34),
                             scaledSize: new google.maps.Size(35, 35)
                           }));
                           $("#coordenades").val(place.geometry.location);
                           marker.setPosition(place.geometry.location);
                           marker.setVisible(true);

                           var address = '';
                           if (place.address_components) {
                             address = [
                               (place.address_components[0] && place.address_components[0].short_name || ''),
                               (place.address_components[1] && place.address_components[1].short_name || ''),
                               (place.address_components[2] && place.address_components[2].short_name || '')
                             ].join(' ');
                           }

                           infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                           infowindow.open(map, marker);
                         });

                         // Sets a listener on a radio button to change the filter type on Places
                         // Autocomplete.
                         function setupClickListener(id, types) {
                           var radioButton = document.getElementById(id);
                           radioButton.addEventListener('click', function() {
                             autocomplete.setTypes(types);
                           });
                         }

                         setupClickListener('changetype-all', []);


                         // Permetre marcar punts al mapa.
                         google.maps.event.addListener(map, 'click', function(event) {
                            placeMarker(event.latLng);
                         });

                         function placeMarker(location) {

                             deleteOverlays();

                             $("#coordenades").val(location);

                             var marker = new google.maps.Marker({
                                 position: location, 
                                 map: map
                             });

                             // add marker in markers array
                             markersArray.push(marker);

                             //map.setCenter(location);
                         }

                         // Deletes all markers in the array by removing references to them
                         function deleteOverlays() {
                             marker.setVisible(false); // Punter del autocomplete.
                             if (markersArray) {
                                 for (i in markersArray) {
                                     markersArray[i].setMap(null);
                                 }
                             markersArray.length = 0;
                             }
                         }
                    }

                    initMap();

                {% endif %}


                jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
                $("#frmprojectesorig").validate({
                    errorElement: "em",
                    errorPlacement: function(error, element) {
                        error.appendTo( element.parent("div") );
                    },
                    success: function(label) {
                        //label.text("ok!").addClass("success");
                    },
                    //errorLabelContainer: $("div.error"),
                    submitHandler: function(form) {
                        document.frmprojectesorig.verif.value = "ok";
                        var stringdades = $("#frmprojectesorig").serialize();
                            $.ajax({
                                type: "POST",
                                url: "{{ app.request.basepath }}/guardar",
                                data: stringdades,
                                beforeSend:function(){
                                    $("#resultprojectesorig").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    // Error.
                                },
                                success: function(data){
                                    $("#resultprojectesorig").html(data);
                                    var dades = jQuery.parseJSON(data);
                                    if (dades[0] == 1){
                                        $("div.errorprojectesorig span").html("");
                                        $("#resultprojectesorig").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                        $("#ido").val(dades[1]);
                                        $(".panelldadesprojectesorig").toggle();
                                       
                                        $(".llistat_16").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "16"}, function(){
                        
                                        });
                                    }else{
                                        $("#resultprojectesorig").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                    }
                                }
                            });
                        return false;
                    },
                    invalidHandler: function(e, validator) {
                        var errors = validator.numberOfInvalids();
                        if (errors) {
                            var message = errors == 1
                                ? "Has oblidat 1 camp."
                                : "Has oblidat " + errors + " camps. ";

                            var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                            $("div.errorprojectesorig span").html(cuadre);
                            $("div.errorprojectesorig").show();
                        } else {
                            $("div.errorprojectesorig").hide();
                        }
                    },
                    onkeyup: false,
                    debug:true
                });

                jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                    return value != element.defaultValue;
                }, "");

          });
        </script>
    
    {% else %}

        {% if o == 2 %}

            <div class="form-group">
                <label>{{ "Vinculació relacionada." | trans }}</label>
                <select class="form-control required" name="parent_id" >
                  <option value="" {% if RegistreProjectesOrge.1.parent_id is defined %}{% if RegistreProjectesOrge.1.parent_id == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                    
                    {% for d in RegistreProjectesOrge %}
                        <option value="{{ d.id }}" {% if parent_id is defined %}{% if parent_id == d.id %}selected{% endif %}{% endif %}>{{ d.titol | raw }}</option>
                    {% endfor %}
                  
                </select>
            </div>


        {% elseif o == 1 %}

            <div class="row amagaaconsultes">
                <div class="col-lg-12">        
                    
                    <div class="panel panel-primary">

                        <div class="panel-heading">{{ "Vinculació estratègica (PDA)" | trans }}  
                        </div>
                        <div class="panel-body">
                            
                            <div class="form-group">

                                <div class="tree well">
                                    <ul>

                                        {# preparar array respostes triades. #}

                                        {% if RegistreProjectesOrge.1.id is defined %}
                                             {% set vinculacio = RegistreProjectesOrge.1.vinculacio|replace({'"': '','[':'',']':''}) %}
                                             {% set vinculacio = vinculacio|split(',') %}

                                        {% endif %}
                                      
                                        {% if Vinculacio is not empty %}

                                            {% for d in Vinculacio if (d.nivell == 1) %}

                                                <li>
                                                    <span class="vinculacio_{{d.id}}"><i class="fa fa-folder-open-o"></i> {{d.titol|raw}}  <input type="checkbox" class="eix"  name="vinculacio[]" value="{{d.id}}" {% if RegistreProjectesOrge.1.id is defined %}{% if d.id in vinculacio  %}checked=true{% endif %}{% endif %} /></span>
                                                    <ul>
                                                        {% for b in Vinculacio|sort if (b.nivell == 2)  %}
                                                            
                                                            {% set parents_ids = "" %}
                                                            {% if b.parents_ids is defined %}
                                                                 {% set parents_ids = b.parents_ids|replace({'"': '','[':'',']':''}) %}
                                                                 {% set parents_ids = parents_ids|split(',') %}
                                                            {% endif %}

                                                            {% if b.parent_id == d.id or d.id in parents_ids  %}

                                                                <li>
                                                                    <span class="vinculacio_{{b.id}}"><i class="fa fa-folder-open-o"></i> {{b.titol|raw}} <input type="checkbox" class="linia" data-eix="{{d.id}}"  name="vinculacio[]" value="{{d.id}}_{{b.id}}" {% if RegistreProjectesOrge.1.id is defined %}{% if d.id~'_'~b.id in vinculacio  %}checked=true{% endif %}{% endif %} /></span>
                                                                    <ul>
                                                                        {% for c in Vinculacio if (c.nivell == 3) and (c.parent_id == b.id) %}

                                                                            <li>
                                                                                <span class="vinculacio_{{c.id}}"><i class="fa fa-folder-open-o"></i> {{c.titol|raw}} <input type="checkbox" class="ambit" name="vinculacio[]" data-linia="{{b.id}}" data-eix="{{d.id}}" name="vinculacio[]" value="{{d.id}}_{{c.id}}" {% if RegistreProjectesOrge.1.id is defined %}{% if d.id~'_'~c.id in vinculacio  %}checked=true{% endif %}{% endif %} /></span>

                                                                            
                                                                                <ul>
                                                                                    {% for e in Vinculacio if (e.nivell == 4) and (e.parent_id == c.id) and (e.clau_eix == b.id) and (e.clau_pam == d.id) %}

                                                                                        <li>
                                                                                            <span class="vinculacio_{{e.id}}"><i class="fa fa-tags"></i> {{e.titol|raw}} <input type="checkbox"  class="actuacio" data-ambit="{{c.id}}" data-linia="{{b.id}}" data-eix="{{d.id}}" name="vinculacio[]" value="{{d.id}}_{{e.id}}" {% if RegistreProjectesOrge.1.id is defined %}{% if d.id~'_'~e.id in vinculacio  %}checked=true{% endif %}{% endif %} /></span>

                                                                                        </li>

                                                                                    {% endfor %}
                                                                                </ul>
                                                                                
                                                                            </li>

                                                                        {% endfor %}
                                                                    </ul>

                                                                </li>

                                                            {% endif %}

                                                        {% endfor %}
                                                    </ul>
                                                </li>

                                            {% endfor %}

                                        {% endif %}
                                    </ul>

                                </div>

                            </div>

                        </div>
                    </div>
                   
                </div>
            </div>

            <script type="text/javascript">
                
                $("input[name='vinculacio[]']").change(function () {
                    $(this).parent('span').siblings('ul')
                        .find("input[type='checkbox']")
                        .prop('checked', this.checked);
                });

                $('.actuacio').change(function () {


                    // Marcar nivells superiors
                    if ($(this).is(":checked")) {

                        var ambit = $(this).data("ambit");
                        var linia = $(this).data("linia");
                        var eix = $(this).data("eix");

                        $(".vinculacio_"+ambit).find('.ambit').prop('checked', true);
                        $(".vinculacio_"+linia).find('.linia').prop('checked', true);
                        $(".vinculacio_"+eix).find('.eix').prop('checked', true);
                    
                        
                    }else{
                        var ambit = $(this).data("ambit");
                        var linia = $(this).data("linia");
                        var eix = $(this).data("eix");

                        $(".vinculacio_"+ambit).find('.ambit').prop('checked', false);
                        $(".vinculacio_"+linia).find('.linia').prop('checked', false);
                        $(".vinculacio_"+eix).find('.eix').prop('checked', false);
                    }

                 
                    
                });

                $('.ambit').change(function () {

                   
                    // Marcar nivells superiors
                    if ($(this).is(":checked")) {
                       
                        var linia = $(this).data("linia");
                        var eix = $(this).data("eix");

                        $(".vinculacio_"+linia).find('.linia').prop('checked', true);
                        $(".vinculacio_"+eix).find('.eix').prop('checked', true);

                        
                    }else{
                        var linia = $(this).data("linia");
                        var eix = $(this).data("eix");

                        $(".vinculacio_"+linia).find('.linia').prop('checked', false);
                        $(".vinculacio_"+eix).find('.eix').prop('checked', false);
                    }

                 
                    
                });

                $('.linia').change(function () {

                   
                    // Marcar nivells superiors
                    if ($(this).is(":checked")) {
                       
                        var eix = $(this).data("eix");

                        $(".vinculacio_"+eix).find('.eix').prop('checked', true);

                        
                    }else{
                        var eix = $(this).data("eix");

                        $(".vinculacio_"+eix).find('.eix').prop('checked', false);
                    }

                 
                    
                });


                $('.tree li > span').on('click', function (e) {
                    
                    var children = $(this).parent('li').find(' > ul');
                    if (children.is(":visible")) {
                        children.hide('fast');
                    } else {
                        children.show('fast');
                    }


                    //e.stopPropagation();
                });



                $('.tree li > span').parent('li').find(' > ul').hide('fast');

               
                /*
                $(":checkbox").change(function () {
                    $(this).children(':checkbox').attr('checked', this.checked);
                });
                */

                {% if RegistreProjectesOrge.1.id is defined %}

                    {% set vinculacio = RegistreProjectesOrge.1.vinculacio|replace({'"': '','[':'',']':''}) %}
                    {% set vinculacio = vinculacio|split(',') %}

                    {% if vinculacio is iterable %}
                        {% for d in vinculacio %}
                            {% set vinc = d|split('_') %}
                            {% if vinc.0 is defined %} $(".vinculacio_{{vinc.0}}").parent('li').find(' > ul').show('fast'); {% endif %}
                            {% if vinc.1 is defined %} 
                                $(".vinculacio_{{vinc.1}}").parent('li').find(' > ul').show('fast'); 
                                {#
                                {% for v in Vinculacio if v.id == vinc.1 %}
                                    $(".vinculacio_{{v.parent_id}}").parent('li').find(' > ul').show('fast'); 
                                {% endfor %}
                                #}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endif %}

            </script>

        {% endif %}

    {% endif %}