{% extends "base.html" %}

{% block title %}
  {{ headerTitle }}
{% endblock %}

{% block styles %}

	<link href="{{ app.request.basepath }}/css/plugins/dataTables/jquery.dataTables.min.css" rel="stylesheet">

{% endblock %}

{% block js %}

  <script src="{{ app.request.basepath }}/js/plugins/dataTables/jquery.dataTables.min.js"></script>

  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/jquery.fancybox.css?v=2.1.5" media="screen" />
  <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>
  <script type="text/javascript">
      $(document).ready(function($) {

        {{ js|raw }}

      });
  </script>
   
{% endblock %}


{% block nus %}


    <div class="row">
          <div class="col-lg-12">
            <h1><small>{{ Pagines.titol | raw }} </small></h1>
            {#
            <ol class="breadcrumb">
              <li><a href="{{ app.request.basepath }}/index.html"><i class="fa fa-dashboard"></i> {{ "Inici" | trans }}</a></li>
          	  <li class="active"><i class="fa fa-edit"></i> {{ Pagines.titol | raw }}</li>
            </ol>
            #}
          </div>
    </div><!-- /.row -->


{% endblock %}


{% block content %}

	<div class="row">
		<div class="col-lg-12">
			<p>
				<button class="btn btn-success nou" type="submit">{{ "Nova" | trans }}</button>
			</p>
		</div>
	</div>

    <div class="row panelldades panelldadesprojectesvinc" style="display:none;">
        <div class="col-lg-12">

            <div class="panel panel-default">
                <div class="panel-body" id="divcamps">

                    {% include "projectes-vinculacioform.html" %}

                </div>
            </div>

        </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-lg-12">
        <div id="resultprojectesvinc" class="amagamissatges"></div>
      </div>
    </div>



  <div class="row">
    
    <div class="col-lg-12">
      <div class="llistat_10 llistatprojectesvinc"></div>
    </div>

  </div>


{% endblock %}