    
    <form role="form" action="url" method="post" name="frmurl" id="frmurl">

        <div style="display: none;">
            <input name="idp" value="75" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
            <input name="verif" value="" type="hidden" />
            <input name="id" id="idindicador" value="{% if RegistreURL.1.id is defined %}{{ RegistreURL.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreURL.1.idx is defined %}{{ RegistreURL.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 75 %}{{idpx|md5}}" type="hidden" />
            <input name="ctf" value="{{ctf}}" type="hidden" />
        </div>


        <div class="form-group">
            <label>{{ "URL" | trans }}</label>
            <input class="form-control" name="titol_ca" id="titol_ca" value="{% if RegistreURL.1.titol_ca is defined %}{{ RegistreURL.1.titol_ca | raw }}{% endif %}" />
        </div>
        <div class="form-group">
            <label>{{ "Descripció" | trans }}</label>
            <textarea class="form-control" rows="6" name="descripcio_ca" id="descripcio_ca" >{% if RegistreURL.1.descripcio_ca is defined %}{{ RegistreURL.1.descripcio_ca | raw }}{% endif %}</textarea>
        </div>

        <div class="form-group">
            <div class="errorurl"><span></span></div>
        </div>

        <div class="row">
          <div class="col-lg-12">

               <div id="resulturl" class="amagamissatges"></div>

          </div>
        </div>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>

        
    </form>

        
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idindicador").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmurl').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmurl').removeAttr('checked').removeAttr('selected');
                $("div.errorurl span").html("");
                $(".panelldadesurl").toggle();

            });


            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmurl").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmurl.verif.value = "ok";
                    var stringdades = $("#frmurl").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resulturl").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resulturl").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.errorurl span").html("");
                                    $("#resulturl").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idindicador").val(dades[1]);
                                    $(".modaltancar").click();
                                    $(".llistat_54").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "54", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{ctf}}' }}, function(){});
                                }else{
                                    $("#resulturl").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorurl span").html(cuadre);
                        $("div.errorurl").show();
                    } else {
                        $("div.errorurl").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


      });
    </script>