    
    <form role="form" action="fites" method="post" name="frmfites" id="frmfites">

        <div style="display: none;">
            <input name="idp" value="91" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
            <input name="verif" value="" type="hidden" />
            <input name="id" id="idfita" value="{% if RegistreResp.1.id is defined %}{{ RegistreResp.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreResp.1.idx is defined %}{{ RegistreResp.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 91 %}{{idpx|md5}}" type="hidden" />
            <input name="ctf" value="{{ctf}}" type="hidden" />
        </div>


        <div class="form-group col-lg-12">
            <label>{{ "Nom responsable" | trans }}<span style="color:red;"> *</span></label>
            <input class="form-control" name="responsable" id="responsable_matriu" value="{% if RegistreArea.1.responsable is defined %}{{ RegistreArea.1.responsable | raw }}{% endif %}" />
            {#
            <select class="form-control required" name="responsable" >
              <option value="" {% if RegistreResp.1.responsable is defined %}{% if RegistreResp.1.responsable == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                
                {% for d in Usuaris if d.clau_permisos == 1 or d.clau_permisos == 2 %}
                    <option value="{{ d.id }}" {% if RegistreResp.1.responsable is defined %}{% if RegistreResp.1.responsable == d.id %}selected{% endif %}{% endif %}>{{ d.cognoms | raw }}, {{ d.nom | raw }}</option>
                {% endfor %}
              
            </select>
            #}
        </div>
       
        <div class="col-lg-12">
            <label>{{ "Rol" | trans }}</label>
            <textarea class="form-control textarea_fites" rows="6" name="titol_ca" id="titol_ca" >{% if RegistreResp.1.titol_ca is defined %}{{ RegistreResp.1.titol_ca | raw }}{% endif %}</textarea>

        </div>

        <div class="col-lg-12">
            <label>{{ "Funcions" | trans }}</label>
            <textarea class="form-control textarea_fites" rows="6" name="descripcio_ca" id="descripcio_ca" >{% if RegistreResp.1.descripcio_ca is defined %}{{ RegistreResp.1.descripcio_ca | raw }}{% endif %}</textarea>

        </div>
       

        <div class="col-lg-12">
            <label>{{ "Responsabilitat" | trans }}</label>
            <textarea class="form-control textarea_fites" rows="6" name="observacionsfita" id="observacionsfita" >{% if RegistreResp.1.observacionsfita is defined %}{{ RegistreResp.1.observacionsfita | raw }}{% endif %}</textarea>

        </div>
        

        <div class="form-group">
            <div class="errorfites"><span></span></div>
        </div>

        <div class="row">
          <div class="col-lg-12">

               <div id="resultfites" class="amagamissatges"></div>

          </div>
        </div>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>

        
    </form>

        
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idfita").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmfites').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmfites').removeAttr('checked').removeAttr('selected');
                $("div.errorfites span").html("");
                $(".panelldadesfites").toggle();

            });

            $.post("../load",{o:44, id:1,c:{ctf:{{ctf}}} }, function(result){

                var availableTags = result;
                if (result != "")
                {
                  var availableTags = JSON.parse(availableTags);
                  $("#responsable_matriu").attr("READONLY", false); 
                }
                else
                {
                    $("#responsable_matriu").attr("READONLY", true);
                }
                
                $("#responsable_matriu").autocomplete({
                    minLength: 1,
                    source: availableTags,
                   
                    select: function (event, ui) {
                        $("#responsable_matriu").val(ui.item.nom);
                        return false; 
                    },
                   
                   
                });

                $( "#responsable_matriu" ).autocomplete( "option", "appendTo", "#modalprojectes" );



            });


            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmfites").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmfites.verif.value = "ok";
                    var stringdades = $("#frmfites").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultfites").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultfites").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.errorfites span").html("");
                                    $("#resultfites").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idfita").val(dades[1]);
                                    $(".modaltancar").click();
                                    $(".llistat_68").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "68", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{ctf}}' }}, function(){});
                                }else{
                                    $("#resultfites").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorfites span").html(cuadre);
                        $("div.errorfites").show();
                    } else {
                        $("div.errorfites").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


           

           {# $('.textarea_fites').wysihtml5();#}

      });
    </script>