
    {% if o is not defined %}

        <form role="form" action="projectes-vinculacio" method="post" name="frmprojectesvinc" id="frmprojectesvinc">

            <div style="display: none;">
                <input name="idp" value="24" type="hidden" />
                <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
                <input name="verif" value="" type="hidden" />
                <input name="id" id="idv" value="{% if RegistreVinculacio.1.id is defined %}{{ RegistreVinculacio.1.id | raw }}{% endif %}" type="hidden" />
                <input name="idx" id="idx"  value="{% if RegistreVinculacio.1.idx is defined %}{{ RegistreVinculacio.1.idx | raw }}{% endif %}" type="hidden" />
                <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 24 %}{{idpx|md5}}" type="hidden" />
            </div>

            <div class="form-group">
                <label>{{ "Nivell" | trans }}</label>
                <select class="form-control required nivell" name="nivell" >
                    <option value="" {% if RegistreVinculacio.1.nivell is defined %}{% if RegistreVinculacio.1.nivell == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                    
                    <option value="1" {% if RegistreVinculacio.1.nivell is defined %}{% if RegistreVinculacio.1.nivell == 1 %}selected{% endif %}{% endif %}>{{ "PDA"|trans}}</option>
                    <option value="2" {% if RegistreVinculacio.1.nivell is defined %}{% if RegistreVinculacio.1.nivell == 2 %}selected{% endif %}{% endif %}>{{ "LÍNIA ESTRATÈGICA"|trans}}</option>
                    <option value="3" {% if RegistreVinculacio.1.nivell is defined %}{% if RegistreVinculacio.1.nivell == 3 %}selected{% endif %}{% endif %}>{{ "ÀMBIT DE RESULTAT"|trans}}</option>
                    <option value="4" {% if RegistreVinculacio.1.nivell is defined %}{% if RegistreVinculacio.1.nivell == 4 %}selected{% endif %}{% endif %}>{{ "OBJECTIU"|trans}}</option>                     
                </select>
            </div>

            <div class="vinculacio2">

            </div>

            <div class="form-group">
                <label>{{ "Nom de la Definició/Denominació" | trans }}</label>
                <input class="form-control required" name="titol_ca" id="titol_ca" value="{% if RegistreVinculacio.1.titol is defined %}{{ RegistreVinculacio.1.titol | raw }}{% endif %}">
            </div>


            <div class="checkbox">
              <label><input name="estat" value="1" type="checkbox"  {% if RegistreVinculacio.1.estat is defined %}{% if RegistreVinculacio.1.estat == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} />{{ "Actiu" | trans }}</label>
            </div>


            <div class="form-group">
                <div class="errorprojectesvinc"><span></span></div>
            </div>

            <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
            <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>
            
        </form>

        <script type="text/javascript">
          $(document).ready(function($) {

                $(document).off('change',".nivell").on("change",".nivell",function(event){

                
                    var opcio = $(this).val();
                    if (opcio == 2 || opcio == 3 || opcio == 4)
                    {
                        var id = '{% if RegistreVinculacio.1.parent_id is defined %}{{RegistreVinculacio.1.parent_id}}{% else %}0{% endif %}';
                        var idf = $("#idv").val();
                      
                        $(".vinculacio2").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                        $(".vinculacio2").load("{{ app.request.basepath }}/load",{o:12, id:id, t: '',c:{opcio:opcio,idf:idf} });   
                    }
                    else
                    {
                        $(".vinculacio2").html("");
                    }
                      


                });

                {% if RegistreVinculacio.1.nivell is defined %}
                    {% if RegistreVinculacio.1.nivell == 2 or RegistreVinculacio.1.nivell == 3 or RegistreVinculacio.1.nivell == 4 %}

                        var opcio = $(".nivell").val();
                        var id = '{% if RegistreVinculacio.1.parent_id is defined %}{{RegistreVinculacio.1.parent_id}}{% else %}0{% endif %}';
                        var idf = '{{RegistreVinculacio.1.id}}';
                      
                        $(".vinculacio2").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                        $(".vinculacio2").load("{{ app.request.basepath }}/load",{o:12, id:id, t: '', c:{opcio:opcio,idf:idf} });   


                    {% endif %}
                {% endif %}


                jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
                $("#frmprojectesvinc").validate({
                    errorElement: "em",
                    errorPlacement: function(error, element) {
                        error.appendTo( element.parent("div") );
                    },
                    success: function(label) {
                        //label.text("ok!").addClass("success");
                    },
                    //errorLabelContainer: $("div.error"),
                    submitHandler: function(form) {
                        document.frmprojectesvinc.verif.value = "ok";
                        var stringdades = $("#frmprojectesvinc").serialize();
                            $.ajax({
                                type: "POST",
                                url: "{{ app.request.basepath }}/guardar",
                                data: stringdades,
                                beforeSend:function(){
                                    $("#resultprojectesvinc").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                                },
                                error: function(jqXHR, textStatus, errorThrown){
                                    // Error.
                                },
                                success: function(data){
                                    $("#resultprojectesvinc").html(data);
                                    var dades = jQuery.parseJSON(data);
                                    if (dades[0] == 1){
                                        $("div.errorprojectesvinc span").html("");
                                        $("#resultprojectesvinc").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                        $("#idv").val(dades[1]);
                                        $(".panelldadesprojectesvinc").toggle();
                                        var idoe = $("#idoe").val();
                                       
                                        $(".llistat_10").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "10"}, function(){
                        
                                        });
                                    }else{
                                        $("#resultprojectesvinc").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                    }
                                }
                            });
                        return false;
                    },
                    invalidHandler: function(e, validator) {
                        var errors = validator.numberOfInvalids();
                        if (errors) {
                            var message = errors == 1
                                ? "Has oblidat 1 camp."
                                : "Has oblidat " + errors + " camps. ";

                            var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                            $("div.errorprojectesvinc span").html(cuadre);
                            $("div.errorprojectesvinc").show();
                        } else {
                            $("div.errorprojectesvinc").hide();
                        }
                    },
                    onkeyup: false,
                    debug:true
                });

                // a custom method making the default value for companyurl ("http://") invalid, widvhout displaying the "invalid url" message
                jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                    return value != element.defaultValue;
                }, "");

          });
        </script>

    {% else %}
        
        {% if o != 2 and o != 4 and o != 10 %}

            <div class="form-group">
                <label>{{ "Vinculació relacionada." | trans }}</label>
                <select class="form-control required" name="parent_id" >
                  <option value="" {% if RegistreVinculacio.1.parent_id is defined %}{% if RegistreVinculacio.1.parent_id == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                    
                    {% for d in RegistreVinculacio %}
                        <option value="{{ d.id }}" {% if parent_id is defined %}{% if parent_id == d.id %}selected{% endif %}{% endif %}>{{ d.titol | raw }}</option>
                    {% endfor %}
                  
                </select>
            </div>
        
        {% elseif o == 2 %}
        
            
                                            
            <div class="form-group">

                <div class="table-responsive"  style="overflow: hidden !important;">
                <table class="table table-striped table-bordered table-hover dataTables">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Vinculació/ns relacionada/es.</th>
                        </tr>
                    </thead>   
                    <tbody>
                       

                        {% for d in RegistreVinculacio %}
                            <tr class="odd">
                                <td>
                                    <input name="parents_ids[]" class="required" value="{{ d.id }}" type="checkbox" {% if d.id in parents_ids %}checked="true"{% endif %} />
                                </td>
                                <td>
                                    {{ d.titol | raw }}
                                </td>
                            </tr> 
                        {% endfor %}
                          
                    </tbody>
                </table>
                </div>

            </div>


        {% elseif o == 4 %}
        
            
                                            
            <div class="form-group">
                <label>{{ "PDA" | trans }}</label>
                <select class="form-control required nivellpam" name="parent_pam" data-id="{{idf}}" >
                  <option value="" {% if RegistreVinculacio.1.parent_id is defined %}{% if RegistreVinculacio.1.parent_id == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                    
                    {% for d in RegistreVinculacioPAM %}
                        <option value="{{ d.id }}" {% if parent_pam is defined %}{% if parent_pam == d.id %}selected{% endif %}{% endif %}>{{ d.titol | raw }}</option>
                    {% endfor %}
                  
                </select>
            </div>

            <div class="vinculaciopam">

            </div>

            <script type="text/javascript">
                $(document).ready(function($) {

                    $(document).off('change',".nivellpam").on("change",".nivellpam",function(event){

                        var id = $('.nivellpam').val();
                        var idf = $(this).data('id');

                        $(".vinculaciopam").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                        $(".vinculaciopam").load("{{ app.request.basepath }}/load",{o:12, id:id, t: '',c:{opcio:10,idf:idf} });   
                  

                    });

                    $('.nivellpam').change();
                });
            </script>

        
        {% elseif o == 10 %}

            <div class="form-group">
                <label>{{ "Línia relacionada" | trans }}</label>
                <select class="form-control required nivelleix" name="parent_eix" data-id="{{idf}}">
                  <option value="" {% if RegistreVinculacio.1.parent_id is defined %}{% if RegistreVinculacio.1.parent_id == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                    
                    {% for d in RegistreVinculacio %}
                        <option value="{{ d.id }}" {% if parent_eix is defined %}{% if parent_eix == d.id %}selected{% endif %}{% endif %}>{{ d.titol | raw }}</option>
                    {% endfor %}
                  
                </select>
            </div>

            <div class="vinculacioeix">

            </div>

            <script type="text/javascript">
                $(document).ready(function($) {

                    $(document).off('change',".nivelleix").on("change",".nivelleix",function(event){

                        var id = $('.nivelleix').val();
                       var idf = $(this).data('id');
                      
                        $(".vinculacioeix").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                        $(".vinculacioeix").load("{{ app.request.basepath }}/load",{o:12, id:id, t: '',c:{opcio:11, idf:idf} });   
                  

                    });

                    $('.nivelleix').change();
                });
            </script>
        

        {% endif %}


    {% endif %}
