    
  
    <form role="form" action="projectes" method="post" name="frmprojectes" id="frmprojectes">

      
        <div class="form-group">
            <label>{{ "Títol del projecte" | trans }}<span style="color:red;"> *</span></label>
            <p>{% if RegistreProjecte.1.titol is defined %}{{ RegistreProjecte.1.titol | raw }}{% endif %}"</p>
        </div>

        {% if RegistreProjecte.1.id is not defined and nomassignat != "" %}

            <div class="form-group">
                <label>{{ "Vinculació estratègica" | trans }}</label>
                <p>{{nomassignat|raw}}</p>
            </div>

        {% endif %}
        
        {% if RegistreProjecte.1.id is defined %}

            <div class="2npas">


            <style>
            .nav-tabs{
                display: flex;
            }
            .nav-tabs li {
                display: flex;
                flex: 1;
            }

            .nav-tabs li  a {
                flex: 1;
            }
            </style>

            {#
            <ul class="nav nav-tabs nav-justified myTab">
                <li class="active"><a href="#section1"><h5 style="color:#1f1e17;"><i class="fa fa-bars"></i> {{"Projecte"|trans}}</h5><br><br></a></li>
                <li class=""><a href="#section1b"><h5 style="color:#1f1e17;"><i class="fa fa-users"></i> {{"Equip de treball / Actors"|trans}}</h5></a></li>
                <li class=""><a href="#section2"><h5 style="color:#1f1e17;"><i class="fa fa-calendar"></i> {{"Calendari i pressupost"|trans}}</h5></a></li>
                <li><a href="#section3" class="iniciamapa"><h5 style="color:#1f1e17;"><i class="fa fa-map-marker"></i> {{"Impacte territorial"|trans}}</h5><br></a></li>
                <li class=""><a href="#section4"><h5 style="color:#1f1e17;"><i class="fa fa-check-square-o"></i> {{"Fites"|trans}}</h5><br><br></a></li>
                <li class=""><a href="#section5"><h5 style="color:#1f1e17;"><i class="fa fa-bar-chart"></i> {{"%"|trans}}</h5><br><br></a></li>
                <li class=""><a href="#section5b"><h5 style="color:#1f1e17;"><i class="fa fa-hand-pointer-o"></i> {{"Participació"|trans}}</h5><br></a></li>
                <li class=""><a href="#section6"><h5 style="color:#1f1e17;"><i class="fa fa-file-pdf-o"></i> {{"+ Informació"|trans}}</h5><br></a></li>
                
            </ul>
            #}

            <ul class="nav nav-tabs nav-justified myTab">
                <li class="active"><a href="#section1"><h5 style="color:#1f1e17;"><i class="fa fa-bars"></i> {{"Dades generals"|trans}}</h5><br></a></li>
                <li class=""><a href="#section2"><h5 style="color:#1f1e17;"><i class="fa fa-calendar"></i> {{"Planificació"|trans}}</h5><br></a></li>
                
                <li class=""><a href="#section5"><h5 style="color:#1f1e17;"><i class="fa fa-bar-chart"></i> {{"Seguiment execució i indicadors"|trans}}</h5></a></li>
                {#
                <li class=""><a href="#section5b"><h5 style="color:#1f1e17;"><i class="fa fa-hand-pointer-o"></i> {{"Participació"|trans}}</h5><br></a></li>
                #}
                <li class=""><a href="#section6"><h5 style="color:#1f1e17;"><i class="fa fa-file-pdf-o"></i> {{"Documentació"|trans}}</h5><br></a></li>
                
            </ul>

            <div class="tab-content">

                <div id="section1" class="tab-pane fade in active">

                    <div class="panel panel-default">

                        <div class="panel-body">
                    
                            <div class="row amagaaconsultes">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Objectiu vinculat del PDA" | trans }}  <span style="color:red;"> *</span>
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="tree well">
                                                    <ul>

                                                        {# preparar array respostes triades. #}

                                                        {% if RegistreProjecte.1.id is defined %}
                                                             {% set vinculacio = RegistreProjecte.1.vinculacio|replace({'"': '','[':'',']':''}) %}
                                                             {% set vinculacio = vinculacio|split(',') %}

                                                        {% endif %}
                                                      
                                                        {% if Vinculacio is not empty %}

                                                            {% for d in Vinculacio if (d.nivell == 1) %}

                                                                <li>
                                                                    <span class="vinculacio_{{d.id}}"><i class="fa fa-folder-open-o"></i> {{d.titol|raw}}  </span>
                                                                    <ul>
                                                                        {% for b in Vinculacio|sort  if (b.nivell == 2)  %}
                                                                            
                                                                            {% set parents_ids = "" %}
                                                                            {% if b.parents_ids is defined %}
                                                                                 {% set parents_ids = b.parents_ids|replace({'"': '','[':'',']':''}) %}
                                                                                 {% set parents_ids = parents_ids|split(',') %}
                                                                            {% endif %}

                                                                            {% if b.parent_id == d.id or d.id in parents_ids  %}
                                                                                
                                                                                {% if RegistreProjecte.1.id is defined %}{% if d.id~'_'~b.id in vinculacio  %}
                                                                                <li>
                                                                                    <span class="vinculacio_{{b.id}}"><i class="fa fa-folder-open-o"></i> {{b.titol|raw}} </span>
                                                                                    <ul>
                                                                                        {% for c in Vinculacio if (c.nivell == 3) and (c.parent_id == b.id) %}
                                                                                            
                                                                                            {% if RegistreProjecte.1.id is defined %}{% if d.id~'_'~c.id in vinculacio  %}
                                                                                            <li>
                                                                                                <span class="vinculacio_{{c.id}}"><i class="fa fa-folder-open-o"></i> {{c.titol|raw}} </span>

                                                                                        
                                                                                                <ul>
                                                                                                    {% for e in Vinculacio if (e.nivell == 4) and (e.parent_id == c.id) and (e.clau_eix == b.id) and (e.clau_pam == d.id) %}
                                                                                                        
                                                                                                        {% if RegistreProjecte.1.id is defined %}{% if d.id~'_'~e.id in vinculacio  %}
                                                                                                        <li>
                                                                                                            <span class="vinculacio_{{e.id}}"><i class="fa fa-tags"></i> {{e.titol|raw}} </span>

                                                                                                        </li>
                                                                                                        {% endif %}{% endif %}

                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            </li>
                                                                                            {% endif %}{% endif %}

                                                                                        {% endfor %}
                                                                                    </ul>

                                                                                </li>

                                                                                {% endif %}{% endif %}

                                                                            {% endif %}

                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>

                                                            {% endfor %}

                                                        {% endif %}
                                                    </ul>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row amagaaconsultes">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Relacions del projecte" | trans }}  <span style="color:red;"> *</span>
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="">
                                                    <ul>

                                                        <li>
                                                            <span><i class="fa fa-folder-open-o"></i> {% if RegistreProjecte.1.titol is defined %}{{ RegistreProjecte.1.titol | raw }}{% endif %}  </span>
                                                            <ul>
                                                                {% if ActuacionsProjecte is not empty %}
                                                                    
                                                                    {% for b in ActuacionsProjecte|sort   %}
                                                                        <li>
                                                                            <span ><button type="button" class="btn btn-default btn-xs amagabotons ediciorel" data-t="1" data-ctf="{{ b.id | raw }}"><i class="fa fa-edit"></i></button> {{ b.titol | raw }}  </span>
                                                                            <ul>
                                                                               
                                                                                {% if TasquesProjecte is not empty %}
                                                                    
                                                                                    {% for c in TasquesProjecte|sort if c.clau_actuacio == b.id  %}

                                                                                        <li>
                                                                                            <span > {{ c.titol | raw }} </span>
                                                                                        </li>

                                                                                    {% endfor %}

                                                                                    <div><br></div>

                                                                                {% endif %}
                                                                            

                                                                            </ul>

                                                                        </li>

                                                                    {% endfor %}

                                                                {% endif %}
                                                            </ul>
                                                        </li>

                                                    </ul>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{ "Tema: descripció bàsica del projecte" | trans }} </label>
                                <p>{% if RegistreProjecte.1.descripcio_ca is defined %}{{ RegistreProjecte.1.descripcio_ca | raw |replace({'<p>': '','</p>':'','<br>':''}) }}{% endif %}</p>
                            </div>

                            <div class="form-group">
                                <label>{{ "Motivació i diagnòstic" | trans }} </label>
                                <p>{% if RegistreProjecte.1.motivacio is defined %}{{ RegistreProjecte.1.motivacio | raw |replace({'<p>': '','</p>':'','<br>':''}) }}{% endif %}</p>
                            </div>
                            
                          
                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Objectius específics del projecte" | trans }} 
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_8"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{ "Impactes / beneficis / resultats esperats" | trans }} </label>
                                <p>{% if RegistreProjecte.1.impactes is defined %}{{ RegistreProjecte.1.impactes | raw |replace({'<p>': '','</p>':'','<br>':''}) }}{% endif %}</p>
                            </div>
                            

                        </div>

                    </div>

                </div>
                
                <div id="section1b" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="form-group">
                                <label>{{ "Cap de programa/projecte" | trans }}<span style="color:red;"> *</span></label>
                                
                                    
                                {% for d in Usuaris2 %}
                                    <p>{% if RegistreProjecte.1.cap_projecte is defined %}{% if RegistreProjecte.1.cap_projecte == d.id %}{{ d.cognoms | raw }}, {{ d.nom | raw }}{% endif %}{% endif %}</p>
                                {% endfor %}
                                  
                               
                            </div>

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Equip de projecte intern" | trans }} 
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="table-responsive"  style="overflow: hidden !important;">
                                                <table class="table table-striped table-bordered table-hover dataTables3 dataTables">
                                                    <thead>
                                                        <tr>
                                                            <th>Cognoms, Nom</th>
                                                        </tr>
                                                    </thead>   
                                                    <tbody>
                                                       
                                                        {# preparar array. #}

                                                        {% set usuaris = "" %}
                                                        {% if RegistreProjecte.1.usuaris is defined %}
                                                             {% set usuaris = RegistreProjecte.1.usuaris|replace({'"': '','[':'',']':''}) %}
                                                             {% set usuaris = usuaris|split(',') %}
                                                        {% endif %}

                                                        {% for d in Usuaris %}
                                                            {% if d.id in usuaris %}
                                                            <tr class="odd">
                                                                <td>
                                                                    {{ d.cognoms | raw }}, {{ d.nom | raw }}
                                                                </td>
                                                            </tr> 
                                                            {% endif %}
                                                        {% endfor %}
                                                          
                                                    </tbody>
                                                </table>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Àmbit" | trans }}
                                          
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="tree well">
                                                    <ul>


                                                        {% if RegistreProjecte.1.id is defined %}
                                                             {% set ambits = RegistreProjecte.1.ambits|replace({'"': '','[':'',']':''}) %}
                                                             {% set ambits = ambits|split(',') %}

                                                        {% endif %}
                                                      
                                                        {% if ambits is not empty %}

                                                            {% for d in Organse if (d.nivell == 1) %}
                                                                
                                                                {% if RegistreProjecte.1.id is defined %}{% if d.id in ambits  %}
                                                                <li>
                                                                    <span class="capprojecte_{{d.id}}"><i class="fa fa-folder-open-o"></i> {{d.titol|raw}}  </span>
                                                                    <ul>
                                                                        {% for b in Organse if (b.nivell == 2) and (b.parent_id == d.id) %}
                                                                            
                                                                            {% if RegistreProjecte.1.id is defined %}{% if b.id in ambits  %}
                                                                            <li>
                                                                                <span class="capprojecte_{{b.id}}"><i class="fa fa-tags"></i> {{b.titol|raw}} </span>

                                                                            </li>
                                                                            {% endif %}{% endif %}

                                                                        {% endfor %}
                                                                    </ul>
                                                                </li>
                                                                {% endif %}{% endif %}

                                                            {% endfor %}

                                                        {% endif %}
                                                    </ul>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                   
                                </div>
                            </div>
                            


                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Equip de project extern" | trans }} 
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="table-responsive"  style="overflow: hidden !important;">
                                                <table class="table table-striped table-bordered table-hover dataTables3 dataTables">
                                                    <thead>
                                                        <tr>
                                                            <th>Denominació</th>
                                                            <th>Persona/es referent/s</th>
                                                        </tr>

                                                    </thead>   
                                                    <tbody>
                                                       
                                                        {# preparar array. #}

                                                        {% set opstriats = "" %}
                                                        {% if RegistreProjecte.1.operadors is defined %}
                                                             {% set opstriats = RegistreProjecte.1.operadors|replace({'"': '','[':'',']':''}) %}
                                                             {% set opstriats = opstriats|split(',') %}
                                                        {% endif %}

                                                        {% for d in Operadors %}
                                                            {% if d.id in opstriats %}
                                                            <tr class="odd">
                                                                <td>
                                                                    {{ d.titol | raw }}
                                                                </td>
                                                                <td>
                                                                    {{ d.persones | raw }}
                                                                </td>
                                                            </tr> 
                                                            {% endif %}
                                                        {% endfor %}
                                                          
                                                    </tbody>
                                                </table>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            

                        </div>

                    </div>

                </div>
                
                <div id="section2" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Calendari del projecte" }}<span style="color:red;"> *</span>
                                          
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>{{ "Inici" }}</label><br>
                                                        <p>{% if RegistreProjecte.1.inici is defined %}{% if RegistreProjecte.1.inici != "0000-00-00" %}{{ RegistreProjecte.1.inici | date("d/m/Y") }}{% endif %}{% endif %}</p>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                        <label>{{ "Final" }}</label><br>
                                                        <p>{% if RegistreProjecte.1.final is defined %}{% if RegistreProjecte.1.final != "0000-00-00" %}{{ RegistreProjecte.1.final | date("d/m/Y") }}{% endif %}{% endif %}</p>
                                                    </div>
                                                </div>
                                                

                                            </div> 
                                            
                                        
                                            <div class="row">
                                                <div class="col-lg-12">       

                                                    <div id="dadesanys">
                                                        
                                                    </div>

                                                </div>
                                            </div>
                                        

                                            <div class="row">
                                                <div class="col-lg-12">        
                                                    
                                                    <div class="panel panel-primary">

                                                        <div class="panel-body">
                                                            
                                                            <div class="form-group">
                                                                

                                                                <div class="row">
                                    
                                                                    <div class="col-lg-12">
                                                                        <div class="llistat_65"></div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                                

                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                            

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                        </div>

                    </div>

                </div>


                <div id="section3" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">
                            

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Districtes / Barris afectats pel projecte" }} <span style="color:red;"> *</span>
                                          
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="tree well">
                                                    <ul>

                                                        {# preparar array respostes triades. #}

                                                        {% if RegistreProjecte.1.id is defined %}
                                                             {% set districtes = RegistreProjecte.1.districtes|replace({'"': '','[':'',']':''}) %}
                                                             {% set districtes = districtes|split(',') %}

                                                        {% endif %}
                                                      
                                                        {% if Districtes is not empty %}

                                                            {% for d in Districtes if (d.nivell == 1) %}

                                                                {% if d.id != "43" %} {# Amaguem CIUTAT serà el per defecte sinó trien res.#}
                                                                    
                                                                    {% if RegistreProjecte.1.id is defined %}{% if d.id in districtes  %}
                                                                    <li>
                                                                        <span class="districte_{{d.id}}"><i class="fa fa-folder-open-o"></i> {{d.titol|raw}} </span>
                                                                        <ul>
                                                                            {% for b in Districtes if (b.nivell == 2) and (b.parent_id == d.id) %}
                                                                                
                                                                                {% if RegistreProjecte.1.id is defined %}{% if b.id in districtes  %}
                                                                                <li>    
                                                                                    <span class="districte_{{b.id}}"><i class="fa fa-tags"></i> {{b.titol|raw}} <input type="checkbox" class=""  name="districtes[]" value="{{b.id}}" checked=true /></span>

                                                                                </li>
                                                                                {% endif %}{% endif %}

                                                                            {% endfor %}
                                                                        </ul>
                                                                    </li>
                                                                    {% endif %}{% endif %}

                                                                {% endif %}

                                                            {% endfor %}

                                                        {% endif %}
                                                    </ul>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="panel panel-primary amagaaconsultes"> 

                                        <div class="panel-body"> 
                                            
                                            <style type="text/css">
                                                    #mapa {height:400px;width:100%;}
                                                  }
                                                  .controls {
                                                    margin-top: 10px;
                                                    border: 1px solid transparent;
                                                    border-radius: 2px 0 0 2px;
                                                    box-sizing: border-box;
                                                    -moz-box-sizing: border-box;
                                                    height: 32px;
                                                    outline: none;
                                                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                                                  }

                                                  #pac-input {
                                                    background-color: #fff;
                                                    font-family: Roboto;
                                                    font-size: 15px;
                                                    font-weight: 300;
                                                    margin-left: 12px;
                                                    padding: 0 11px 0 13px;
                                                    text-overflow: ellipsis;
                                                    width: 500px;
                                                    top: 10px !important;
                                                  }

                                                  #pac-input:focus {
                                                    border-color: #4d90fe;
                                                  }

                                                  .pac-container {
                                                    font-family: Roboto;
                                                  }

                                                  #type-selector {
                                                    color: #fff;
                                                    background-color: #4d90fe;
                                                    padding: 5px 11px 0px 11px;
                                                  }

                                                  #type-selector label {
                                                    font-family: Roboto;
                                                    font-size: 13px;
                                                    font-weight: 300;
                                                  }
                                            </style>

                                            <div class="form-group">
                                                <label>{{ "Adreça postal" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="determina el lloc exacte o aproximat en què es desenvolupa l'acció."></i></label>
                                                <input type="hidden" name="coordenades" id="coordenades" value="{% if RegistreProjecte.1.lat is defined %}{{ RegistreProjecte.1.lat | raw }},{{ RegistreProjecte.1.lng | raw }}{% endif %}">
                                                <input class="form-control controls" name="adreca" id="pac-input" placeholder="Escriu l'adreça" value="{% if RegistreProjecte.1.adreca is defined %}{{ RegistreProjecte.1.adreca | raw }}{% endif %}">
                                                <input type="hidden" name="type" id="changetype-all" checked="checked">
                                                <div id="mapa"></div>
                                            </div>

                                        </div>

                                    </div>
                                   
                                </div>
                            </div>
                            

                        </div>

                    </div>

                </div>


                <div id="section4" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Fites" | trans }} <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Conjunt limitat de dates de referència i d'especial rellevància per al projecte. P.e.: inicis de fases, presentacions institucionals, etc."></i>
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                            

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_45"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            

                        </div>

                    </div>

                </div>


                <div id="section5" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">

                            
                            <div class="form-group">
                                <label>{{ "Estat d'execució" | trans }}<span style="color:red;"> *</span></label>
                                  
                                    {% for d in Paraules %}
                                        {% if (d.codi == 'estatprojecte') and (d.idioma == 'ca')%}
                                            <p> {% if RegistreProjecte.1.estat is defined %}{% if RegistreProjecte.1.estat == d.clau %}{{ d.text | raw }}{% endif %}{% endif %}</p>
                                        {% endif %}
                                    {% endfor %}
                                  
                            </div>

                            <div class="row divtantpercent">

                                <div class="col-lg-3" >
                                    <label>{{ "% d'execució del projecte" | trans }}</label>
                                    <div class="form-group">
                                        <p>{% if RegistreProjecte.1.tantpercent is defined %}{{ RegistreProjecte.1.tantpercent | raw }}{% endif %}</p>
                                    </div>

                                </div>

                            </div>
                            

                            <div class="row">
                                <div class="col-lg-12">      
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Riscos del projecte: identificació i pla de contingència" | trans }}
                                           
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                              
                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_63"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">      
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Observacions i altres comentaris d'interès" | trans }}
                                           
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                
                                              

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_58"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            
                        </div>

                    </div>

                </div>

                <div id="section5b" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                     
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                        <div class="llistat_49"></div>
                                                    </div>

                                                </div>

                                            </div>
                                                

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{ "Propostes ciutadanes relacionades" | trans }}</label>
                                <p>{% if RegistreProjecte.1.propostesrel is defined %}{{ RegistreProjecte.1.propostesrel | raw |replace({'<p>': '','</p>':'','<br>':''}) }}{% endif %}</p>
                            </div>

                        </div>

                    </div>

                </div>


                <div id="section6" class="tab-pane fade">

                    <div class="panel panel-default">

                        <div class="panel-body">
                                
                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                        <div class="panel-heading">{{ "Documentació del projecte" | trans }}    
                                            
                                        </div>
                                        <div class="panel-body">
                                            
                                            <div class="form-group">
                                                

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                      <div class="llistat_12"></div>
                                                      <div class="llistat_54"></div>
                                                    </div>

                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                            
                            {#
                            <div class="row">
                                <div class="col-lg-12">        
                                    
                                    <div class="panel panel-primary">

                                       
                                        <div class="panel-body">
                                            
                                            <div class="form-group">

                                                <div class="row">
                    
                                                    <div class="col-lg-12">
                                                      <div class="llistat_54"></div>
                                                    </div>

                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                            #}

                        </div>

                    </div>

                </div>



            </div>

            
            </div>

        {% endif %}

        

        
    </form>

    <script src="{{ app.request.basepath }}/js/colors/jquery.simplecolorpicker.js"></script>
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idprojecte").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmprojectes').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmprojectes').removeAttr('checked').removeAttr('selected');
                $("div.errorprojectes span").html("");
                $(".panelldadesprojectes").toggle();

            });




            



            {% if RegistreProjecte.1.id is defined %}

                $(document).off('click',".myTab a").on("click",".myTab a",function(e){
                  e.preventDefault();
                  $(this).tab('show');
                  if ( $( this ).hasClass( "iniciamapa" ) ) {

                    setTimeout(function () {
                      initMap();
                    }, 500);

                  }
                }); 

                

                
                var d1 = "{% if RegistreProjecte.1.inici is defined %}{% if RegistreProjecte.1.inici != "0000-00-00" %}{{ RegistreProjecte.1.inici | date("d/m/Y") }}{% endif %}{% endif %}";
                var d2 = "{% if RegistreProjecte.1.final is defined %}{% if RegistreProjecte.1.final != "0000-00-00" %}{{ RegistreProjecte.1.final | date("d/m/Y") }}{% endif %}{% endif %}";
                $("#dadesanys").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $("#dadesanys").load("{{ app.request.basepath }}/load",{o:9, id:'{{RegistreProjecte.1.id}}', t: 1, c:{d1:d1, d2:d2 } }); 
                


                $(".llistat_8").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_8").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "8", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});



                $(".llistat_45").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_45").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "45", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){


                });


                $(".llistat_47").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_47").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "47", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}', 'ctf2' : 'consulta'}}, function(){});


            

                $(".llistat_49").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_49").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "49", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});



                $(".llistat_58").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_58").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "58", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});



                $(".llistat_63").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_63").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "63", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});



                $(".llistat_12").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_12").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "12", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}', 'ctf2':'1'}}, function(){});



                $(".llistat_54").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_54").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "54", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});


                $(".llistat_65").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                $(".llistat_65").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "65", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{RegistreProjecte.1.id}}'}}, function(){});


            



                function initMap() {

                    var lati = 41.4481989;
                    var lngi = 2.2371684;


                    {# si ja tinc coordenades #}
                    {% if RegistreProjecte.1.lat !=  "" %}
                        lati = {{RegistreProjecte.1.lat}};
                        lngi = {{RegistreProjecte.1.lng}};
                        var myLatLng = {lat: lati, lng: lngi};
                    {% endif %}

                    var map = new google.maps.Map(document.getElementById('mapa'), {
                      center: {lat: lati, lng: lngi},
                      zoom: 13
                    });

                    

                    var input = /** @type {!HTMLInputElement} */(
                        document.getElementById('pac-input'));

                    var types = document.getElementById('type-selector');
                    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                    map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

                    var autocomplete = new google.maps.places.Autocomplete(input);
                    autocomplete.bindTo('bounds', map);

                    var infowindow = new google.maps.InfoWindow();
                    var marker = new google.maps.Marker({
                      map: map,
                      position: myLatLng,
                      anchorPoint: new google.maps.Point(0, -29)
                    });

                    autocomplete.addListener('place_changed', function() {
                      infowindow.close();
                      marker.setVisible(false);
                      var place = autocomplete.getPlace();
                      if (!place.geometry) {
                        window.alert("Autocomplete's returned place contains no geometry");
                        return;
                      }

                      // If the place has a geometry, then present it on a map.
                      if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                      } else {
                        map.setCenter(place.geometry.location);
                        map.setZoom(17);  // Why 17? Because it looks good.
                      }
                      marker.setIcon(/** @type {google.maps.Icon} */({
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(35, 35)
                      }));
                      $("#coordenades").val(place.geometry.location);
                      marker.setPosition(place.geometry.location);
                      marker.setVisible(true);

                      var address = '';
                      if (place.address_components) {
                        address = [
                          (place.address_components[0] && place.address_components[0].short_name || ''),
                          (place.address_components[1] && place.address_components[1].short_name || ''),
                          (place.address_components[2] && place.address_components[2].short_name || '')
                        ].join(' ');
                      }

                      infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                      infowindow.open(map, marker);
                    });

                    // Sets a listener on a radio button to change the filter type on Places
                    // Autocomplete.
                    function setupClickListener(id, types) {
                      var radioButton = document.getElementById(id);
                      radioButton.addEventListener('click', function() {
                        autocomplete.setTypes(types);
                      });
                    }

                    setupClickListener('changetype-all', []);
                }







            {% endif %}





        


            $('.tree li > span').on('click', function (e) {
                
                var children = $(this).parent('li').find(' > ul');
                if (children.is(":visible")) {
                    children.hide('fast');
                } else {
                    children.show('fast');
                }
                e.stopPropagation();
            });

            $('.tree li > span').parent('li').find(' > ul').hide('fast');
            
            // desplegar districtes marcats.
            {#  Si volem desplegar el districte que tingui algun barri marcat, hauriem de buscar aquí parent_id.#}
            {% if RegistreProjecte.1.id is defined %}

                {% set districtes = RegistreProjecte.1.districtes|replace({'"': '','[':'',']':''}) %}
                {% set districtes = districtes|split(',') %}

                {% if districtes is iterable %}
                    {% for d in districtes %}
                        $(".districte_{{d}}").parent('li').find(' > ul').show('fast');
                    {% endfor %}
                {% endif %}

                {% set vinculacions = RegistreProjecte.1.vinculacio|replace({'"': '','[':'',']':''}) %}
                {% set vinculacions = vinculacions|split(',') %}

                {% if vinculacions is iterable %}
                    {% for d in vinculacions %}
                        {% set vinc = d|split('_') %}
                        {% if vinc.0 is defined %} $(".vinculacio_{{vinc.0}}").parent('li').find(' > ul').show('fast'); {% endif %}
                        {% if vinc.1 is defined %} 
                            {#$(".vinculacio_{{vinc.1}}").parent('li').find(' > ul').show('fast'); 
                            {% for v in Vinculacio if v.id == vinc.1 %}
                                $(".vinculacio_{{v.parent_id}}").parent('li').find(' > ul').show('fast'); 
                            {% endfor %}
                            #}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            {% endif %}
                          

         
           setTimeout(function () {
                $('html, body').animate({ scrollTop: 0 }, 0);
            }, 10);

      });

 
    </script>
