
	

    <form role="form" action="" method="post" name="frmrols" id="frmrols">

    	<div style="display: none;">
    		<input name="idp" value="32" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
			<input name="verif" value="" type="hidden" />
			<input name="id" id="idrol" value="{% if RegistreRol.1.id is defined %}{{ RegistreRol.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreRol.1.idx is defined %}{{ RegistreRol.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 32 %}{{idpx|md5}}" type="hidden" />
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>{{ "Permisos" | trans }}</label>
                    {{ Permisos | raw}}
                </div>

            </div>
        </div>

         
        <div class="form-group">
            <label>{{ "Actiu" | trans }}</label>
            <div class="checkbox-inline">
              <label>
                <input name="estat" value="1" type="checkbox"  {% if RegistreRol.1.estat is defined %}{% if RegistreRol.1.estat == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} />
              </label>
            </div>
        </div>

        <div class="form-group">
        	<div class="errorrols"><span></span></div>
        </div>


        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        
    </form>

   <script type="text/javascript">
      $(document).ready(function($) {

        

            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmrols").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmrols.verif.value = "ok";
                    var stringdades = $("#frmrols").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultrols").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultrols").html(data);
                                var dades = jQuery.parseJSON(data);
                                if (dades[0] == 1){
                                    $("div.errorrols span").html("");
                                    $("#resultrols").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idrol").val(dades[1]);
                                    $(".panelldadesrols").toggle();
                                    var idoe = $("#idoe").val();
                                   
                                    $(".llistatrols").load("{{ app.request.basepath }}/load",{o:2,id:1, taula: "permisos"}, function(){
                    
                                    });

                                    setTimeout( function(){ 
                                        $("#resultrols").fadeOut('slow');
                                    } ,3000 );

                                }else{
                                    $("#resultrols").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorrols span").html(cuadre);
                        $("div.errorrols").show();
                    } else {
                        $("div.errorrols").hide();
                    }
                },
                onkeyup: false,
                debug:true,
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");

      });
    </script>
