<div class="form-group">
    <label>{{ "Fase vinculada" | trans }}</label>
    <select class="form-control required clau_actuacio" name="clau_actuacio" >
      <option value="" {% if RegistreTasca.1.clau_actuacio is defined %}{% if RegistreTasca.1.clau_actuacio == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
        
        {% for d in Actuacions %}
            <option value="{{ d.id }}" {% if RegistreTasca.1.clau_actuacio is defined %}{% if RegistreTasca.1.clau_actuacio == d.id %}selected{% endif %}{% endif %}>({{ d.codi | raw }}) {{ d.titol | raw }}</option>
        {% endfor %}
      
    </select>
</div>

{#
<div class="form-group">
    <label>{{ "Vinculació indirecta a una altra actuació" | trans }}</label>
    <select class="form-control  clau_actuacio2" name="clau_actuacio2" >
      <option value="" {% if RegistreTasca.1.clau_actuacio2 is defined %}{% if RegistreTasca.1.clau_actuacio2 == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
        
        {% for d in Actuacions %}
            <option value="{{ d.id }}" {% if RegistreTasca.1.clau_actuacio2 is defined %}{% if RegistreTasca.1.clau_actuacio2 == d.id %}selected{% endif %}{% endif %}>({{ d.codi | raw }}) {{ d.titol | raw }}</option>
        {% endfor %}
      
    </select>
</div>
#}

<script type="text/javascript">
        
        $(".clau_actuacio option[value=\'{{ ida|default('') }}\']").attr("selected", "selected");
        $(".clau_actuacio").change();

</script>