    
    <form role="form" action="tasques" method="post" name="frmtasques" id="frmtasques">

      
        <div class="form-group">
            <label>{{ "Projecte vinculat" | trans }}<span style="color:red;"> *</span></label>
           
                {% for d in Projectes %}
                    {% if RegistreTasca.1.clau_projecte is defined %}{% if RegistreTasca.1.clau_projecte == d.id %}({{ d.codi | raw }}) {{ d.titol | raw }}{% endif %}{% endif %}
                {% endfor %}
              
        </div>

        {#
        <div class="form-group divactuacions">
            {% if RegistreTasca.1.id is defined %}
                {% include "tasques-detallsform.html" %}
            {% endif %}
        </div>
        #}

        <div class="form-group">
            <label>{{ "Nom de l'acció" | trans }}<span style="color:red;"> *</span></label>
            <p>{% if RegistreTasca.1.titol is defined %}{{ RegistreTasca.1.titol | raw }}{% endif %}</p>
        </div>   


        {% if RegistreTasca.1.id is defined %}

            <div class="2npas">
                
                <style>
                .nav-tabs{
                    display: flex;
                }
                .nav-tabs li {
                    display: flex;
                    flex: 1;
                }

                .nav-tabs li  a {
                    flex: 1;
                }
                </style>

                <ul class="nav nav-tabs nav-justified myTab">
                    <li class="active"><a href="#section1"><h5 style="color:#1f1e17;"><i class="fa fa-bars"></i> {{"Acció"|trans}}</h5></a></li>
                    <li class=""><a href="#section1a"><h5 style="color:#1f1e17;"><i class="fa fa-folder"></i> {{"Situació global"|trans}}</h5></a></li>
                    <li class=""><a href="#section1b"><h5 style="color:#1f1e17;"><i class="fa fa-group"></i> {{"Equip de treball"|trans}}</h5></a></li>
                    <li class=""><a href="#section2"><h5 style="color:#1f1e17;"><i class="fa fa-calendar"></i> {{"Calendari"|trans}}</h5></a></li>
                     {#<li><a href="#section3" class="iniciamapa"><h5 style="color:#1f1e17;"><i class="fa fa-map-marker"></i> {{"Impacte territorial"|trans}}</h5></a></li>#}
                </ul>

                <div class="tab-content">

                    <div id="section1" class="tab-pane fade in active">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                
                                <div class="form-group">
                                    <label>{{ "Breu descripció de l'acció" | trans }}</label>
                                    <p>{% if RegistreTasca.1.descripcio_ca is defined %}{{ RegistreTasca.1.descripcio_ca | raw }}{% endif %}</p>
                                </div>


                            </div> 

                        </div> 

                    </div> 


                    <div id="section1a" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="form-group">
                                    <label>{{ "Estat de l'acció" | trans }} <span style="color:red;"> *</span> </label>
                                        
                                        {% for d in Paraules %}
                                            {% if (d.codi == 'estatactuacio') and (d.idioma == 'ca')%}
                                                {% if RegistreTasca.1.estat is defined %}{% if RegistreTasca.1.estat == d.clau %}{{ d.text | raw }}{% endif %}{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                      
                                </div>
                               

                            </div> 

                        </div> 

                    </div> 



                    <div id="section1b" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-12">        
                                        
                                        <div class="panel panel-primary">

                                            <div class="panel-heading">{{ "Equip de treball" | trans }} 
                                            </div>
                                            <div class="panel-body">
                                                
                                                <div class="form-group equipdetreball">

                                                    

                                                </div>

                                            </div>
                                        </div>
                                       
                                    </div>

                                    
                                </div>

                            </div>

                        </div>

                    </div>


                    <div id="section2" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                               
                                <div class="row">
                                    <div class="col-lg-12"> 
                                        
                                        <div class="panel panel-primary">

                                            <div class="panel-heading">{{ "Calendari d'execució" }}<span style="color:red;"> *</span> <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Fa referència estrictament al període en què l'acció s'està executant. No inclou, per tant, les fases prèvies de disseny i preparació."></i>
                                              
                                            </div>
                                            <div class="panel-body">
                                                
                                                <div class="form-group">

                                                    <div class="col-lg-2" style="z-index: 1 !important;">
                                                        <div class="form-group">
                                                            <label>{{ "Inici" }}</label><br>
                                                            <p>{% if RegistreTasca.1.inici is defined %}{% if RegistreTasca.1.inici != "0000-00-00" %}{{ RegistreTasca.1.inici | date("d/m/Y") }}{% endif %}{% endif %}</p>
                                                            <input type="hidden" class="form-control datepicker " name="inici" id="inici" placeholder="dd/mm/aaaa" value="{% if RegistreTasca.1.inici is defined %}{% if RegistreTasca.1.inici != "0000-00-00" %}{{ RegistreTasca.1.inici | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-2" style="z-index: 1 !important;">
                                                        <div class="form-group">
                                                            <label>{{ "Final" }}</label><br>
                                                            <p>{% if RegistreTasca.1.final is defined %}{% if RegistreTasca.1.final != "0000-00-00" %}{{ RegistreTasca.1.final | date("d/m/Y") }}{% endif %}{% endif %}</p>
                                                            <input type="hidden"  class="form-control datepicker " name="final" id="final" placeholder="dd/mm/aaaa" value="{% if RegistreTasca.1.final is defined %}{% if RegistreTasca.1.final != "0000-00-00" %}{{ RegistreTasca.1.final | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        </div>
                                                    </div>
                                                    
                                                   

                                                </div> 
                                                
                                             

                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                
                              
                                

                            </div>

                        </div>

                    </div>



                </div> 

            
             

            </div>

        {% endif %}


        


        <div class="form-group">
            <div class="errortasques"><span></span></div>
        </div>

     
        
    </form>
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idtasca").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmtasques').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmtasques').removeAttr('checked').removeAttr('selected');
                $("div.errortasques span").html("");
                $(".panelldadestasques").toggle();

            });


          

            {% if RegistreTasca.1.id is defined %}

                $(document).off('click',".myTab a").on("click",".myTab a",function(e){
                  e.preventDefault();
                  $(this).tab('show');
                  if ( $( this ).hasClass( "iniciamapa" ) ) {

                    

                  }
                });

              

                function carregarequip(actuacio){

                    $(".equipdetreball").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                    $(".equipdetreball").load("{{ app.request.basepath }}/load",{o:50, id:'{{RegistreTasca.1.id}}' ,c:{a:actuacio} });   

                }

                carregarequip('{{RegistreTasca.1.clau_actuacio}}');


               


            {% endif %}

            $(document).off('change',".clau_projecte").on("change",".clau_projecte",function(event){

                  var id = $(this).val();
                  
                  $(".divactuacions").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                  $(".divactuacions").load("{{ app.request.basepath }}/load",{o:10, id:id, t: ''});   


            });

            


            $(".dataTables1, .dataTables2").dataTable( {
                "language": {
                    "url": "{{ app.request.basepath }}/js/plugins/dataTables/dataTables.catala.lang"
                }
            } );



           $('.tree li > span').on('click', function (e) {
                
                var children = $(this).parent('li').find(' > ul');
                if (children.is(":visible")) {
                    children.hide('fast');
                } else {
                    children.show('fast');
                }
                e.stopPropagation();
            });

            $('.tree li > span').parent('li').find(' > ul').hide('fast');
            
           


            setTimeout(function () {
                $('html, body').animate({ scrollTop: 0 }, 0);
            }, 10);

      });

    
     
    </script>
