    
    <form role="form" action="tasques" method="post" name="frmtasques" id="frmtasques">

        <div style="display: none;">
            <input name="idp" value="8" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
            <input name="verif" value="" type="hidden" />
            <input name="id" id="idtasca" value="{% if RegistreTasca.1.id is defined %}{{ RegistreTasca.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreTasca.1.idx is defined %}{{ RegistreTasca.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 8 %}{{idpx|md5}}" type="hidden" />
        </div>
        
        {#
        <div class="form-group">
            {% if RegistreTasca.1.id is defined %}
                <label>{{ "Codi de l'acció" | trans }}<span style="color:red;"> *</span></label>
                <input class="form-control required" name="codi" id="codi" value="{% if RegistreTasca.1.titol is defined %}{{ RegistreTasca.1.codi | raw }}{% endif %}">
            {% else %}
                <label>{{ "Codi de l'acció" | trans }}</label>
                <p id="spancodi">{% if RegistreTasca.1.codi is defined %}{{ RegistreTasca.1.codi | raw }}{% else %}{{"Serà assignat al crear l'acció"|trans}}{% endif %}</p>
            {% endif %}
        </div>
        #}

        <div class="form-group">
            <label>{{ "Projecte vinculat" | trans }}<span style="color:red;"> *</span></label>
            <select class="form-control required clau_projecte" name="clau_projecte" >
              <option value="" {% if RegistreTasca.1.clau_projecte is defined %}{% if RegistreTasca.1.clau_projecte == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                
                {% for d in Projectes %}
                    <option value="{{ d.id }}" {% if RegistreTasca.1.clau_projecte is defined %}{% if RegistreTasca.1.clau_projecte == d.id %}selected{% endif %}{% endif %}>({{ d.codi | raw }}) {{ d.titol | raw }}</option>
                {% endfor %}
              
            </select>
        </div>

        <div class="form-group divactuacions">
            {% if RegistreTasca.1.id is defined %}
                {% include "tasques-detallsform.html" %}
            {% endif %}
        </div>

        <div class="form-group">
            <label>{{ "Nom de l'acció" | trans }}<span style="color:red;"> *</span></label>
            <input class="form-control required" name="titol_ca" id="titol_ca" value="{% if RegistreTasca.1.titol is defined %}{{ RegistreTasca.1.titol | raw }}{% endif %}">
        </div>   


        {% if RegistreTasca.1.id is defined %}

            <div class="2npas">
                
                <style>
                .nav-tabs{
                    display: flex;
                }
                .nav-tabs li {
                    display: flex;
                    flex: 1;
                }

                .nav-tabs li  a {
                    flex: 1;
                }
                </style>

                <ul class="nav nav-tabs nav-justified myTab">
                    <li class="active"><a href="#section1"><h5 style="color:#1f1e17;"><i class="fa fa-bars"></i> {{"Acció"|trans}}</h5></a></li>
                    <li class=""><a href="#section1a"><h5 style="color:#1f1e17;"><i class="fa fa-folder"></i> {{"Situació global"|trans}}</h5></a></li>
                    <li class=""><a href="#section1b"><h5 style="color:#1f1e17;"><i class="fa fa-group"></i> {{"Equip de treball"|trans}}</h5></a></li>
                    <li class=""><a href="#section2"><h5 style="color:#1f1e17;"><i class="fa fa-calendar"></i> {{"Calendari"|trans}}</h5></a></li>
                     {#<li><a href="#section3" class="iniciamapa"><h5 style="color:#1f1e17;"><i class="fa fa-map-marker"></i> {{"Impacte territorial"|trans}}</h5></a></li>#}
                </ul>

                <div class="tab-content">

                    <div id="section1" class="tab-pane fade in active">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                
                                <div class="form-group">
                                    <label>{{ "Breu descripció de l'acció" | trans }}</label>
                                    <textarea class="form-control textarea_tasc1" rows="6" name="descripcio_ca" id="descripcio_ca" >{% if RegistreTasca.1.descripcio_ca is defined %}{{ RegistreTasca.1.descripcio_ca | raw }}{% endif %}</textarea>
                                </div>


                            </div> 

                        </div> 

                    </div> 


                    <div id="section1a" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="form-group">
                                    <label>{{ "Estat de l'acció" | trans }} <span style="color:red;"> *</span> </label>
                                    <select class="form-control required" name="estat" >
                                      <option value="" {% if RegistreTasca.1.estat is defined %}{% if RegistreTasca.1.estat == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                                        
                                        {% for d in Paraules %}
                                            {% if (d.codi == 'estatactuacio') and (d.idioma == 'ca')%}
                                                <option value="{{ d.clau }}" {% if RegistreTasca.1.estat is defined %}{% if RegistreTasca.1.estat == d.clau %}selected{% endif %}{% endif %}>{{ d.text | raw }}</option>
                                            {% endif %}
                                        {% endfor %}
                                      
                                    </select>
                                </div>
                               

                            </div> 

                        </div> 

                    </div> 



                    <div id="section1b" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-12">        
                                        
                                        <div class="panel panel-primary">

                                            <div class="panel-heading">{{ "Equip de treball" | trans }} 
                                            </div>
                                            <div class="panel-body">
                                                
                                                <div class="form-group equipdetreball">

                                                    

                                                </div>

                                            </div>
                                        </div>
                                       
                                    </div>

                                    
                                </div>

                            </div>

                        </div>

                    </div>


                    <div id="section2" class="tab-pane fade">

                        <div class="panel panel-default">

                            <div class="panel-body">

                               
                                <div class="row">
                                    <div class="col-lg-12"> 
                                        
                                        <div class="panel panel-primary">

                                            <div class="panel-heading">{{ "Calendari d'execució" }}<span style="color:red;"> *</span> <i class="fa fa-info-circle fa-fw" aria-hidden="true" title="Fa referència estrictament al període en què l'acció s'està executant. No inclou, per tant, les fases prèvies de disseny i preparació."></i>
                                              
                                            </div>
                                            <div class="panel-body">
                                                
                                                <div class="form-group">

                                                    <div class="col-lg-2" style="z-index: 1 !important;">
                                                        <div class="form-group">
                                                            <label>{{ "Inici" }}</label><br>
                                                            <input class="form-control datepicker " name="inici" id="inici" placeholder="dd/mm/aaaa" value="{% if RegistreTasca.1.inici is defined %}{% if RegistreTasca.1.inici != "0000-00-00" %}{{ RegistreTasca.1.inici | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-2" style="z-index: 1 !important;">
                                                        <div class="form-group">
                                                            <label>{{ "Final" }}</label><br>
                                                            <input class="form-control datepicker " name="final" id="final" placeholder="dd/mm/aaaa" value="{% if RegistreTasca.1.final is defined %}{% if RegistreTasca.1.final != "0000-00-00" %}{{ RegistreTasca.1.final | date("d/m/Y") }}{% endif %}{% endif %}">
                                                        </div>
                                                    </div>
                                                    
                                                    {#
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>&nbsp;</label><br>
                                                            <button type="button" class="btn btn-default calcdadesanys amagabotons" data-id="{% if RegistreTasca.1.id is defined %}{{ RegistreTasca.1.id }}{% else %}0{% endif %}">{{ "Mostrar dades dels anys" | trans}}</button>
                                                        </div>
                                                    </div>
                                                    #}

                                                </div> 
                                                
                                                {#
                                                <div class="row">
                                                    <div class="col-lg-12">       

                                                        <div id="dadesanys">
                                                            
                                                        </div>

                                                    </div>
                                                </div>
                                                #}

                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                
                              
                                

                            </div>

                        </div>

                    </div>



                </div> 

            
                {% if RegistreTasca.1.id is defined %}
                    {% set parent_id = 3 %}
                    {% set clau = RegistreTasca.1.id %}
                    {% include "canvis.html" %}
                {% endif %}

            </div>

        {% endif %}


        


        <div class="form-group">
            <div class="errortasques"><span></span></div>
        </div>

        {% set mostrarboto = true %}
        
        {% if (arraypermisos.1.projectes is defined)  %}
            {% if RegistreTasca.1.id is defined %}
                {% if arraypermisos.1.projectes[RegistreTasca.1.clau_projecte] is defined %}
                    {% set mostrarboto = true %}
                {% else %}
                    {% set mostrarboto = false %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if ( mostrarboto == true )   %}
            <button class="btn btn-primary amagabotons btnguardar" type="submit">{% if RegistreTasca.1.id is defined %}{{ "Guardar" | trans }}{% else %}{{ "Continuar" | trans }}{% endif %}</button>
        {% endif %}
        <!--<button type="button" class="btn btn-default cancelar">{{ "Cancelar" | trans }}</button>-->
        
    </form>
    
    <script type="text/javascript">
      $(document).ready(function($) {

            $(".cancelar").click(function(){
                $("#idtasca").val("");
                $('INPUT:text, INPUT:password, INPUT:file, SELECT, TEXTAREA', '#frmtasques').val('');  
                $('INPUT:checkbox, INPUT:radio', '#frmtasques').removeAttr('checked').removeAttr('selected');
                $("div.errortasques span").html("");
                $(".panelldadestasques").toggle();

            });

            {#
             $(document).off('click',".calcdadesanys").on("click",".calcdadesanys",function(event){

                var id = $(this).data( "id" );
                var d1 = $("#inici").val();
                var d2 = $("#final").val();
                var t = 3;

                if (d1 != "" && d2 != "")
                {
                    $("#dadesanys").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                    $("#dadesanys").load("{{ app.request.basepath }}/load",{o:9, id:id, t: t, c:{d1:d1, d2:d2  } });   
                }
                else
                {
                    $("#dadesanys").html("Seleccioni la data d'inici i de final.");
                }
                  
                  


            });

            #}

            $(document).off('click',".btnguardarflotant").on("click",".btnguardarflotant",function(event){
                $(".btnguardar").click();
            });

            {% if RegistreTasca.1.id is defined %}

                $(document).off('click',".myTab a").on("click",".myTab a",function(e){
                  e.preventDefault();
                  $(this).tab('show');
                  if ( $( this ).hasClass( "iniciamapa" ) ) {

                    setTimeout(function () {
                      initMap();
                    }, 500);

                  }
                });

              


              
                // Prevenir abandonament de pàgina.
                {#
                 var displayMessage = true;
                 var message =  'Segur que vols abandonar la pàgina? \nHas guardat tots els canvis?';
                  
                 $(window).bind('beforeunload', function(){
                  //the custom message for page unload doesn't work on Firefox
                  if(displayMessage){
                   
                   return message;
                  } 
                 });
                  
                 $('*').hover(
                  function(){displayMessage = false;},
                  function(){displayMessage = true;} 
                );  
            
                $(document).off('click',"a").on('click',"a",function(event){
                    event.preventDefault();
                    var r = confirm(message);
                    if (r == true) {
                        
                        window.location.href = $(this).attr('href');
                    }
                    return(false);
                });#}
                // Final prevenir abadonament pàgina.


                {% if ActuacioTriada.1 is defined %}

                    $( "#inici, #final" ).datepicker({ 
                        dateFormat: "dd/mm/yy", 
                        minDate: new Date({{ ActuacioTriada.1.inici | date("Y") }}, {{ ActuacioTriada.1.inici | date("m") }} - 1, {{ ActuacioTriada.1.inici | date("d") }}), 
                        maxDate: new Date({{ ActuacioTriada.1.final | date("Y") }}, {{ ActuacioTriada.1.final | date("m") }} - 1, {{ ActuacioTriada.1.final | date("d") }}),

                    });

                {% endif %}


                function carregarequip(actuacio){

                    $(".equipdetreball").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                    $(".equipdetreball").load("{{ app.request.basepath }}/load",{o:50, id:'{{RegistreTasca.1.id}}' ,c:{a:actuacio} });   

                }

                carregarequip('{{RegistreTasca.1.clau_actuacio}}');

                $(document).off('change',".clau_projecte").on("change",".clau_projecte",function(event){

                    {# Per esborrar les dades de les dates si canvien de projecte. TODO: recarregar aquest formulari. #}
                    $("#inici").val("");
                    $("#final").val("");
                    $(".calcdadesanys").click();
                   
                });


                function initMap() {

                         var lati = 41.4481989;
                         var lngi = 2.2371684;

                         var markersArray = [];


                         {# si ja tinc coordenades #}
                         {% if RegistreTasca.1.lat !=  "" %}
                             lati = {{RegistreTasca.1.lat}};
                             lngi = {{RegistreTasca.1.lng}};
                             var myLatLng = {lat: lati, lng: lngi};
                         {% endif %}

                         var map = new google.maps.Map(document.getElementById('mapa'), {
                           center: {lat: lati, lng: lngi},
                           zoom: 13
                         });

                         

                         var input = /** @type {!HTMLInputElement} */(
                             document.getElementById('pac-input'));

                         var types = document.getElementById('type-selector');
                         map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
                         map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

                         var autocomplete = new google.maps.places.Autocomplete(input);
                         autocomplete.bindTo('bounds', map);

                         var infowindow = new google.maps.InfoWindow();
                         var marker = new google.maps.Marker({
                           map: map,
                           {% if RegistreTasca.1.lat !=  "" %}
                             position: myLatLng,
                           {% endif%}
                           anchorPoint: new google.maps.Point(0, -29)
                         });

                         autocomplete.addListener('place_changed', function() {
                           infowindow.close();
                           deleteOverlays();

                           marker.setVisible(false);

                           var place = autocomplete.getPlace();
                           if (!place.geometry) {
                             window.alert("Autocomplete's returned place contains no geometry");
                             return;
                           }

                           // If the place has a geometry, then present it on a map.
                           if (place.geometry.viewport) {
                             map.fitBounds(place.geometry.viewport);
                           } else {
                             map.setCenter(place.geometry.location);
                             map.setZoom(17);  // Why 17? Because it looks good.
                           }
                           marker.setIcon(/** @type {google.maps.Icon} */({
                             url: place.icon,
                             size: new google.maps.Size(71, 71),
                             origin: new google.maps.Point(0, 0),
                             anchor: new google.maps.Point(17, 34),
                             scaledSize: new google.maps.Size(35, 35)
                           }));
                           $("#coordenades").val(place.geometry.location);
                           marker.setPosition(place.geometry.location);
                           marker.setVisible(true);

                           var address = '';
                           if (place.address_components) {
                             address = [
                               (place.address_components[0] && place.address_components[0].short_name || ''),
                               (place.address_components[1] && place.address_components[1].short_name || ''),
                               (place.address_components[2] && place.address_components[2].short_name || '')
                             ].join(' ');
                           }

                           infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                           infowindow.open(map, marker);
                         });

                         // Sets a listener on a radio button to change the filter type on Places
                         // Autocomplete.
                         function setupClickListener(id, types) {
                           var radioButton = document.getElementById(id);
                           radioButton.addEventListener('click', function() {
                             autocomplete.setTypes(types);
                           });
                         }

                         setupClickListener('changetype-all', []);


                         // Permetre marcar punts al mapa.
                         google.maps.event.addListener(map, 'click', function(event) {
                            placeMarker(event.latLng);
                         });

                         function placeMarker(location) {

                             deleteOverlays();

                             $("#coordenades").val(location);

                             var marker = new google.maps.Marker({
                                 position: location, 
                                 map: map
                             });

                             // add marker in markers array
                             markersArray.push(marker);

                             //map.setCenter(location);
                         }

                         // Deletes all markers in the array by removing references to them
                         function deleteOverlays() {
                             marker.setVisible(false); // Punter del autocomplete.
                             if (markersArray) {
                                 for (i in markersArray) {
                                     markersArray[i].setMap(null);
                                 }
                             markersArray.length = 0;
                             }
                         }
                     }


            {% endif %}

            $(document).off('change',".clau_projecte").on("change",".clau_projecte",function(event){

                  var id = $(this).val();
                  
                  $(".divactuacions").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                  $(".divactuacions").load("{{ app.request.basepath }}/load",{o:10, id:id, t: '',c:{a:'{{ida|default('')}}'}});   


            });

            



            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmtasques").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmtasques.verif.value = "ok";
                    var table = $('.dataTables').DataTable();
                    var dadestaules = table.$('input, select').serialize();
                    var stringdades = $("#frmtasques").serialize();
                    stringdades = stringdades + "&" +dadestaules;
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resulttasques").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resulttasques").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.errortasques span").html("");
                                    $("#resulttasques").fadeIn('slow');
                                    $("#resulttasques").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idtasca").val(dades[1]);
                                    //$(".panelldadestasques").toggle();
                                    $("#divcamps").html('<div  style="text-align: center;"><img src="{{ app.request.basepath }}/images/loading.gif" /></div>');
                                    $("#divcamps").load("{{ app.request.basepath }}/load", {id: dades[1], o: 3, t: 3});
                                    $(".tancaract").click();
                                    $(".modaltancat").click();
                                    $(".llistat_3").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "3"}, function(){
                    
                                    });
                                    setTimeout( function(){ 
                                        $("#resulttasques").fadeOut('slow');
                                    } ,3000 );
                                }else{
                                    $("#resulttasques").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errortasques span").html(cuadre);
                        $("div.errortasques").show();
                    } else {
                        $("div.errortasques").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


            $( ".datepicker" ).datepicker({ dateFormat: "dd/mm/yy" });

            $(function($){
                $.datepicker.regional['es'] = {
                    closeText: 'Cerrar',
                    prevText: '<Ant',
                    nextText: 'Sig>',
                    currentText: 'Hoy',
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.regional['ca'] = {
                    closeText: 'Tancar',
                    prevText: '<Ant',
                    nextText: 'Seg>',
                    currentText: 'avui',
                    monthNames: ["Gener", "Febrer", "Març", "Abril", "Maig", "Juny", "Juliol", "Agost", "Setembre", "Octubre", "Novembre", "Desembre"],
                    monthNamesShort: ["Gen", "Feb", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Des"],
                    dayNames: ["Diumenge", "Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres", "Dissabte"],
                    dayNamesShort: ["Diu",  "Dil", "Dmt", "Dmc", "Dij", "Div", "Dis"],
                    dayNamesMin: ["dg", "dl", "dt", "dc", "dj", "dv", "ds"],
                    weekHeader: 'Sm',
                    dateFormat: 'dd/mm/yy',
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: ''
                };
                $.datepicker.setDefaults($.datepicker.regional['ca']);
            });


            $(".dataTables1, .dataTables2").dataTable( {
                "language": {
                    "url": "{{ app.request.basepath }}/js/plugins/dataTables/dataTables.catala.lang"
                }
            } );


           $('.textarea_tasc1').wysihtml5();


           $('.tree li > span').on('click', function (e) {
                
                var children = $(this).parent('li').find(' > ul');
                if (children.is(":visible")) {
                    children.hide('fast');
                } else {
                    children.show('fast');
                }
                e.stopPropagation();
            });

            $('.tree li > span').parent('li').find(' > ul').hide('fast');
            
            // desplegar districtes marcats.
            {#  Si volem desplegar el districte que tingui algun barri marcat, hauriem de buscar aquí parent_id.#}
            {% if RegistreTasca.1.id is defined %}

                {% set districtes = RegistreTasca.1.districtes|replace({'"': '','[':'',']':''}) %}
                {% set districtes = districtes|split(',') %}

                {% if districtes is iterable %}
                    {% for d in districtes %}
                        $(".districte_{{d}}").parent('li').find(' > ul').show('fast');
                    {% endfor %}
                {% endif %}


            {% endif %}


            setTimeout(function () {
                $('html, body').animate({ scrollTop: 0 }, 0);
            }, 10);

      });

    {% if RegistreTasca.1.id is defined %}

      
        var $scrollingDiv = $(".nussup");
        var $scrollingDivtext = $(".linus");

        var projecte = $(".clau_projecte option:selected").text();
        var idprojecte = $(".clau_projecte").val();
        var actuacio = $(".clau_actuacio option:selected").text();
        var idactuacio = $(".clau_actuacio").val();
       
        $scrollingDivtext.html("<a href='{{ app.request.basepath }}/6/projectes.html?id=" + idprojecte + "' >" + projecte + "</a> " + " > <a href='{{ app.request.basepath }}/7/actuacions.html?id="+ idactuacio + "' >" + actuacio + "</a> " + " > " + "<b>{{RegistreTasca.1.titol|raw}}</b> {% if ( mostrarboto == true )   %}<button class=\"btn btn-primary btn-sm btnguardarflotant\" type=\"button\">{% if RegistreTasca.1.id is defined %}{{ "Guardar" | trans }}{% else %}{{ "Continuar" | trans }}{% endif %}</button>{% endif %}");

         $scrollingDiv
                    .fadeIn()
                    .css("position",'fixed' )  
                    .css("top",'65px' )  

        /*

        $(window).scroll(function(){     
            if ($(window).scrollTop()>50)       {

                $scrollingDiv
                    .fadeIn()
                    .css("position",'fixed' )  
                    .css("top",'65px' )           
            } else {
                $scrollingDiv
                    .css("position",'' )    
                    .css("top",'' )   
                    .hide()  //.fadeOut()          
            }
        });
        */


    {% endif %}
     
    </script>

    <style type="text/css">
        .nussup{
            left:14px;
        }
    </style>


        {% if RegistreTasca.1.id is defined %}
            {% set titol = "Detalls passos" | trans | raw %}
            {% set codi = "modalpassos" %}
            {% include "formmodal.html" %}
        {% endif %} 