<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="web-barcelona.com">

    <title>Project Monitor Local</title>

    <link href="{{ app.request.basepath }}/css/bootstrap.min.l.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/web-barcelona-com-admin.l.css" rel="stylesheet">

    <link href="{{ app.request.basepath }}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="{{ app.request.basepath }}/favicon.ico"/>


</head>

<body>
    
     <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              
                <a class="navbar-brand topnav" href="index.html" style="padding-top: 3px;"><img src="{{ app.request.basepath }}/images/client_ext.png"  /></a>
            </div>
        </div>
        <!-- /.container -->
    </nav>


   
    <!-- /.content-section-b -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
            
              

                <div class="col-lg-12">
                  <h1>{{ "Termes i condicions" | trans }} <small></small></h1>
                  
                </div>
    
                    

            </div>

            <div class="row">
                <div class="col-lg-12">
                    
                    {% if idioma == "ca" %}


                        <b>1.  DADES IDENTIFICATIVES</b>: En compliment amb el deure d'informació recollit a l'article 10 de la Llei 34/2002, d'11 de juliol, de Serveis de la Societat de la Informació i del Comerç Electrònic, a continuació es reflecteixen les següents dades: l'empresa titular del domini web és EMPRESA SA (en endavant NOM EMPRESA), amb domicili a aquests efectes al Carrer ....., 08001 de Barcelona, amb número de C.I.F.: XXXXXXXXXX inscrita al Registre Mercantil de Barcelona, volum XX.XXX del Llibre de Societats, foli XX. 
                        Correu electrònic de contacte: mail@mail.com
                        <br><br>
                        <b>2.  USUARIS</b>: L'accés i/o ús d'aquest portal de NOM EMPRESA, creadora del lloc web, atribueix la condició d'USUARI, que acepta, des d'aquest accés i/o ús, les Condicions Generals d'Ús reflectides aquí. Les citades Condicions seran d'aplicació independentment de les Condicions Generals de Contractació que en el seu caso resulten d'obligat compliment. 
                        <br><br>
                        <b>3.  ÚS DEL PORTAL</b>: http://foment.projectmonitor.cat proporciona l'accés a multitud d'informacions, serveis, programes o dades (en endavant, "els continguts") a Internet pertanyents a NOM EMPRESA o als seus llicenciants als quals l'USUARI pugui tenir accés. L'USUARI assumeix la responsabilitat de l'ús del portal. Aquesta responsabilitat s'estén al registre que fos necessari accedir a determinats serveis o continguts. En aquest registre l'USUARI serà responsable d'aportar informació veraç i lícita. Com a  conseqüència d'aquest registre, a l'USUARI se li pot proporcionar una contrasenya de la qual serà responsable, i es comprometrà a fer-ne un ús diligent i confidencial. L'USUARI es compromet a fer un ús adequat dels continguts i serveis (com per exemple serveis de xat, fòrums de discussió o grups de notícies) que NOM EMPRESA ofereix a través del seu portal i amb caràcter enunciatiu però no limitatiu, a no emprar-los per a (i) incórrer en actividats il·lícites, il·legals o contràries a la bona fe i a l'ordre públic; (ii) difondre continguts o propaganda de caràcter racista, xenòfob, pornogràfic-il·legal, d'apologia del terrorisme o atemptatori contra els drets humans; (iii) provocar danys als sistemes físics i lògics de NOM EMPRESA, dels seus proveïdors o de terceres persones, introduir o difondre a la xarxa virus informàtics o qualssevol altres sistemes físics o lògics que siguin susceptibles de provocar els danys anteriorment esmentats; (iv) intentar accedir i, en el seu cas, utilitzar els comptes de correu electrònic d'altres usuaris i modificar o manipular llurs missatges. NOM EMPRESA es reserva el dret de retirar tots aquells comentaris i aportacions que vulneren el respecte a la dignitat de la persona, que siguin discriminatoris, xenòfobs, racistes, pornogràfics, que atempten contra la juventut o la infància, l'ordre o la seguretat pública o que, al seu judici, no resultessin adequats per a la publicació. En qualsevol cas, NOM EMPRESA no serà responsable de les opinions vessades pels usuaris a través dels fòrums, xats, o altres eines de participació. 
                        <br><br>
                        <b>4.  PROTECCIÓ DE DADES</b>: NOM EMPRESA compleix amb les directrius de la Llei Orgànica 15/1999, de 13 de desembre de Protecció de Dades de Caràcter Personal, el Reial Decret 1720/2007, de 21 de desembre pel qual s'aprova el Reglament de desenvolupament de la Llei Orgànica i altra normativa vigent en cada moment, i vetlla per garantir un correcto ús i tractament de les dades personals de l'usuari. Així, juntament amb cada formulari de recollida de dades de caràcter personal, en els serveis que l'usuari pugui sol·licitar a NOM EMPRESA, haurà de fer saber de l'existència i acceptació de les condicions particulars del tractament de les seves dades en cada cas, tot informant-lo de la responsabilitat del fitxer creat, la direcció del responsable, la possibilitat d'exercir els seus drets d'accés, rectificació, cancel·lació o oposició, la finalitat del tractament i les comunicacions de dades a tercers en el seu cas. Així mateix, NOM EMPRESA informa que dóna compliment a la Ley 34/2002 d'11 de juliol, de Serveis de la Societat de la Informació i el Comerç Electrònic i li solicitarà el seu consentiment al tractament del seu correu electrònic amb fins comercials en cada moment.
                        <br><br>
                        <b>5.  PROPIETAT INTEL·LECTUAL I INDUSTRIAL</b>: NOM EMPRESA per si mateixa o com a cessionària, és titular de tots els drets de propietat intel·lectual i industrial de la seva pàgina web, així com dels elements continguts en aquesta (a títol enunciatiu, imatges, so, àudio, vídeo, software o textos; marques o logotips, combinacions de colors, estructura i disseny, selecció de materials usats, programes d'ordinador necessaris per al seu funcionament, accés i ús, etc.), titularitat de NOM EMPRESA o bé dels seus llicenciants. Tots els drets resevats. En virtut d'allò disposat als articles 8 i 32.1, paràgraf segon, de la Llei de Propietat Intel·lectual, queden expressament prohibides la reproducció, la distribució i la comunicació pública, inclosa la modalitat de posada a disposició, de la totalitat o part dels conteninguts d'aquesta pàgina web, amb fins comercials, en qualsevol suport i per qualsevol mitjà tècnic, sense l'autorització de NOM EMPRESA. L'USUARI es compromet a respectar els drets de Propietat Intel·lectual i Industrial titularitat de NOM EMPRESA. Podrà visualitzar els elements del portal i àdhuc imprimir-los, copiar-los i emmagatzemar-los en el disc dur del seu ordinador o en qualsevol altre suport físic sempre i quan sigui, únicament i exclusiva, per al seu ús personal i privat. L'USUARI haurà d'abstenir-se de suprimir, alterar, eludir o manipular qualsevol dispositiu de protecció o sistema de seguretat que estigués instal·lat a les pàgines de NOM EMPRESA.
                        <br><br>
                        <b>6.  EXCLUSIÓ DE GARANTIES I RESPONSABILITAT</b>: NOM EMPRESA no es fa responsable, en cap cas, dels danys i perjudicis de qualsevol naturalesa que poguessin ocasionar, a títol enunciatiu: errors o omissions en els continguts, falta de disponibilitat del portal o la transmissió de virus o programes maliciosos o lesius en els continguts, a pesar d'haver adoptat totes els mesures tecnològiques necessàries per evitar-ho.
                        <br><br>
                        <b>7.  MODIFICACIONS</b>: NOM EMPRESA es reserva el dret d‘efectuar sense previ avís les modificacions que consideri oportunes al seu portal, i podrà canviar, suprimir o afegir tant els continguts i serveis que se prestin a través de la mateixa com la forma en què aquests apareguin presentats o localitzats al seu portal. 
                        <br><br>
                        <b>8.  ENLLAÇOS</b>: En cas que foment.projectmonitor.cat es disposessin enllaços o hipervincles cap a altres llocs d'Internet,  NOM EMPRESA no exercirà cap tipus de control sobre aquests llocs i continguts. En cap cas NOM EMPRESA assumirà cap responsabilitat pels continguts d'algun enllaç pertanyent a un lloc web aliè, ni garantirà la disponibilitat tècnica, qualitat, fiabilitat, exactitud, amplitud, veracitat, validesa i constitucionalitat de qualsevol material o informació continguda en cap d'aquests hipervincles o altres llocs d'Internet. Igualment la inclusió d'aquestes connexions externes no implicarà cap tipus d'associació, fusió o participació amb les entitats connectades. 
                        <br><br>
                        <b>9.  DRET D'EXCLUSIÓ</b>: NOM EMPRESA es reserva el dret a denegar o retirar l'accés al portal i/o els serveis oferts sense necessitat de preavís, a instància pròpia o d'un tercer, a aquells usuaris que incompleixin les presents Condicions Generals d'Ús. 
                        <br><br>
                        <b>10.  GENERALITATS</b>: NOM EMPRESA perseguirà l'incompliment de les presents condicions així com qualsevol utilització indeguda del seu portal exercint totes las accions civils i penals que li puguin correspondre en dret. 
                        <br><br>
                        <b>11.  MODIFICACIÓ DE LES PRESENTS CONDICIONS I DURADA</b>: NOM EMPRESA podrà modificar en qualsevol moment les condicions aquí determinades, essent degudament publicades com aquí apareixen. La vigència de les citades condicions anirà en funció de la seva exposició i estaran vigents fins que siguin modificades per altres degudament publicades. 
                        <br><br>
                        <b>12.  LEGISLACIÓ APLICABLE I JURISDICCIÓ</b>: La relació entre NOM EMPRESA i l'USUARI es regirà per la normativa espanyola vigent i qualsevol controvèrsia es sotmetrà als Jutjats i tribunals de la ciudad de Barcelona.


                                                <br><br>


                    {% else %}


                        

                        <b>1.  DATOS IDENTIFICATIVOS</b>: En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, a continuación se reflejan los siguientes datos: la empresa titular de dominio web es EMPRESA SA (en adelante NOM EMPRESA), con domicilio a estos efectos en Carrer ....., 08001 de Barcelona de C.I.F.: .: XXXXXXXXXX inscrita en el Registro Mercantil de Barcelona en el tomo XX.XXX del Libro de Sociedades, folio XX.
                               Correo electrónico de contacto: mail@mail.com 
                        <br><br>
                        <b>2. USUARIOS</b>: El acceso y/o uso de este portal de NOM EMPRESA, creadora del sitio web, atribuye la condición de USUARIO, que acepta, desde dicho acceso y/o uso, las Condiciones Generales de Uso aquí reflejadas.Las citadas Condiciones serán de aplicación independientemente de las Condiciones Generales de Contratación que en su caso resulten de obligado cumplimiento. 
                        <br><br>
                        <b>3. USO DEL PORTAL</b>: http://foment.projectmonitor.cat proporciona el acceso a multitud de informaciones, servicios, programas o datos (en adelante, "los contenidos") en Internet pertenecientes a NOM EMPRESA o a sus licenciantes a los que el USUARIO pueda tener acceso. El USUARIO asume la responsabilidad del uso del portal. Dicha responsabilidad se extiende al registro que fuese necesario para acceder a determinados servicios o contenidos. En dicho registro el USUARIO será responsable de aportar información veraz y lícita. Como consecuencia de este registro, al USUARIO se le puede proporcionar una contraseña de la que será responsable, comprometiéndose a hacer un uso diligente y confidencial de la misma. El USUARIO se compromete a hacer un uso adecuado de los contenidos y servicios (como por ejemplo servicios de chat, foros de discusión o grupos de noticias) que NOM EMPRESA ofrece a través de su portal y con carácter enunciativo pero no limitativo, a no emplearlos para (i) incurrir en actividades ilícitas, ilegales o contrarias a la buena fe y al orden público; (ii) difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico-ilegal, de apología del terrorismo o atentatorio contra los derechos humanos; (iii) provocar daños en los sistemas físicos y lógicos de NOM EMPRESA, de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados; (iv) intentar acceder y, en su caso, utilizar las cuentas de correo electrónico de otros usuarios y modificar o manipular sus mensajes. NOM EMPRESA se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren el respeto a la dignidad de la persona, que sean discriminatorios, xenófobos, racistas, pornográficos, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación. En cualquier caso, NOM EMPRESA no será responsable de las opiniones vertidas por los usuarios a través de los foros, chats, u otras herramientas de participación. 
                        <br><br>
                        <b>4. PROTECCIÓN DE DATOS</b>: NOM EMPRESA cumple con las directrices de la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal, el Real Decreto 1720/2007 de 21 de diciembre por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica y demás normativa vigente en cada momento, y vela por garantizar un correcto uso y tratamiento de los datos personales del usuario. Para ello, junto a cada formulario de recabo de datos de carácter personal, en los servicios que el usuario pueda solicitar a NOM EMPRESA, hará saber al usuario de la existencia y aceptación de las condiciones particulares del tratamiento de sus datos en cada caso, informándole de la responsabilidad del fichero creado, la dirección del responsable, la posibilidad de ejercer sus derechos de acceso, rectificación, cancelación u oposición, la finalidad del tratamiento y las comunicaciones de datos a terceros en su caso. Asimismo, NOM EMPRESA informa que da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y el Comercio Electrónico y le solicitará su consentimiento al tratamiento de su correo electrónico con fines comerciales en cada momento. 
                        <br><br>
                        <b>5. PROPIEDAD INTELECTUAL E INDUSTRIAL</b>: NOM EMPRESA por sí o como cesionaria, es titular de todos los derechos de propiedad intelectual e industrial de su página web, así como de los elementos contenidos en la misma (a título enunciativo, imágenes, sonido, audio, vídeo, software o textos; marcas o logotipos, combinaciones de colores, estructura y diseño, selección de materiales usados, programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.), titularidad de NOM EMPRESA o bien de sus licenciantes. Todos los derechos reservados. En virtud de lo dispuesto en los artículos 8 y 32.1, párrafo segundo, de la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de NOM EMPRESA. El USUARIO se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de NOM EMPRESA. Podrá visualizar los elementos del portal e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de s u ordenador o en cualquier otro soporte físico siempre y cuando sea, única y exclusivamente, para su uso personal y privad . El USUARIO deberá abstenerse de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera instalado en el las páginas de NOM EMPRESA. 
                        <br><br>
                        <b>6. EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</b>: NOM EMPRESA no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad del portal o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo. 
                        <br><br>
                        <b>7. MODIFICACIONES</b>: NOM EMPRESA se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su portal, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en su portal. 
                        <br><br>
                        <b>8. ENLACES</b>: En el caso de que en foment.projectmonitor.cat se dispusiesen enlaces o hipervínculos hacía otros sitios de Internet, NOM EMPRESA no ejercerá ningún tipo de control sobre dichos sitios y contenidos. En ningún caso NOM EMPRESA asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a un sitio web ajeno, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, amplitud, veracidad, validez y constitucionalidad de cualquier material o información contenida en ninguno de dichos hipervínculos u otros sitios de Internet. Igualmente la inclusión de estas conexiones externas no implicará ningún tipo de asociación, fusión o participación con las entidades conectadas. 
                        <br><br>
                        <b>9. DERECHO DE EXCLUSIÓN</b>: NOM EMPRESA se reserva el derecho a denegar o retirar el acceso a portal y/o los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que incumplan las presentes Condiciones General es de Uso. 
                        <br><br>
                        <b>10. GENERALIDADES</b>: NOM EMPRESA perseguirá el incumplimiento de las presentes condiciones así como cualquier utilización indebida de su portal ejerciendo todas las acciones civiles y penales que le puedan corresponder en derecho. 
                        <br><br>
                        <b>11. MODIFICACIÓN DE LAS PRESENTES CONDICIONES Y DURACIÓN</b>: NOM EMPRESA podrá modificar en cualquier momento las condiciones aquí determinadas, siendo debidamente publicadas como aquí aparecen. La vigencia de las citadas condiciones irá en función de su exposición y estarán vigentes hasta que sean modificadas por otras debidamente publicadas. 
                        <br><br>
                        <b>12. LEGISLACIÓN APLICABLE Y JURISDICCIÓN</b>: La relación entre NOM EMPRESA el USUARIO se regirá por la normativa española vigente y cualquier controversia se someterá a los Juzgados y tribunales de la ciudad de Barcelona.

                            <br><br>


                    {% endif %}
                    
                             

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Project Monitor Local 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ app.request.basepath }}/js/jquery.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ app.request.basepath }}/js/validations.js"></script>

   
</body>

</html>
