
{% if Upfiles.1.id is defined %}
    

    <form role="form" action="editup" method="post" name="frmup" id="frmup">

        <div style="display: none;">
            <input name="idp" value="998" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
            <input name="verif" value="" type="hidden" />
            <input name="id" id="idup" value="{% if Upfiles.1.id is defined %}{{ Upfiles.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if Upfiles.1.idx is defined %}{{ Upfiles.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 998 %}{{idpx|md5}}" type="hidden" />
        </div>


        <div class="col-lg-7">
            <label>{{ "Descripció" | trans }}</label>
            <textarea class="form-control" rows="6" name="descripcio_ca" id="descripcio_ca" >{% if Upfiles.1.descripcio_ca is defined %}{{ Upfiles.1.descripcio_ca | raw }}{% endif %}</textarea>
        </div>
        
        {#
        {% if Upfiles.1.taula is defined %}
            {% if Upfiles.1.taula == "projectes" or Upfiles.1.taula == "actuacions" or Upfiles.1.taula == "tasques" %}
                <div class="row">
                  <div class="col-lg-12">

                    <div class="form-group">
                        <div class="checkbox">
                          <label><input name="principal" value="1" type="checkbox"  {% if Upfiles.1.principal is defined %}{% if Upfiles.1.principal == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} /><b>{{ "Imatge principal" | trans }}</b></label>
                        </div>
                    </div>

                  </div>
                </div>
            {% endif %}
        {% endif %}
        #}

        <div class="form-group">
            <div class="errorup"><span></span></div>
        </div>

        <div class="row">
          <div class="col-lg-12">

               <div id="resultup" class="amagamissatges"></div>

          </div>
        </div>

        <br>

        <button class="btn btn-primary" type="submit">{{ "Guardar" | trans }}</button>
        <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>

        
    </form>

        
    
    <script type="text/javascript">
      $(document).ready(function($) {

            

            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmup").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmup.verif.value = "ok";
                    var stringdades = $("#frmup").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultup").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultup").html(data);
                                var dades = jQuery.parseJSON(data);

                                if (dades[0] == 1){
                                    $("div.errorup span").html("");
                                    $("#resultup").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    
                                    $(".modaltancar").click();
                                    //$(".llistat_46").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "46", c:{'em':'si','mod':'modalpassos', 'ctf':'{{ctf}}' }}, function(){});
                                }else{
                                    $("#resultup").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorup span").html(cuadre);
                        $("div.errorup").show();
                    } else {
                        $("div.errorup").hide();
                    }
                },
                onkeyup: false,
                debug:true
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


           {# $('.textarea_up').wysihtml5(); #}

      });
    </script>

{% else %}

        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/jquery.fileupload.css">
        <div class="row">

            <div class="col-lg-12">
                <div class="form-group">

                	<input name="t" type="hidden" value="{{tf}}" id="t_u" />
                	<input name="id" type="hidden" value="{{ctf}}" id="ctf_u" />

        			<span class="btn btn-success fileinput-button">
        			    <i class="glyphicon glyphicon-plus"></i>
        			    <span>Selecciona els fitxers...</span>
        			    <!-- The file input field used as target for the file upload widget -->
        			    <input id="fileupload" type="file" name="files[]" multiple />
        			</span>
        			<br>
        		    <br>
        		    <!-- The global progress bar -->
        		    <div id="progress" class="progress">
        		        <div class="progress-bar progress-bar-success"></div>
        		    </div>
        		    <!-- The container for the uploaded files -->
        		    <div id="files" class="files"></div>
        		    <br>

                </div>
            </div>

            <div class="col-lg-12">
                <button type="button" class="btn btn-default tancar modaltancar" data-dismiss="modal">{{ "Tancar" | trans }}</button>
            </div>

        </div>


        <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
        <script src="{{ app.request.basepath }}/js/jquery.ui.widget.js"></script>
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="{{ app.request.basepath }}/js/jquery.iframe-transport.js"></script>
        <!-- The basic File Upload plugin -->
        <script src="{{ app.request.basepath }}/js/jquery.fileupload.js"></script>

        <script>
        /*jslint unparam: true */
        /*global window, $ */
        $(function () {
            'use strict';
            // Change this to the location of your server-side upload handler:
            var url = '{{ app.request.basepath }}/up';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                add: function(e, data) {
                        var uploadErrors = [];
                        var acceptFileTypes = /(\.|\/)(gif|jpe?g|png|xls|xlsx|pdf|doc|docx|ppt|pptx)$/i; 
                        if(data.originalFiles[0]['type'].length && !acceptFileTypes.test(data.originalFiles[0].name)) {
                            uploadErrors.push('Tipus de fitxer no permés');
                        }
                        if( data.originalFiles[0]['size'] > 100000000) { // && data.originalFiles[0]['size'].length
                            uploadErrors.push('Arxiu massa gran.');
                        }
                        if(data.originalFiles[0]['type'].length == 0)
                        {
                            uploadErrors.push('Tipus de fitxer no permés');
                        }
                        if(uploadErrors.length > 0) {
                            alert(uploadErrors.join("\n"));
                        } else {
                            data.submit();
                        }
                },
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo('#files');
                        $(".llistat_12").html("<img src=\'{{ app.request.basepath }}/images/loadingg.gif\'/>");
                        $(".llistat_12").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "12", c:{'em':'si','mod':'modalprojectes', 'ctf':'{{ctf}}', 'ctf2':'{{tf}}'}}, function(){});
                    });
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                .parent().addClass($.support.fileInput ? undefined : 'disabled');


            $('#fileupload').bind('fileuploadsubmit', function (e, data) {
        	    // The example input, doesn't have to be part of the upload form:
        	    var t_u = $('#t_u');
        	    var ctf_u = $('#ctf_u');
        	    data.formData = {t: t_u.val(), ctf: ctf_u.val()};
        	    if (!data.formData.t) {
        	      data.context.find('button').prop('disabled', false);
        	      input.focus();
        	      return false;
        	    }
        	});

        });

        </script>

{% endif %}