 <div class="form-group">
<div class="col-md-12 clearfix">
      
    <div id="gallery" >
      
          {% for u in Upfiles %}
            {% if u.nomfile is not empty %}
                <div class="images item2 " > <img src="{{ app.request.basepath }}/images/{{u.taula}}/{{u.nomfile}}" alt="" width="" />
                	 <button type="button" class="btn btn-danger btn-lg eliminarimg" style="margin-top:5px;" data-id="{{u.id}}" data-p="{{u.taula}}" data-clauid="{{u.clau_id}}" ><i class="fa fa-trash-o"></i></button>
                </div><br>
            {% endif %}
          {% endfor %}
      

    </div>
    
</div>
</div>


  <script>

    $(document).ready(function() {
      

          $(".eliminarimg").click(function(event){

                  event.preventDefault();

                  if (confirm("Segur que vols eliminar el registre?"))
                  {
                        var id = $(this).data( "id" );
                        var taula = "12";


                        $("#divpopup").load("{{ app.request.basepath }}/load",{o:4,id:id, t: taula, c:{p:'uploadview'} }, function() {
                            
                            $("#galeriaimatges").html('<div style="text-align:center; padding:15px;"><img src="{{ app.request.basepath }}/images/loadingg.gif"/></div>');
                            $("#galeriaimatges").load('{{ app.request.basepath }}/load', {id: 1, o: 3, t: "12"} );
                            $(".llistat_12").html("<img src=\'{{ app.request.basepath }}//images/loading.gif\'/>");
                            $(".llistat_12").load("{{ app.request.basepath }}/load",{o:2,id:1,t:12,c:{ ctf:1, ctf2:9999}}, function(){});
                            $(".butoupload").show();



                        });
                        return true;
                  }

          });


      });

    {% if Upfiles.1.id is defined %}

        {% if (Upfiles.1.taula == "login") and (Upfiles.1.nomfile != "")  %}
          
            $(".butoupload").hide();

        {% endif %}  

    {% endif %}


  </script>

