
	

    <form role="form" action="dades-pla-g" method="post" name="frmusuaris" id="frmusuaris">

    	<div style="display: none;">
    		<input name="idp" value="3" type="hidden" />
            <input name="authToken" type="hidden" value="{{ app.session.get('tockenseguretat') }}" />
			<input name="verif" value="" type="hidden" />
			<input name="id" id="idusuari" value="{% if RegistreU.1.id is defined %}{{ RegistreU.1.id | raw }}{% endif %}" type="hidden" />
            <input name="idx" id="idx"  value="{% if RegistreU.1.idx is defined %}{{ RegistreU.1.idx | raw }}{% endif %}" type="hidden" />
            <input name="idpx" id="idpx"  value="{% set idpx=constant('General::tockenid') ~ 3 %}{{idpx|md5}}" type="hidden" />
            <input name="env" id="env" value="" type="hidden" />
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>{{ "Permisos" | trans }}</label>
                    <select class="form-control required" name="clau_permisos" >
                      <option value="" {% if RegistreU.1.clau_permisos is defined %}{% if RegistreU.1.clau_permisos == 0%}selected{% endif %}{% endif %}>{{ "Seleccioni" | trans }}</option>
                        
                        {% for d in Permisos|reverse %}
                            <option value="{{ d.id }}" {% if RegistreU.1.clau_permisos is defined %}{% if RegistreU.1.clau_permisos == d.id %}selected{% endif %}{% endif %}>{{ d.nom_ca | raw }}</option>
                        {% endfor %}
                      
                    </select>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label>{{ "Nom" | trans }}</label>
            <input class="form-control required" name="nom" id="nom" value="{% if RegistreU.1.nom is defined %}{{ RegistreU.1.nom | raw }}{% endif %}" />
        </div>
        <div class="form-group">
            <label>{{ "Cognoms" | trans }}</label>
            <input class="form-control" name="cognoms" id="cognoms" value="{% if RegistreU.1.cognoms is defined %}{{ RegistreU.1.cognoms | raw }}{% endif %}" />
        </div>
        <div class="form-group">
            <label>{{ "Telèfon/s directe/s" | trans }}</label>
            <input class="form-control" name="telefon" id="telefon" value="{% if RegistreU.1.telefon is defined %}{{ RegistreU.1.telefon | raw }}{% endif %}" />
        </div>
        <div class="form-group">
            <label>{{ "Càrrec/Funció" | trans }}</label>
            <input class="form-control" name="carrec" id="carrec" value="{% if RegistreU.1.carrec is defined %}{{ RegistreU.1.carrec | raw }}{% endif %}" />
        </div>
        <div class="form-group">
            <label>{{ "Usuari / Correu electrònic" | trans }}</label>
            <input class="form-control email" name="email" id="email" value="{% if RegistreU.1.email is defined %}{{ RegistreU.1.email | raw }}{% endif %}" />
        </div>
        <div class="form-group">
            <label>{{ "Password" | trans }}</label>  <button type="button" class="btn btn-default btn-xs genpassw" >{{ "Generar nou password" | trans}}</button>
            <input type="password" class="form-control" name="passw" id="passw" value="" pattern=".{6,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Longitud mínima 6 carácteres.' : ''); if(this.checkValidity()) form.passw2.pattern = this.value;" maxlenght="20" />
        </div>
        <div class="form-group">
            <label>{{ "Repetir Password" | trans }}</label>
            <input type="password" class="form-control" name="passw2" id="passw2" value="" pattern=".{6,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Las contraseñas no coinciden' : '');" maxlenght="20" />
        </div>


        <div class="form-group">
            <label>{{ "Observacions" | trans }}</label>
            <textarea class="form-control" rows="6" name="descripcio_ca" id="descripcio_ca" >{% if RegistreU.1.descripcio is defined %}{{ RegistreU.1.descripcio | raw }}{% endif %}</textarea>
        </div>

        <div class="row">
            <div class="col-lg-12">        
                
                <div class="panel panel-primary">

                    <div class="panel-heading">{{ "Vinculació orgànica" | trans }}
                      
                    </div>
                    <div class="panel-body">
                        
                        <div class="form-group">

                            <div class="tree well">
                                <ul>


                                    {% if RegistreU.1.id is defined %}
                                         {% set organse = RegistreU.1.organse|replace({'"': '','[':'',']':''}) %}
                                         {% set organse = organse|split(',') %}

                                    {% endif %}
                                  

                                    {% for d in Organse if (d.nivell == 1) %}

                                        <li>
                                            <span class="organse_{{d.id}}"><i class="fa fa-folder-open-o"></i> {{d.titol|raw}}  <input type="checkbox"  name="organse[]" value="{{d.id}}" {% if RegistreU.1.id is defined %}{% if d.id in organse  %}checked=true{% endif %}{% endif %} /> </span>
                                            <ul>
                                                {% for b in Organse if (b.nivell == 2) and (b.parent_id == d.id) %}

                                                    <li>
                                                        <span class="organse_{{b.id}}"><i class="fa fa-tags"></i> {{b.titol|raw}} <input type="checkbox"  name="organse[]" value="{{b.id}}" {% if RegistreU.1.id is defined %}{% if b.id in organse  %}checked=true{% endif %}{% endif %} /></span>

                                                        <ul>
                                                            {% for c in Organse if (c.nivell == 3) and (c.parent_id == b.id) %}

                                                                <li>
                                                                    <span class="organse_{{c.id}}"><i class="fa fa-tags"></i> {{c.titol|raw}} <input type="checkbox"  name="organse[]" value="{{c.id}}" {% if RegistreU.1.id is defined %}{% if c.id in organse  %}checked=true{% endif %}{% endif %} /></span>

                                                                </li>

                                                            {% endfor %}
                                                        </ul>

                                                    </li>

                                                {% endfor %}
                                            </ul>
                                        </li>

                                    {% endfor %}

                                </ul>

                            </div>

                        </div>

                    </div>
                </div>

               
            </div>
        </div>



        

        <div class="form-group">
            <label>{{ "Actiu" | trans }}</label>
            <div class="checkbox-inline">
              <label>
                <input name="estat" value="1" type="checkbox"  {% if RegistreU.1.estat is defined %}{% if RegistreU.1.estat == 1 %}checked="true"{% endif %}{% else %}checked="true"{% endif %} />
              </label>
            </div>
        </div>

        <div class="form-group">
        	<div class="errorusuaris"><span></span></div>
        </div>


        <button class="btn btn-primary guardu" type="submit">{{ "Guardar" | trans }}</button>
        
        {% if RegistreU.1.id is defined %}
            <button class="btn enviardades" type="button">{{ "Generar nou password i enviar" | trans }}</button>
        {% endif %}

        <div class="form-group">
            <div class="resultatenviar"><span></span></div>
        </div>
        
    </form>

   <script type="text/javascript">
      $(document).ready(function($) {

        

            jQuery.validator.messages.required = "<br>{{ "base.alerts.introvalor" | trans}}<br>";
            $("#frmusuaris").validate({
                errorElement: "em",
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent("div") );
                },
                success: function(label) {
                    //label.text("ok!").addClass("success");
                },
                //errorLabelContainer: $("div.error"),
                submitHandler: function(form) {
                    document.frmusuaris.verif.value = "ok";
                    var stringdades = $("#frmusuaris").serialize();
                        $.ajax({
                            type: "POST",
                            url: "{{ app.request.basepath }}/guardar",
                            data: stringdades,
                            beforeSend:function(){
                                $("#resultusuaris").html("<img src=\'{{ app.request.basepath }}/images/loading.gif\'/>");
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                // Error.
                            },
                            success: function(data){
                                $("#resultusuaris").html(data);
                                var dades = jQuery.parseJSON(data);
                                if (dades[0] == 1){
                                    $("div.errorusuaris span").html("");
                                    $("#resultusuaris").html("<div class=\"alert alert-dismissable alert-success\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>Registre modificat correctament.</div>");
                                    $("#idusuari").val(dades[1]);
                                    $(".panelldadesusuaris").toggle();
                                    var idoe = $("#idoe").val();
                                   
                                    $(".llistat_4").load("{{ app.request.basepath }}/load",{o:2,id:1, t: "4"}, function(){
                    
                                    });

                                    setTimeout( function(){ 
                                        $("#resultusuaris").fadeOut('slow');
                                    } ,3000 );
                                    
                                }else{
                                    $("#resultusuaris").html("<div class=\"alert alert-dismissable alert-danger\">Atenció! No s\'han guadat els canvis. Torni-ho a probar.</div>");
                                }
                            }
                        });
                    return false;
                },
                invalidHandler: function(e, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        var message = errors == 1
                            ? "Has oblidat 1 camp."
                            : "Has oblidat " + errors + " camps. ";

                        var cuadre = "<div class=\"alert alert-dismissable alert-danger\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" + message + "</div>";

                        $("div.errorusuaris span").html(cuadre);
                        $("div.errorusuaris").show();
                    } else {
                        $("div.errorusuaris").hide();
                    }
                },
                onkeyup: false,
                debug:true,
                rules: {
                    passw: {
                        minlength: 6
                    },
                    passw2: {
                        minlength: 6,
                        equalTo: "#passw"
                    },
                },
                messages: {
                    passw: {
                        minlength: "<br>Longitud mínima 6 caràcters.",
                    },
                    passw2: {
                        minlength: "<br>Longitud mínima 6 caràcters.",
                        equalTo: "<br>Els passwords no coincideixen."
                    },
                },
            });

            // a custom method making the default value for companyurl ("http://") invalid, widthout displaying the "invalid url" message
            jQuery.validator.addMethod("defaultInvalid", function(value, element) {
                return value != element.defaultValue;
            }, "");


            function password_generator( len ) {
                var length = (len)?(len):(10);
                var string = "abcdefghijklmnopqrstuvwxyz"; //to upper 
                var numeric = '0123456789';
                var punctuation = '!@#$%^&*()_+|:?.-=';
                var password = "";
                var character = "";
                var crunch = true;
                while( password.length<length ) {
                    entity1 = Math.ceil(string.length * Math.random()*Math.random());
                    entity2 = Math.ceil(numeric.length * Math.random()*Math.random());
                    entity3 = Math.ceil(punctuation.length * Math.random()*Math.random());
                    hold = string.charAt( entity1 );
                    hold = (entity1%2==0)?(hold.toUpperCase()):(hold);
                    character += hold;
                    character += numeric.charAt( entity2 );
                    character += punctuation.charAt( entity3 );
                    password = character;
                }
                return password;
            }

            

            $(document).off('click',".genpassw").on("click",".genpassw",function(event){

                var pas = password_generator();
                  
                $("#passw").val(pas);
                $("#passw2").val(pas);

            });


            {% if RegistreU.1.id is defined %}
           
        
                $(document).off('click',".enviardades").on("click",".enviardades",function(event){

                    var pas = password_generator();
                  
                    $("#passw").val(pas);
                    $("#passw2").val(pas);
                    $("#env").val('1');

                    $(".guardu").click();

                });

            {% endif %}

            // input[name='checkbox']
            $("input[name='vinculacio[]']").change(function () {
                $(this).parent('span').siblings('ul')
                    .find("input[type='checkbox']")
                    .prop('checked', this.checked);
            });

            $('.tree li > span').on('click', function (e) {
                
                var children = $(this).parent('li').find(' > ul');
                if (children.is(":visible")) {
                    children.hide('fast');
                } else {
                    children.show('fast');
                }


                //e.stopPropagation();
            });



            $('.tree li > span').parent('li').find(' > ul').hide('fast');

           
            /*
            $(":checkbox").change(function () {
                $(this).children(':checkbox').attr('checked', this.checked);
            });
            */

            {% if RegistreU.1.id is defined %}

                {% set organse = RegistreU.1.organse|replace({'"': '','[':'',']':''}) %}
                {% set organse = organse|split(',') %}

                {% if organse is iterable %}
                    {% for d in organse %}
                        $(".organse_{{d}}").parent('li').find(' > ul').show('fast');
                    {% endfor %}
                {% endif %}

                {% set vinculacio = RegistreU.1.vinculacio|replace({'"': '','[':'',']':''}) %}
                {% set vinculacio = vinculacio|split(',') %}

                {% if vinculacio is iterable %}
                    {% for d in vinculacio %}
                        {% set vinc = d|split('_') %}
                        {% if vinc.0 is defined %} $(".vinculacio_{{vinc.0}}").parent('li').find(' > ul').show('fast'); {% endif %}
                        {% if vinc.1 is defined %} 
                            $(".vinculacio_{{vinc.1}}").parent('li').find(' > ul').show('fast'); 
                            {#
                            {% for v in Vinculacio if v.id == vinc.1 %}
                                $(".vinculacio_{{v.parent_id}}").parent('li').find(' > ul').show('fast'); 
                            {% endfor %}
                            #}
                        {% endif %}
                    {% endfor %}
                {% endif %}

            {% endif %}

            


      });
    </script>